<main>
  <div class="inner-heading-sec position-relative">
    <div class="container">
      <div class="row pt-5">
        <div class="col-lg-8">
          <h1
            class="border-left-2px text-primary font-weight-bold display-3 mb-4"
          >
            Adjustable Rate<br class="d-none d-sm-block" />
            Mortgage
          </h1>
          <h4 class="text-muted font-weight-normal pb-4">
            ARMs allow you to get more for your money, taking advantage of low
            rates now. This might be the right loan for you if your income is on
            the rise, or if you plan to move or refinance in a few years.
          </h4>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
    <img
      class="special-img d-lg-block d-none"
      src="assets/images/Adjustable-rate-img.png"
      alt=""
    />
  </div>

  <div class="container">
    <section class="page-order-sec py-3">
      <p class="m-0 text-primary">
        Home <span class="mx-3 d-inline-block">Loan Option </span>
        <span class="text-muted mr-3 d-inline-block">
          30-Year fixed mortgage</span
        >
      </p>
    </section>
  </div>

  <section class="martgage-second-sec">
    <div class="p-r">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="box-30">
              <div class="small-box mb-3">
                <img src="assets/images/cash-payment.png" />
              </div>
              <h5 class="text-primary mb-3 font-weight-bold">
                Who 30-Year Fixed Loans <br />Are Best For
              </h5>
              <p class="text-muted mb-3">
                People who want lower monthly payments and an interest rate that
                never changes over the entire life of the loan. Read more about
                other benefits below.
              </p>
              <a href="" class="text-uppercase text-secondary featanimbtn"
                >More <i class="fa fa-long-arrow-right ml-2"></i
              ></a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box-30">
              <div class="small-box mb-3">
                <img src="assets/images/loan.png" />
              </div>
              <h5 class="text-primary mb-3 font-weight-bold">
                How 30-Year Fixed <br />Loans Work
              </h5>
              <p class="text-muted mb-3">
                You’ll pay off your mortgage in 30 years. Although you’ll pay
                more interest over the life of the loan compared to a 15-year
                fixed loan, your monthly payments will be lower.
              </p>
              <a href="" class="text-uppercase text-secondary featanimbtn"
                >More <i class="fa fa-long-arrow-right ml-2"></i
              ></a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box-30">
              <div class="small-box mb-3">
                <img src="assets/images/mortgage4.png" />
              </div>
              <h5 class="text-primary mb-3 font-weight-bold">
                What You’ll Need To Qualify For <br />A 30-Year Fixed Loan
              </h5>
              <p class="text-muted mb-3">
                A minimum 3% down payment. A minimum FICO® Score of 620. A
                debt-to-income ratio (DTI) of no more than 50%. Estimate your
                DTI by..
              </p>
              <a href="" class="text-uppercase text-secondary featanimbtn"
                >More <i class="fa fa-long-arrow-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <span
        class="text-white text-muted text-uppercase banner-scroll d-none d-lg-block"
      >
        <a href="#approved-section">
          <i class="fa fa-long-arrow-left mr-4"></i>Get to Know Us</a
        >
      </span>
    </div>
  </section>

  <section class="approved-sec" id="approved-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-6 mb-4 mb-md-0">
          <div class="approved-box">
            <h3 class="text-primary font-weight-bold mb-4">
              Take The First Steps Toward <br />
              The Right Quicken<br />
              Mortgage®.
            </h3>
            <p class="text-muted">
              Apply online with Rocket Mortgage® by Quicken Loans® or enter some
              info to get a call from a Home Loan Expert. You’ll get a
              personalized recommendation on which loan option is <br />
              best for you.
            </p>
            <button
              type="submit"
              class="btn btn-secondary text-uppercase text-white px-5 mt-4"
            >
              get approved to buy a home
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="approved-box px-0">
            <h3 class="text-primary font-weight-bold mb-4">
              30-Year Fixed <br />
              Mortgage Rates
            </h3>
            <div class="table-responsive">
              <table
                class="table"
                style="border-bottom: 1px solid #dee2e6; text-align: left"
              >
                <tr>
                  <th>Product</th>
                  <th>Rate</th>
                  <th>APR</th>
                </tr>
                <tr>
                  <td>Confirming 30 year fixed</td>
                  <td>3.125%</td>
                  <td>3.373%</td>
                </tr>
              </table>
            </div>
            <p class="text-muted px-5">
              30-year Fixed-Rate Loan: <br />
              The payment on a $200,000 30-year Fixed-Rate Loan at 3.125%
              (3.373% APR) is $856.76 for the cost of 2.00 point(s) due at
              closing
            </p>
            <a
              href=""
              class="text-uppercase text-secondary featanimbtn d-block py-3"
              >more <i class="fa fa-long-arrow-right ml-2"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="loan-benefits">
    <div class="p-r">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="loan-left">
              <h3 class="text-primary font-weight-bold mb-4">
                30-Year Fixed Loan Benefits
              </h3>
              <ul class="text-muted arrow-list">
                <li>
                  Your monthly payments will be less for a 30-year fixed loan
                  than a 15- year fixed loan, even though interest rates for a
                  15-year fixed loan are generally a little lower. That’s
                  because your payments will be spread out over a longer period.
                </li>
                <li>
                  You can pay off your mortgage at any time without prepayment
                  penalties.
                </li>
                <li>
                  You may be able to avoid mortgage insurance with a down
                  payment of 20% or higher.
                </li>
                <li>
                  Your interest rate is fixed for the life of the loan, so you
                  don’t have worry about rates rising.
                </li>
                <li>
                  You can buy your primary home with as little as 3% down.
                </li>
                <li>
                  You can refinance your primary home for up to 97% of its
                  value.
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="loan-right">
              <h3 class="text-primary font-weight-bold mb-4">
                Mortgage Insurance Requirements
              </h3>
              <p class="text-muted">
                You’ll have to pay primary mortgage insurance (PMI) if your down
                payment is less than 20%.
              </p>
              <ul class="text-muted arrow-list">
                <li>
                  This typically costs between 0.5% and 1% of your loan amount
                  per year, spread over 12 payments.
                </li>
                <li>
                  You may be able to avoid mortgage insurance with a down
                  payment of 20% or higher.
                </li>
                <li>
                  Once you reach 20% equity in your home, you may be able to
                  request to cancel PMI.
                </li>
                <li>PMI is often cancelled automatically once you rea</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <span
        class="text-white text-muted text-uppercase banner-scroll d-none d-lg-block"
        style="left: 2%"
      >
        <a href="#rate-updates">
          <i class="fa fa-long-arrow-left mr-4"></i>Get to Know Us</a
        >
      </span>
    </div>
  </section>

  <section id="rate-updates">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="flex-lg-row Mortgage-talk rounded flex-column">
            <div class="mr-4">
              <div class="small-box mb-3">
                <img src="assets/images/support.png" />
              </div>
            </div>
            <div>
              <h3 class="text-primary font-weight-normal mb-3">
                Mortgage Rate Updates & Featured<br />
                Mortgage Or
                <span class="text-secondary">Request A Call Back Today</span>
              </h3>
              <button
                type="submit"
                class="btn btn-secondary text-uppercase text-white px-5"
              >
                Talk Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
