<header>
  <nav class="navbar navbar-dark bg-primary navbar-expand-lg p-0">
    <div class="container px-0">
      <div class="d-flex mx-3 mx-sm-0 px-lg-0 w-100">
        <a class="navbar-brand" href="index.html">
          <img src="assets/images/headLogo.svg" alt="" />
        </a>
        <div
          class="w-100 text-right d-flex flex-column responsive-menu d-lg-none mt-1"
        >
          <div class="d-none mobileSearch">
            <strong class="text-white mx-2">(800) 930-8195</strong>
          </div>
          <!-- <div class="mb-2 mt-3">
                      <a href="" class="btn btn-outline-info text-white text-uppercase mx-1 d-none d-md-inline-block">Check loan status</a>
                      <a href="" class="btn btn-info text-uppercase">Apply Now</a>
                  </div> -->
          <!-- Toggler/collapsibe Button -->
          <!-- <div class="align-items-end col d-flex justify-content-end ml-auto px-0 mb-2 mobileMenu">
              <a href="tel:8009308195"><strong class="text-white toptext mr-2"><i class="fa fa-phone mr-1"></i>(800) 930-8195</strong></a>
              <button class="navbar-toggler p-0" type="button" data-toggle="collapse"
              data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
          </button>
             </div> -->
        </div>
        <div
          class="align-self-stretch d-flex flex-column ml-auto overflow-auto"
        >
          <div
            class="align-items-center d-lg-flex d-none justify-content-end mt-3 text-right w-100"
          >
            <!-- <div class="searchtop dsktopsearch">
                      <span class="p-1 btn btn-search btn-primary"><img src="assets/images/search.svg" alt=""></span>
                      <div class="inpSearch">
                          <input type="text" name="search" class="form-control" placeholder="Search..">
                          <i class="fa fa-times searchcross"></i>
                      </div>
                     </div> -->
            <strong class="text-white toptext"
              ><img src="assets/images/phone.png" alt="" class="mt-2" /> (800)
              930-8195</strong
            >
            <a href="" class="text-white cls toptext"
              ><img src="assets/images/@file.png" alt="" /> Email Us</a
            >
            <!-- <a href="" class="btn btn-info text-uppercase aplbtn">Apply Now</a> -->
          </div>
        </div>
      </div>
      <!-- Brand -->
    </div>
  </nav>
</header>

<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5 font-weight-bold" style="font-size: 80px">
      EZ ONLINE MORTGAGE
    </h2>
    <p>TELL US WHAT YOU WANT TO DO</p>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="form-group mt-5">
          <div class="card">
            <div class="card-body">
              <!-- <i class="fa fa-home fa-5x"></i> -->
              <img src="assets/images/home-white.png" alt="" />
              <h5 class="mt-3">BUY A HOME</h5>
              <!-- <p>BUY A HOME</p> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="form-group mt-5">
          <div class="card">
            <div class="card-body bg-white">
              <img
                src="assets/images/dollar-arrow.png"
                alt=""
                height="70px"
                width=""
              />
              <h5 class="mt-3 text-orange">REFINANCE</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h5 class="information">
        <i class="fa fa-lock"></i> Your information is secure | No hassles | No
        obligations
      </h5>
    </div>

    <div class="Content-Step-Footer">
      <p class="font-weight-lighter">
        Valley Village, CA, CaliforniaUnited States <br />
        4804 Laurel Canyon Blvd #1199, Valley Village, CA 91607 <br />
        California’s EZ Online Mortgage Broker Home Loan , Refinance , FHA , VA
        & HARP . Very Low Rates , <br />
        24/7 Secure Online Loan Status & Pre - Approval <br />
        Contact - (800) 930-8195
      </p>
      <p class="font-weight-lighter">
        Licensing | Disclaimer | Terms of Use | Privacy Policy | Accessibility
        <br />
        Copyright © 2014-2020 EZ Online Morgage | Terms And Condition | Privacy
        Policy
      </p>
      <p class="font-weight-lighter">
        NMLS # 362311 | Consumer Access Site <br />
        Loan service · Mortgage brokers · Franchise broker
      </p>
    </div>
  </div>
</div>
