.Content-Step-Body .card,
.refinance-card {
  color: #f47741 !important;
  background-color: #ffffff !important;
}

.Content-Step-Body .card:hover,
.refinance-card:hover {
  background-color: #f47741 !important;
  color: #ffffff !important;
}

.Content-Step-Body .card:hover .home-bg-img {
  background-image: url("../../../assets/images/home-white.png");
}
.refinance-card:hover .dollar-bg-img {
  background-image: url("../../../assets/images/dollar-arrow1.png");
}
.home-bg-img {
  width: 67px;
  height: 66px;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  background-size: cover;
  background-image: url("../../../assets/images/home.png");
}

.dollar-bg-img {
  width: 60px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  background-size: cover;
  background-image: url("../../../assets/images/dollar-arrow.png");
}
