.Content-Step-Body .card {
  color: #f47741;
  background-color: #ffffff;
  border: 1px solid #f47741;
  border-radius: 8px;
}
.Content-Step-Body .refinance-card {
  color: #091a52;
  border: 1px solid #091a52;
  border-radius: 8px;
}
.Content-Step-Body .selected {
  background-color: #f47741 !important;
  color: #ffffff !important;
}

/* .Content-Step-Body .card:hover,
.refinance-card:hover {
  background-color: #f47741 !important;
  color: #ffffff !important;
} */

/* .Content-Step-Body .card:hover .home-bg-img {
  background-image: url("../../../assets/images/home-white.png");
}
.refinance-card:hover .dollar-bg-img {
  background-image: url("../../../assets/images/dollar-arrow1.png");
  .home-bg-img {
  width: 67px;
  height: 66px;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  background-size: cover;
  background-image: url("../../../assets/images/home.png");
}
} */
.home-bg-img {
  /* width: 67px;
  height: 66px; */
  width: 121px;
  height: 116px;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  background-size: cover;
  background-image: url("../../../assets/images/home.png");
}

.dollar-bg-img {
  /* width: 60px;
  height: 65px; */
  width: 108px;
  height: 116px;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  background-size: cover;
  background-image: url("../../../assets/images/dollar-arrow-blue.png");
}
/* Hafiz's CSS */

.Content-Step-Body.text-black {
  background-color: white !important;
  color: black;
}
.Content-Step-Body .card:hover .home-bg-img {
  background-image: url("../../../assets/images/home-white.png");
}
.Content-Step-Body .card:hover {
  background-color: #f47741;
  color: white;
}
.Content-Step-Body .refinance-card:hover {
  background-color: #091a52;
  color: white;
}
.Content-Step-Body .refinance-card:hover .dollar-bg-img {
  background-image: url("../../../assets/images/dollar-arrow1.png");
}
