<div class="Content-Step-Body text-white">
  <div class="container">
    <h1 class="">Any bankruptcy in the past 3 years?</h1>

    <div class="row justify-content-center pt-5">
      <div class="col-lg-4">
        <p id="back" class="fa fa-angle-left" (click)="proceedToPrevious()">
          <span style="margin-left: 10px">Back</span>
        </p>
      </div>
      <div class="col-lg-4 px-0 pt-0">
        <div class="btn px-0">
          <br /><br />
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext(true)"
            [class.selected]="formData.bankruptcyPastThreeYears == true"
          >
            Yes
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext(false)"
            [class.selected]="formData.bankruptcyPastThreeYears == false"
          >
            No
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart">
      <span>63%</span>
    </div>
  </div>
</div>
