<!--No# 4 Purchasing  Start -->
<div class="main-content" *ngIf="number == 1">
  <h2>Congragulations! What’s the address of your new home?</h2>
  <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
    <form action="" id="address" #f="ngForm">
      <div class="form-group">
        <input
          type="text"
          class="form-control form-style mb-0"
          placeholder="Address"
          name="newHomeAddress"
          #newHomeAddressRef="ngModel"
          [(ngModel)]="model.newHomeAddress"
          required
        />
        <div
          *ngIf="submitted && !newHomeAddressRef.valid"
          class="text-danger d-flex"
        >
          Address is required
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control form-style mb-0"
          placeholder="Apt / Unit"
          name="newHomeUnit"
          [(ngModel)]="model.newHomeUnit"
          required
          #newHomeUnitRef="ngModel"
        />
        <div
          *ngIf="submitted && !newHomeUnitRef.valid"
          class="text-danger d-flex"
        >
          Unit is required
        </div>
      </div>
      <!-- <select class="form-select form-style form-control" [(ngModel)]="model.newHomeState">
      <option [value]="s.id" *ngFor="let s of cities">{{s.cityName}}</option>
    </select> -->
      <div class="form-group">
        <input
          type="text"
          class="form-control form-style mb-0"
          placeholder="City or Town"
          name="newHomeCityTown"
          [(ngModel)]="model.newHomeCityTown"
          required
          #newHomeCityTownRef="ngModel"
        />
        <div
          *ngIf="submitted && !newHomeCityTownRef.valid"
          class="text-danger d-flex"
        >
          City is required
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <select
              class="form-select form-style form-control mb-0"
              [(ngModel)]="model.newHomeState"
              name="newHomeState"
              required
              #newHomeStateRef="ngModel"
            >
              <option [value]="s.id" *ngFor="let s of states">
                {{ s.stateName }}
              </option>
              <!-- <option value="state">State</option> -->
            </select>
            <div
              *ngIf="submitted && !newHomeStateRef.valid"
              class="text-danger d-flex"
            >
              State is required
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <input
              type="text"
              class="form-control form-style mb-0"
              placeholder="Zip Code"
              [(ngModel)]="model.newHomeZip"
              name="newHomeZip"
              #newHomeZipRef="ngModel"
              required
            />
            <div
              *ngIf="submitted && !newHomeZipRef.valid"
              class="text-danger d-flex"
            >
              Zip is required
            </div>
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary btn-next btn-orange"
        role="button"
        (click)="onPehlaForm(f, 2)"
      >
        Next
      </button>
    </form>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<!-- No# 4 Purchasing End -->

<!-- No# 5 Purchasing Start -->
<div class="main-content" *ngIf="number == 2">
  <h2 class="little-space">Please give us a few details about your contract</h2>
  <h6>
    if you don’t knoe all the details, that’s okay. We can add those letter.
    <i class="fa-solid fa-circle-info"></i>
  </h6>
  <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
    <input
      type="date"
      [(ngModel)]="model.contractDate"
      class="form-control form-style form-margin-top"
    />
    <p class="text-center">Do either of these apply to the property?</p>
    <div class="radio-input">
      <div class="row">
        <div class="col-md-12">
          <input
            type="radio"
            class="form-style"
            placeholder=""
            value="new"
            name="propertyOption"
            [(ngModel)]="model.propertyOption1"
          />
          <p>New construction</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input
            type="radio"
            class="form-style"
            placeholder=""
            value="Foreclosure"
            name="propertyOption"
            [(ngModel)]="model.propertyOption1"
          />
          <p>Foreclosure / Bank Owned</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 offset-lg-3 col-md-12 col-sm-12 col-xs-12">
        <a
          [routerLink]="['/app/purchase/property-info', 1]"
          class="btn"
          id="btn-back"
          role="button"
          >Back</a
        >
      </div>
      <div class="col-lg-2">
        <a
          [routerLink]="['/app/purchase/property-info', 3]"
          class="btn"
          id="btn-next"
          (click)="onNextTwoClick()"
          >Next</a
        >
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<!-- No# 5 Purchasing End -->

<!-- No# 6 Purchasing Start -->
<div class="main-content" *ngIf="number == 3">
  <h2 class="little-space">Congratulations! What’s the purchase price?</h2>

  <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
    <form action="" id="purchase-price" #f3="ngForm">
      <div class="form-group">
        <input
          type="number"
          class="form-control form-style"
          placeholder="Estimated Home Price"
          [(ngModel)]="model.estimatedPrice"
          name="estimatedPrice"
          #estimatedPriceRef="ngModel"
          required
          (ngModelChange)="calculatePercent()"
        />
        <div
          *ngIf="submitted && !estimatedPriceRef.valid"
          class="text-danger d-flex"
        >
          Estimated home price is required
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-4 col-xs-4 padding-right">
          <div class="form-group">
            <input
              type="number"
              class="form-control form-half-left"
              placeholder="Down Payment Amount"
              [(ngModel)]="model.downPaymentAmount"
              name="downPaymentAmount"
              #downPaymentAmountRef="ngModel"
              required
              (ngModelChange)="calculatePercent()"
            />
            <div
              *ngIf="submitted && !downPaymentAmountRef.valid"
              class="text-danger d-flex"
            >
              Down payment amount is required
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 padding-left">
          <div class="form-group">
            <input
              type="number"
              class="form-control form-half-right"
              placeholder="Percent"
              [(ngModel)]="model.downPaymentPercent"
              name="downPaymentPercent"
              #downPaymentPercentRef="ngModel"
              required
            />
            <div
              *ngIf="submitted && !downPaymentPercentRef.valid"
              class="text-danger d-flex"
            >
              Down payment percent is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="number"
          class="form-control form-style"
          placeholder="Estimated annual taxes"
          [(ngModel)]="model.estAnnualTaxes"
          name="estAnnualTaxes"
          #estAnnualTaxesRef="ngModel"
          required
        />
        <div
          *ngIf="submitted && !estAnnualTaxesRef.valid"
          class="text-danger d-flex"
        >
          Estimated annual tax is required
        </div>
      </div>
      <div class="form-group">
        <input
          type="number"
          class="form-control form-style"
          placeholder="Estimated annual home insurance"
          [(ngModel)]="model.estAnnualHomeIns"
          name="estAnnualHomeIns"
          #estAnnualHomeInsRef="ngModel"
          required
        />
        <div
          *ngIf="submitted && !estAnnualHomeInsRef.valid"
          class="text-danger d-flex"
        >
          Estimated annual home insurance is required
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3 offset-md-3">
            <a
              [routerLink]="['/app/purchase/property-info', 2]"
              class="btn"
              id="btn-back"
              >Back</a
            >
          </div>
          <div class="col-md-2">
            <a
              type="submit"
              class="btn btn-primary btn-next btn-orange"
              id="btn-next"
              role="button"
              (click)="onPehlaForm(f3, 4)"
              >Next</a
            >
            <!-- <a
          type="submit"
          [routerLink]="['/app/purchase/property-info', 4]"
          class="btn"
          id="btn-next"
          (click)="onNextThreeClick(f3)"
          >Next</a
        > -->
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<!-- No# 6 Purchasing End -->

<!-- No# 7 Purchasing Start -->
<div class="main-content" *ngIf="number == 4">
  <h2 class="little-space">Do you know your credit score?</h2>
  <h6>We Use this into to match you with the perfect load options.</h6>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <a
      [routerLink]="['/app/purchase/property-info', 5]"
      class="btn btn-primary btn-style btn-orange"
      (click)="onCreditClick('excellent')"
      >Excellent (740+)</a
    >

    <a
      [routerLink]="['/app/purchase/property-info', 5]"
      class="btn btn-primary btn-style btn-orange"
      (click)="onCreditClick('good')"
      >Good(700 - 739)</a
    >

    <a
      [routerLink]="['/app/purchase/property-info', 5]"
      class="btn btn-primary btn-style btn-orange"
      (click)="onCreditClick('average')"
      >Average (640 - 699)</a
    >

    <a
      [routerLink]="['/app/purchase/property-info', 5]"
      class="btn btn-primary btn-style btn-orange"
      (click)="onCreditClick('fair')"
      >Fair (580 - 639)</a
    >

    <a
      [routerLink]="['/app/purchase/property-info', 5]"
      class="btn btn-primary btn-style btn-orange"
      (click)="onCreditClick('needimprovement')"
      >Needs Improvement (less then 580)</a
    >

    <div class="row">
      <div class="col-md-12">
        <a
          [routerLink]="['/app/purchase/property-info', 3]"
          class="btn"
          id="btn-back"
          >Back</a
        >
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<!-- No# 7 Purchasing End -->

<!-- No# 8 Purchasing Start -->
<div class="main-content" *ngIf="number == 5">
  <h2 class="little-space">Ok! We’s like to get to know you.</h2>
  <h6>Please provide you full legal name.</h6>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <form action="" id="personal" #f5="ngForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control form-style"
              placeholder="Legal First Name"
              [(ngModel)]="model.firstName"
              name="firstName"
              required
              #firstNameRef="ngModel"
            />
            <div
              *ngIf="submitted && !firstNameRef.valid"
              class="text-danger d-flex"
            >
              First Name is required
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control form-style"
              placeholder="Middle Initial"
              [(ngModel)]="model.middleName"
              name="middleName"
              required
              #middleNameRef="ngModel"
            />
            <div
              *ngIf="submitted && !firstNameRef.valid"
              class="text-danger d-flex"
            >
              Middle Name is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control form-style"
          placeholder="Legal Last Name"
          [(ngModel)]="model.lastName"
          name="lastName"
          required
          #lastNameRef="ngModel"
        />
        <div *ngIf="submitted && !lastNameRef.valid" class="text-danger d-flex">
          Last Name is required
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control form-style"
          placeholder="Phone Number"
          [(ngModel)]="model.phone"
          appPhoneMask
          name="phone"
          required
          #phoneRef="ngModel"
        />
        <div *ngIf="submitted && !phoneRef.valid" class="text-danger d-flex">
          Phone is required
        </div>
      </div>
      <div class="form-group">
        <input
          type="email"
          class="form-control form-style"
          placeholder="Email Address"
          [(ngModel)]="model.email"
          name="email"
          required
          #emailRef="ngModel"
        />
        <div *ngIf="submitted && !emailRef.valid" class="text-danger d-flex">
          Email is required
        </div>
      </div>
      <p>Have an account?</p>
      <div class="row">
        <div class="col-md-12">
          <div class="terms">
            <p>
              By entering phone number and clicking the "Next" button, you are
              providing express written consent for EZ Online Mortgage. and its
              affiliates, agents, and service providers to contact you at that
              number regarding products or services, including via auto-dialed
              and/or prerecorded or artificial voice calls and text messages
              (SMS and MMS), or email even if your telephone number is a
              cellular number or on a corporate, state, or the National Do Not
              Call Registry <span class="orange-text">(DNC)</span> or other do
              not contact list.
            </p>

            <p>
              You may also reach us at
              <span class="orange-text">(800) 930-8195</span> or by utilizing
              our services at <span class="orange-text">Loan Options</span>. You
              may opt-out at any time by emailing us a Do Not Call Request at
              <span class="orange-text"
                ><a href="">dnc@ezonlinemortgage.com</a></span
              >
              and providing your phone number. Your consent is not required or a
              condition of any purchase. Message and data rates may apply.
            </p>

            <p>
              You also consent to our
              <span class="orange-text"
                >SMS terms, Privacy Policy, Terms of Use,</span
              >
              and <span class="orange-text">CA Terms</span> of Use. By
              communicating with us by phone you consent to calls being recorded
              and monitored.
            </p>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <a
          [routerLink]="['/app/purchase/property-info', 4]"
          class="btn btn-orange"
          id="btn-back"
          >Back</a
        >
      </div>
      <div class="col-md-2">
        <a class="btn btn-orange" id="btn-next" (click)="onPehlaForm(f5, 6)"
          >Next</a
        >
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<!-- No# 8 Purchasing End -->

<!-- No# 9 Purchasing Start -->
<div class="main-content" *ngIf="number == 6">
  <h2 class="little-space">
    What type of home is it? <img src="img/info.svg" alt="" />
  </h2>

  <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
    <a
      [routerLink]="['/app/purchase/property-info', 7]"
      class="btn btn-primary btn-style btn-orange"
      (click)="onHomeTypeClick('singleFamily')"
      >Single Family</a
    >
    <a
      [routerLink]="['/app/purchase/property-info', 7]"
      class="btn btn-primary btn-style btn-orange"
      (click)="onHomeTypeClick('condo')"
      >Condo</a
    >
    <a
      [routerLink]="['/app/purchase/property-info', 7]"
      class="btn btn-primary btn-style btn-orange"
      (click)="onHomeTypeClick('coop')"
      >Co-op</a
    >
    <a
      [routerLink]="['/app/purchase/property-info', 7]"
      class="btn btn-primary btn-style btn-orange"
      (click)="onHomeTypeClick('townhome')"
      >Townhome</a
    >
    <a
      [routerLink]="['/app/purchase/property-info', 7]"
      class="btn btn-primary btn-style btn-orange"
      (click)="onHomeTypeClick('multifamily')"
      >Multi-Family</a
    >

    <div class="row">
      <div class="col-md-12">
        <a
          [routerLink]="['/app/purchase/property-info', 7]"
          class="btn btn-orange"
          id="btn-back"
          >Back</a
        >
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<!-- No# 9 Purchasing End -->

<!-- No# 10 Purchasing Start -->
<div class="main-content" *ngIf="number == 7">
  <h2>
    For the properties you’ve been looking at, are there typically HOA fees?
    <img src="img/info.svg" alt="" />
  </h2>
  <h6>if so, what is the approximate amount?</h6>
  <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
    <form action="" id="personal" #f7="ngForm">
      <input
        type="number"
        class="form-control form-style"
        placeholder="Monthly HOA dues"
        [(ngModel)]="model.monthlyhoadues"
        name="monthlyhoadues"
        required
        #monthlyhoaduesRef="ngModel"
      />
      <div
        *ngIf="submitted && !monthlyhoaduesRef.valid"
        class="text-danger d-flex"
      >
        Monthly HOA dues is required
      </div>
    </form>

    <div class="row margin-top">
      <div
        class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-2 offset-sm-1 col-xs-2 offset-xs-1"
      >
        <a
          [routerLink]="['/app/purchase/property-info', 6]"
          class="btn btn-orange"
          id="btn-back"
          >Back</a
        >
      </div>
      <div
        class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-2 offset-sm-1 col-xs-2 offset-xs-1"
      >
        <a class="btn btn-orange" id="btn-next" (click)="onPehlaForm(f7, 8)"
          >Next</a
        >
      </div>
      <div
        class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-2 offset-sm-1 col-xs-2 offset-xs-1"
      >
        <a class="btn btn-orange" id="btn-back" (click)="onPehlaForm(f7, 8)"
          >Skip</a
        >
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<!-- No# 10 Purchasing End -->

<!-- No# 11 Purchasing Start -->
<div class="main-content" *ngIf="number == 8">
  <h2 class="little-space">
    OK great! And how do you plan on using your new home?
  </h2>

  <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
    <a
      [routerLink]="['/app//purchase/property-info', 9]"
      class="btn btn-primary btn-style btn-orange"
      (click)="onHomePlanClick('primaryresidence')"
      >Primary Residance</a
    >

    <a
      [routerLink]="['/app/purchase/property-info', 9]"
      class="btn btn-primary btn-style btn-orange"
      (click)="onHomePlanClick('condo')"
      >Condo</a
    >

    <a
      [routerLink]="['/app/purchase/property-info', 9]"
      class="btn btn-primary btn-style btn-orange"
      (click)="onHomePlanClick('coop')"
      >Co-op</a
    >

    <div class="row">
      <div class="col-md-12">
        <a
          [routerLink]="['/app/purchase/property-info', 7]"
          class="btn"
          id="btn-back"
          >Back</a
        >
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<!-- No# 11 Purchasing End -->
<div class="main-content" *ngIf="number == 9">
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <div class="modal-body text-left">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <header>VA Loan Requirements</header>
          <h3>For U.S. Veterans and Military Service Members</h3>
          <ul>
            <li>
              You may be eligible for a VA Home Loan if you meet one or more of
              the following conditions:
            </li>
            <li>
              You have served 90 consecutive days of active service during
              wartime
            </li>
            <li>You have served 181 days of active service during peacetime</li>
            <li>
              You have more than 6 years of service in the National Guard or
              Reserves
            </li>
            <li>
              You are the spouse of a service member who has died in the line of
              duty or as a result of a service-related disability
            </li>
            <li>
              This includes Army, Navy, Air Force, Marines, or Coast Guard
            </li>
          </ul>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
  <h2>Are you a current or former member of the US Military?</h2>
  <h6>
    Active U.S. Military and veterans may be eligible for VA loan options!
    <img
      src="../../../../assets/images/info.png"
      type="button"
      data-toggle="modal"
      data-target="#exampleModal"
      alt=""
    />
  </h6>

  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <a
      [routerLink]="['/app/purchase/property-info', 10]"
      class="btn btn-primary btn-style btn-orange"
      (click)="onMilitaryClick(true)"
      >Yes</a
    >

    <a
      [routerLink]="['/app/purchase/property-info', 10]"
      class="btn btn-primary btn-style btn-active btn-orange"
      (click)="onMilitaryClick(false)"
      >No</a
    >

    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn" id="btn-back">Back</button>
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<ng-container *ngIf="number == 10">
  <div class="main-content" *ngIf="isEdit != true">
    <h2>Let's take a few seconds to review and confirm your info so far.</h2>
    <div class="content-area">
      <div class="row">
        <div class="col-md-8">
          <h6>Property Info</h6>
        </div>
        <div class="col-md-4 right-align">
          <a class="btn" id="btn-edit" (click)="editClicked()">Edit</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="profile-details">
            <p>Address: {{ model.newHomeAddress }}</p>
            <p>City or Town: {{ model.newHomeCityTown }}</p>
            <p>State: {{ model.newHomeState }}</p>
            <p>Zip Code: {{ model.newHomeZip }}</p>
            <p>County: {{ model.newHomeState }}</p>
            <p>Closing Date: {{ model.contractDate }}</p>
            <p>Estimated Home Price: ${{ model.estimatedPrice }}</p>
            <p>Down Payment Amount: ${{ model.downPaymentAmount }}</p>
            <p>Down Payment Percent: {{ model.downPaymentPercent }}%</p>
            <p>Estimated annual taxes: ${{ model.estAnnualTaxes }}</p>
            <p>
              Estimated annual home insurance: ${{ model.estAnnualHomeIns }}
            </p>
            <p>Self-selected Credit Score: {{ model.creditScore }}</p>
            <p>Legal First Name: {{ model.firstName }}</p>
            <p>Legal Last Name: {{ model.lastName }}</p>
            <p>Phone Number: {{ model.phone }}</p>
            <p>Email Address: {{ model.email }}</p>
            <p>Type of Home: {{ model.homeType }}</p>
            <p>Monthly HOA dues: ${{ model.monthlyhoadues }}</p>
            <p>Property Usage: {{ model.homePlan }}</p>
            <p>
              Are you a current or former member of the US Military?:
              {{ model.isMillitary == true ? "Yes" : "No" }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
    >
      <div class="row">
        <div class="col-md-3 offset-md-3">
          <a
            [routerLink]="['/app/purchase/property-info', 9]"
            class="btn"
            id="btn-back"
            >Back</a
          >
        </div>
        <div class="col-md-2">
          <a
            [routerLink]="['/app/purchase/personal-info', 1]"
            class="btn"
            id="btn-next"
            >Next</a
          >
        </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- Click Edit Button will show the below content of 17A page -->

  <div class="main-content" [class.hidden]="!isEdit">
    <h2>Let's take a few seconds to review and confirm your info so far.</h2>
    <div class="content-area">
      <div class="row padding-fifteen">
        <div class="col-md-8">
          <h6>Personal Info</h6>
        </div>
        <div class="col-md-4 right-align">
          <a (click)="isEdit = false" class="btn" id="btn-edit">Done</a>
        </div>
      </div>
    </div>

    <div
      class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
    >
      <!-- <form action="" id="address"> -->
      <input
        type="text"
        class="form-control form-style"
        placeholder="Address"
        [(ngModel)]="model.newHomeAddress"
      />
      <input
        type="text"
        class="form-control form-style"
        placeholder="Apt / Unit"
        [(ngModel)]="model.newHomeUnit"
      />
      <input
        type="text"
        class="form-control form-style"
        placeholder="City or Town"
        [(ngModel)]="model.newHomeCityTown"
      />
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <input
            type="text"
            class="form-control form-style"
            placeholder="Zip Code"
            [(ngModel)]="model.newHomeZip"
          />
        </div>
      </div>
      <select
        class="form-select form-style"
        [(ngModel)]="model.newHomeCityTown"
      >
        <option>City Name</option>
      </select>
      <input
        type="text"
        class="form-control form-style"
        placeholder="Closing Date"
        [(ngModel)]="model.contractDate"
      />
      <!-- </form> -->
      <p class="text-center">Do either of these apply to the property?</p>
      <div class="radio-input">
        <div class="row">
          <div class="col-md-12">
            <input
              type="checkbox"
              class="form-style"
              placeholder=""
              [(ngModel)]="model.propertyOption1"
            />
            <p>New construction</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input
              type="checkbox"
              class="form-style"
              placeholder=""
              [(ngModel)]="model.propertyOption2"
            />
            <p>Foreclosure / Bank Owned</p>
          </div>
        </div>
      </div>
      <!-- <form action="" id="purchase-price"> -->
      <input
        type="text"
        class="form-control form-style"
        placeholder="Estimated Home Price"
        [(ngModel)]="model.estimatedPrice"
      />
      <div class="row">
        <div class="col-md-8 padding-right">
          <input
            type="text"
            class="form-control form-half-left"
            [(ngModel)]="model.downPaymentAmount"
            placeholder="Down Payment Amount"
          />
        </div>
        <div class="col-md-4 padding-left">
          <input
            type="text"
            class="form-control form-half-right"
            placeholder="Percent"
            [(ngModel)]="model.downPaymentPercent"
          />
        </div>
      </div>
      <input
        type="text"
        class="form-control form-style"
        placeholder="Estimated annual taxes"
        [(ngModel)]="model.estAnnualTaxes"
      />
      <input
        type="text"
        class="form-control form-style"
        placeholder="Estimated annual home insurance"
        [(ngModel)]="model.estAnnualHomeIns"
      />
      <!-- </form> -->

      <h6 id="padding-up">Self selected Credit Score</h6>

      <button
        type="button"
        class="btn btn-primary btn-style btn-orange"
        id="excellent"
      >
        Excellent (740+)
      </button>
      <button
        type="button"
        class="btn btn-primary btn-style btn-orange"
        id="good"
      >
        Good(700 - 739)
      </button>
      <button
        type="button"
        class="btn btn-primary btn-style btn-orange"
        id="average"
      >
        Average (640 - 699)
      </button>
      <button
        type="button"
        class="btn btn-primary btn-style btn-orange"
        id="fair"
      >
        Fair (580 - 639)
      </button>
      <button
        type="button"
        class="btn btn-primary btn-style btn-orange"
        id="needimprovement"
      >
        Needs Improvement (less then 580)
      </button>

      <!-- <form action="" id="address"> -->
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control form-style"
            placeholder="Legal First Name"
            [(ngModel)]="model.firstName"
          />
        </div>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control form-style"
            placeholder="Middle Initial"
            [(ngModel)]="model.middleName"
          />
        </div>
      </div>
      <input
        type="text"
        class="form-control form-style"
        placeholder="Legal Last Name"
        [(ngModel)]="model.lastName"
      />
      <input
        type="text"
        class="form-control form-style"
        placeholder="Phone Number"
        [(ngModel)]="model.phone"
      />
      <input
        type="email"
        class="form-control form-style"
        placeholder="Email Address"
        [(ngModel)]="model.email"
      />
      <!-- </form> -->
      <h6 id="padding-up">Type of home</h6>

      <button
        type="button"
        class="btn btn-primary btn-style btn-orange"
        id="singleFamily"
      >
        Single Family
      </button>
      <button
        type="button"
        class="btn btn-primary btn-style btn-orange"
        id="condo"
      >
        Condo
      </button>
      <button
        type="button"
        class="btn btn-primary btn-style btn-orange"
        id="coop"
      >
        Co-op
      </button>
      <button
        type="button"
        class="btn btn-primary btn-style btn-orange"
        id="townhome"
      >
        Townhome
      </button>
      <button
        type="button"
        class="btn btn-primary btn-style btn-orange"
        id="multifamily"
      >
        Multi-Family
      </button>

      <!-- <form action=""> -->
      <input
        type="text"
        class="form-control form-style"
        placeholder="Monthly HOA dues"
        [(ngModel)]="model.monthlyhoadues"
      />
      <!-- </form> -->

      <h6 id="padding-up">Property Usage</h6>

      <button
        type="button"
        class="btn btn-primary btn-style btn-orange"
        id="property-primaryresidence"
      >
        Primary Residance
      </button>
      <button
        type="button"
        class="btn btn-primary btn-style btn-orange"
        id="property-condo"
      >
        Condo
      </button>
      <button
        type="button"
        class="btn btn-primary btn-style btn-orange"
        id="property-coop"
      >
        Co-op
      </button>

      <h6 id="padding-up">
        Are you a current or former member of the US Military?
      </h6>

      <button
        type="button"
        class="btn btn-primary btn-style btn-orange"
        id="militery-yes"
      >
        Yes
      </button>
      <button
        type="button"
        class="btn btn-primary btn-style btn-orange"
        id="militery-no"
      >
        No
      </button>

      <div class="row">
        <div class="col-md-3 offset-md-3">
          <a
            (click)="window.history.back()"
            class="btn btn-orange"
            id="btn-back"
            >Back</a
          >
        </div>
        <div class="col-md-2">
          <a
            [routerLink]="['/app/purchase/purchase-non-mil']"
            (click)="onEditNextClick()"
            class="btn btn-orange"
            id="btn-next"
            >Next</a
          >
        </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
</ng-container>
