<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5">Please enter your contact info</h2>
    <h4 class="co-borrower">
      You can always add a co-borrower or edit this entry later.
    </h4>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="Back" (click)="proceedToPrevious()">
          <i class="fa fa-angle-left" style="font-size: 25px"></i>Back
        </p>
      </div>
      <div class="col-lg-4">
        <div class="BTN">
          <form [formGroup]="form">
            <div id="first_name">
              <h3 style="width: 191px; font-size: 20px">Your Email Address*</h3>
              <input
                type="email"
                id="Fn"
                required
                #email
                placeholder="Enter Your Email Address "
                formControlName="email"
                [(ngModel)]="formData.emailAddress"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Enter Valid Email.</div>
                <div *ngIf="f.email.errors.email">Enter Valid Email.</div>
              </div>
            </div>
            <div id="last_name">
              <h3 style="width: 206px; font-size: 20px">Your Mobile Number*</h3>
              <input
                type="text"
                id="Fn"
                #phone
                placeholder="Enter Your Mobile  Number "
                [(ngModel)]="formData.phoneNumber"
                formControlName="phone"
                [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
              />
              <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">
                  Enter Valid PhoneNumber.
                </div>
              </div>
            </div>
          </form>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3 mt-3"
            (click)="proceedToNext()"
          >
            Next
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart p95 mt-5">
      <span>95%</span>
    </div>
  </div>
</div>
