<div class="row">
    <div class="col-12">
        <h5>{{heading}}</h5>
    </div>
    <div class="col-6">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="borrowersName-{{id}}">
                {{ "Borrower’s Name" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="borrowersName-{{id}}"
                       id="borrowersName-{{id}}" required minlength="2" maxlength="32"
                       [(ngModel)]="data.borrowersName"
                       #borrowersNameModel="ngModel" #borrowersNameEl/>
                <abp-validation-summary [control]="borrowersNameModel"
                                        [controlEl]="borrowersNameEl"></abp-validation-summary>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="socialSecurityNumber-{{id}}">
                {{ "Social Security Number " | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="socialSecurityNumber-{{id}}"
                       id="socialSecurityNumber-{{id}}" required minlength="2" maxlength="32"
                       [(ngModel)]="data.socialSecurityNumber"
                       #socialSecurityNumberModel="ngModel" #socialSecurityNumberEl/>
                <abp-validation-summary [control]="socialSecurityNumberModel"
                                        [controlEl]="socialSecurityNumberEl"></abp-validation-summary>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="homePhone-{{id}}">
                {{ "Home Phone" | localize }}
            </label>
            <div class="col-md-9">
                <input type="number" class="form-control" name="homePhone-{{id}}" id="homePhone-{{id}}"
                       required minlength="2" maxlength="32"
                       [(ngModel)]="data.homePhone" #homePhoneModel="ngModel"
                       #homePhoneEl/>
                <abp-validation-summary [control]="homePhoneModel"
                                        [controlEl]="homePhoneEl">
                </abp-validation-summary>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="dOB-{{id}}">
                {{ "Birth" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="dOB-{{id}}" id="dOB-{{id}}" required
                       minlength="2" maxlength="32" [(ngModel)]="data.dOB"
                       #dOBModel="ngModel" #dOBEl/>
                <abp-validation-summary [control]="dOBModel" [controlEl]="dOBEl">
                </abp-validation-summary>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="yrsSchool-{{id}}">
                {{ "Yrs. School" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="yrsSchool-{{id}}" id="yrsSchool-{{id}}"
                       required minlength="2" maxlength="32"
                       [(ngModel)]="data.yrsSchool" #yrsSchoolModel="ngModel"
                       #yrsSchoolEl/>
                <abp-validation-summary [control]="yrsSchoolModel"
                                        [controlEl]="yrsSchoolEl">
                </abp-validation-summary>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label">
                {{ "Marital Status" | localize }}
            </label>
            <div class="col-md-9">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="marital-{{id}}" id="married-{{id}}"
                           value="married" checked [(ngModel)]="data.marital">
                    <label class="form-check-label" for="married-{{id}}">
                        Married
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="marital-{{id}}"
                           id="unMarried-{{id}}" value="unMarried"
                           [(ngModel)]="data.marital">
                    <label class="form-check-label" for="unMarried-{{id}}">
                        UnMarried
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="marital-{{id}}"
                           id="separated-{{id}}" value="separated"
                           [(ngModel)]="data.marital">
                    <label class="form-check-label" for="separated-{{id}}">
                        Separated
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="presentAddress-{{id}}">
                {{ "Present Address" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="presentAddress-{{id}}"
                       placeholder="Street, city, state & ZIP" id="presentAddress-{{id}}" required
                       minlength="2" maxlength="32"
                       [(ngModel)]="data.presentAddress"
                       #presentAddressModel="ngModel" #presentAddressEl/>
                <abp-validation-summary [control]="presentAddressModel"
                                        [controlEl]="presentAddressEl"></abp-validation-summary>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="presentAddressType-{{id}}"
                   id="presentOwe-{{id}}" value="presentOwe"
                   [(ngModel)]="data.presentAddressType">
            <label class="form-check-label" for="presentOwe-{{id}}">
                Own
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="presentAddressType-{{id}}"
                   id="presentRent-{{id}}" value="presentRent"
                   [(ngModel)]="data.presentAddressType">
            <label class="form-check-label" for="presentRent-{{id}}">
                Rent
            </label>
        </div>

        <input type="number" class="form-control" name="presentAddressNoOfYears-{{id}}"
               id="presentAddressNoOfYears-{{id}}" required minlength="2"
               placeholder="No of years"
               *ngIf="data.presentAddressType === 'presentRent'"
               maxlength="32"
               [(ngModel)]="data.presentAddressNoOfYears"/>
    </div>
    <div class="col-8">
        <label style="font-size: 10px;">If different from above</label>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="mailingAddress-{{id}}">
                {{ "Mailing Address" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="mailingAddress-{{id}}"
                       placeholder="street, city, state & ZIP" id="mailingAddress-{{id}}" required
                       minlength="2" maxlength="32"
                       [(ngModel)]="data.mailingAddress"
                       #mailingAddressModel="ngModel" #mailingAddressEl/>
                <abp-validation-summary [control]="mailingAddressModel"
                                        [controlEl]="mailingAddressEl"></abp-validation-summary>
            </div>
        </div>
    </div>
    <div class="col-8">
        <label style="font-size: 10px;">If residing at present address for less than two
            years,
            complete the following: </label>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="formerAddress-{{id}}">
                {{ "Former Address" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="formerAddress-{{id}}"
                       placeholder="street, city, state & ZIP" id="formerAddress-{{id}}" required
                       minlength="2" maxlength="32"
                       [(ngModel)]="data.formerAddress"
                       #formerAddressModel="ngModel" #formerAddressEl/>
                <abp-validation-summary [control]="formerAddressModel"
                                        [controlEl]="formerAddressEl"></abp-validation-summary>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="formerOwe-{{id}}"
                   id="formerOwe-{{id}}" value="formerOwe"
                   [(ngModel)]="data.formerAddressType">
            <label class="form-check-label" for="formerOwe-{{id}}">
                Own
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="formerOwe-{{id}}"
                   id="formerRent-{{id}}" value="formerRent"
                   [(ngModel)]="data.formerAddressType">
            <label class="form-check-label" for="formerRent-{{id}}">
                Rent
            </label>
        </div>

        <input type="number" class="form-control" name="formerAddressNoOfYears-{{id}}"
               id="formerAddressNoOfYears-{{id}}" required minlength="2"
               placeholder="No of years"
               *ngIf="data.formerAddressType === 'formerRent'"
               maxlength="32"
               [(ngModel)]="data.formerAddressNoOfYears"/>
    </div>
</div>
