<header>
  <nav class="navbar navbar-dark bg-primary navbar-expand-lg p-0">
    <div class="container px-0">
      <div class="d-flex mx-3 mx-sm-0 px-lg-0 w-100">
        <a class="navbar-brand" [routerLink]="['/app/home']">
          <img src="assets/images/headLogo.svg" alt="" />
        </a>
        <div
          class="w-100 text-right d-flex flex-column responsive-menu d-lg-none mt-1"
        >
          <div class="d-none mobileSearch">
            <strong class="text-white mx-2">(800) 930-8195</strong>
          </div>
          <div class="mb-2 mt-3">
            <a
              href=""
              class="btn btn-outline-info text-white text-uppercase mx-1 d-none d-md-inline-block"
              >Check loan status</a
            >
            <a [routerLink]="['/app/loan-detail']" class="btn btn-info text-uppercase">Apply Now</a>
          </div>

          <!-- Toggler/collapsibe Button -->
          <div
            class="align-items-end col d-flex justify-content-end ml-auto px-0 mb-2 mobileMenu"
          >
            <a href="tel:8009308195"
              ><strong class="text-white toptext mr-2"
                ><i class="fa fa-phone mr-1"></i>(800) 930-8195</strong
              ></a
            >
            <button
              class="navbar-toggler p-0"
              type="button"
              data-toggle="collapse"
              data-target="#collapsibleNavbar"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
        <div
          class="align-self-stretch d-flex flex-column ml-auto overflow-auto"
        >
          <div
            class="align-items-center d-lg-flex d-none justify-content-end mt-3 text-right w-100"
          >
            <div class="searchtop dsktopsearch">
              <span class="p-1 btn btn-search btn-primary"
                ><img src="assets/images/search.svg" alt=""
              /></span>
              <div class="inpSearch">
                <input
                  type="text"
                  name="search"
                  class="form-control"
                  placeholder="Search.."
                />
                <i class="fa fa-times searchcross"></i>
              </div>
            </div>

            <strong class="text-white toptext">(800) 930-8195</strong>
            <a
              href=""
              class="btn btn-outline-info text-white text-uppercase cls"
              >Check loan status</a
            >
            <a [routerLink]="['/app/loan-detail']" class="btn btn-info text-uppercase aplbtn">Apply Now</a>
          </div>
          <div
            class="collapse navbar-collapse flex-column ml-auto align-items-end ml-auto justify-content-end mb-0"
            id="collapsibleNavbar"
          >
            <!-- Links -->

            <ul class="navbar-nav ml-auto">
              <!-- Dropdown -->
              <li class="nav-item dropdown position-static">
                <a
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  href="#"
                  >Buying a home</a
                >
                <div class="dropdown-menu w-100" id="buyinghome">
                  <div class="container">
                    <div class="row p-3 w-100">
                      <div class="col-lg-3">
                        <h5 class="navHead">Buying a home</h5>
                        <p class="pt-3">
                          Exceptional Service Comes <br />
                          With Every Loan For <br />
                          Buying A House
                        </p>
                      </div>
                      <div class="col-lg-3">
                        <ul class="list-unstyled dropList">
                          <li>
                            <a [routerLink]="['/app/buying-home-guide']">
                              <i class="fa fa-check-circle"></i>
                              Buying a Home Guide
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/pre-approval']">
                              <i class="fa fa-check-circle"></i>
                              Pre Approval
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/first-time-home-buyer']">
                              <i class="fa fa-check-circle"></i>
                              First-time home buyer
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/buy-a-home-loan-options-animated-step1'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              step1
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/buy-a-home-loan-options-animated-step4'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              step4
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/buy-a-home-loan-options-animated-step7'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              step7
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/buy-a-home-loan-options-animated-step10'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              step10
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/buy-a-home-loan-options-animated-step13'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              step13
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-3">
                        <ul class="list-unstyled dropList">
                          <li>
                            <a [routerLink]="['/app/buying-second-home']">
                              <i class="fa fa-check-circle"></i>
                              Buying a Second Home
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buying-vacation-home']">
                              <i class="fa fa-check-circle"></i>
                              Buying a Vacation Home
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/real-state-investor']">
                              <i class="fa fa-check-circle"></i>
                              Real Estate Investor
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/buy-a-home-loan-options-animated-step2'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              step2
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/buy-a-home-loan-options-animated-step5'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              step5
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/buy-a-home-loan-options-animated-step8'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              step8
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/buy-a-home-loan-options-animated-step11'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              step11
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/buy-a-home-loan-options-animated-step14'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              step14
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-3">
                        <ul class="list-unstyled dropList">
                          <li>
                            <a [routerLink]="['/app/moving-and-buying-home']">
                              <i class="fa fa-check-circle"></i>
                              Moving and Buying a Home
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/home-buying-free-consultation'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              Home Buying Free Consultation
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/buy-a-home-loan-options-animated'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              animated
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/buy-a-home-loan-options-animated-step3'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              step3
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/buy-a-home-loan-options-animated-step6'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              step6
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/buy-a-home-loan-options-animated-step9'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              step9
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/buy-a-home-loan-options-animated-step12'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              step12
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item dropdown position-static">
                <a
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  href="#"
                  >Refinance</a
                >
                <div class="dropdown-menu w-100">
                  <div class="container">
                    <div class="row p-3 w-100">
                      <div class="col-lg-3">
                        <h5 class="navHead">Refinance</h5>
                        <p class="pt-2">
                          Exceptional Service Comes <br />
                          With Every Loan For <br />
                          Buying A House
                        </p>
                      </div>
                      <div class="col-lg-3">
                        <ul class="list-unstyled dropList">
                          <li>
                            <a href="#">
                              <i class="fa fa-check-circle"></i>
                              Refinance Guide
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/lower-your-payment']">
                              <i class="fa fa-check-circle"></i>
                              Lower Your Payment
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/get-cash-from-home']">
                              <i class="fa fa-check-circle"></i>
                              Get Cash From Your Home
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/consolidate-your-debt']">
                              <i class="fa fa-check-circle"></i>
                              Consolidate Your Debt
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-3">
                        <ul class="list-unstyled dropList">
                          <li>
                            <a
                              [routerLink]="[
                                '/app/pay-off-your-mortgage-faster'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              Pay Off Your Mortgage Faster
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/refinance-with-harp']">
                              <i class="fa fa-check-circle"></i>
                              Refinance with HARP 2.0
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="['/app/keep-your-payment-raising']"
                            >
                              <i class="fa fa-check-circle"></i>
                              Keep Your Payment From Rising
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-3">
                        <ul class="list-unstyled dropList">
                          <li>
                            <a
                              [routerLink]="[
                                '/app/refinance-investment-property'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              Refinance Investment Property
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/refinance-free-consultation'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              Refinance free consultation
                            </a>
                          </li>

                          <li>
                            <a [routerLink]="['/app/animated']">
                              <i class="fa fa-check-circle"></i>
                              animated
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item dropdown position-static">
                <a
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  href="#"
                  >Loan Options</a
                >
                <div class="dropdown-menu w-100">
                  <div class="container">
                    <div class="row p-3 w-100">
                      <div class="col-lg-3">
                        <h5 class="navHead">Loan Options</h5>
                        <p class="pt-3">
                          Exceptional Service Comes <br />
                          With Every Loan For <br />
                          Buying A House
                        </p>
                      </div>
                      <div class="col-lg-3">
                        <ul class="list-unstyled dropList">
                          <li>
                            <a [routerLink]="['/app/loan-options']">
                              <i class="fa fa-check-circle"></i>
                              Loan Options
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="['/app/thirty-year-fixed-mortgage']"
                            >
                              <i class="fa fa-check-circle"></i>
                              30-Year Fixed Mortgage
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/fifteen-year-fixed-mortgage'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              15-Year Fixed Mortgage
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-3">
                        <ul class="list-unstyled dropList">
                          <li>
                            <a [routerLink]="['/app/adjustable-rate-mortgage']">
                              <i class="fa fa-check-circle"></i>
                              Adjustable Rate Mortgage
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/harp-refinance']">
                              <i class="fa fa-check-circle"></i>
                              HARP Refinance
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/fha-loans']">
                              <i class="fa fa-check-circle"></i>
                              FHA Loans
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-3">
                        <ul class="list-unstyled dropList">
                          <li>
                            <a [routerLink]="['/app/jumbo-loan']">
                              <i class="fa fa-check-circle"></i>
                              Jumbo Loan
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/va-loan']">
                              <i class="fa fa-check-circle"></i>
                              Va Loan
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/refinance-animated']">
                              <i class="fa fa-check-circle"></i>
                              animated
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item dropdown position-static">
                <a
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  href="#"
                  >Mortgage Rates</a
                >
                <div class="dropdown-menu w-100">
                  <div class="container">
                    <div class="row p-3 w-100">
                      <div class="col-lg-3">
                        <h5 class="navHead">Mortgage Rates</h5>
                        <p class="pt-3">
                          Exceptional Service Comes <br />
                          With Every Loan For <br />
                          Buying A House
                        </p>
                      </div>
                      <div class="col-lg-3">
                        <ul class="list-unstyled dropList">
                          <li>
                            <a href="30-years.html">
                              <i class="fa fa-check-circle"></i>
                              Mortgage Rates
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated']">
                              <i class="fa fa-check-circle"></i>
                              Animated
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step1']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step1
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step2']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step2
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step3']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step3
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step4']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step4
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step5']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step5
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step6']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step6
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-3">
                        <ul class="list-unstyled dropList">
                          <li>
                            <a [routerLink]="['/app/email-and-text-updates']">
                              <i class="fa fa-check-circle"></i>
                              Email and Text Updates
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step7']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step7
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step8']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step8
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step9']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step9
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step10']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step10
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step11']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step11
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step12']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step12
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step13']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step13
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-3">
                        <ul class="list-unstyled dropList">
                          <li>
                            <a [routerLink]="['/app/current-home-loan-rates']">
                              <i class="fa fa-check-circle"></i>
                              Current Home Loan Rates
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step14']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step14
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step15']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step15
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step16']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step16
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step17']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step17
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step18']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step18
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/buy-a-home-animated-step19']">
                              <i class="fa fa-check-circle"></i>
                              Animated-Step19
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item dropdown position-static">
                <a
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  href="#"
                  >Calculators</a
                >
                <div class="dropdown-menu w-100">
                  <div class="container">
                    <div class="row p-3 w-100">
                      <div class="col-lg-3">
                        <h5 class="navHead">Calculators</h5>
                        <p class="pt-3">
                          Exceptional Service Comes <br />
                          With Every Loan For <br />
                          Buying A House
                        </p>
                      </div>
                      <div class="col-lg-3">
                        <ul class="list-unstyled dropList">
                          <li>
                            <a [routerLink]="['/app/mortgage-calculator']">
                              <i class="fa fa-check-circle"></i>
                              Mortgage Calculator
                            </a>
                          </li>
                          <li>
                            <a
                              [routerLink]="[
                                '/app/home-affordability-calculator'
                              ]"
                            >
                              <i class="fa fa-check-circle"></i>
                              Home Affordability Calculator
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/refinance-calculator']">
                              <i class="fa fa-check-circle"></i>
                              Refinance Calculator
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-3">
                        <ul class="list-unstyled dropList">
                          <li>
                            <a [routerLink]="['/app/rent-vs-buy-calculator']">
                              <i class="fa fa-check-circle"></i>
                              Rent vs Buy Calculator
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/amortization']">
                              <i class="fa fa-check-circle"></i>
                              Amortization
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item dropdown position-static">
                <a
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  href="#"
                  >About us</a
                >
                <div class="dropdown-menu w-100">
                  <div class="container">
                    <div class="row p-3 w-100">
                      <div class="col-lg-3">
                        <h5 class="navHead">About us</h5>
                        <p class="pt-3">
                          Exceptional Service Comes <br />
                          With Every Loan For <br />
                          Buying A House
                        </p>
                      </div>
                      <div class="col-lg-3">
                        <ul class="list-unstyled dropList">
                          <li>
                            <a [routerLink]="['/app/about-us']">
                              <i class="fa fa-check-circle"></i>
                              About Us
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/license-info']">
                              <i class="fa fa-check-circle"></i>
                              Licensing
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/request-a-mortgage']">
                              <i class="fa fa-check-circle"></i>
                              Request a Mortgage
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-3">
                        <ul class="list-unstyled dropList">
                          <li>
                            <a [routerLink]="['/app/contact-us']">
                              <i class="fa fa-check-circle"></i>
                              Contact Us
                            </a>
                          </li>
                          <li>
                            <a [routerLink]="['/app/mortgage-glossary']">
                              <i class="fa fa-check-circle"></i>
                              Mortgage Glossary
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/app/blog']">Blog</a>
              </li>
            </ul>
            <a
              href=""
              class="btn btn-outline-info d-md-none mb-2 mr-2 text-uppercase text-white"
              >Check loan status</a
            >
            <div class="searchtop dsktopsearch d-lg-none">
              <span class="p-1 btn btn-search btn-primary"
                ><img src="assets/images/search.svg" alt=""
              /></span>
              <div class="inpSearch">
                <input
                  type="text"
                  name="search"
                  class="form-control"
                  placeholder="Search.."
                />
                <i class="fa fa-times searchcross"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Brand -->
    </div>
  </nav>
</header>
