<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Borrower</th>
      <th scope="col">File Name</th>
      <th scope="col">Loan Status</th>
      <th scope="col">Status Date</th>
      <th scope="col">Est.Close</th>
      <th scope="col">Rate Loc...</th>
      <th scope="col">Processor</th>
      <th scope="col">Originator</th>
      <th scope="col">Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Larry</td>
      <td>the Bird</td>
    </tr>
  </tbody>
</table>
