.btn {
  font-size: 20px;
  padding: 22px;
  width: 100%;
}
.fa {
  margin-right: 10px;
}

#Family {
  background-color: #f47741;
  text-align: left;
}
.form-control {
  height: 65px;
  margin-top: 30px;
  width: 100%;
  font-size: 20px;
  height: 83px;
}
#num {
  color: #0cc4d4 !important;
}
#Email {
  color: #0cc4d4 !important;
}
#Back {
  margin-top: 204px;
  margin-right: 300px;
  font-size: 20px;
  cursor: pointer;
}
.co-borrower {
  font-size: 20px;
  margin-top: -41px;
}
.selected {
  background-color: #f47741;
}
