.btn {
  font-size: 20px;
  padding: 22px;
}
/* .fa {
  margin-right: 10px;
} */

#Family {
  background-color: #091a52;
  text-align: left;
}
.form-control {
  height: 65px;
  margin-top: 30px;
  font-size: 20px;
  height: 83px;
}
#num {
  color: #0cc4d4 !important;
}
#Email {
  color: #0cc4d4 !important;
}

.co-borrower {
  font-size: 20px;
}

button.btn:hover {
  background-color: #091a52;
}
/* Hafiz's CSS */

.Content-Step-Body.text-black {
  background-color: white !important;
  color: black;
}
.Content-Step-Body .btn-outline-blue {
  border-color: #091a52;
  color: #091a52;
}
.Content-Step-Body .btn-outline-blue:hover {
  color: white;
  background-color: #091a52;
}
.Content-Step-Body .form-control {
  background-color: #091a52 !important;
}
.selected {
  background-color: #091a52 !important;
  color: white !important;
}

#back {
  margin-top: 225px;
  margin-right: 350px;
  margin-left: 23px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  left: 33%;
  top: 100px;
}

.btn {
  width: 93%;
}
.form-control {
  width: 93%;
}

h1 {
  font-size: 30px !important;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  #back {
    margin-top: 225px;
    margin-right: 350px;
    margin-left: 23px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 33%;
    top: 100px;
  }
  .btn {
    width: 93%;
  }
  .form-control {
    width: 93%;
  }
  h1 {
    font-size: 30px !important;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #back {
    margin-top: 225px;
    margin-right: 350px;
    margin-left: 23px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 42%;
    top: 100px;
  }
  .btn {
    width: 55%;
  }
  .form-control {
    width: 55%;
  }
  h1 {
    font-size: 36px !important;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #back {
    margin-top: 225px;
    margin-right: 350px;
    margin-left: 23px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
  }
  .btn {
    width: 100%;
  }
  .form-control {
    width: 100%;
  }
  h1 {
    font-size: 40px !important;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #back {
    margin-top: 225px;
    margin-right: 350px;
    margin-left: 23px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
  }
  .btn {
    width: 100%;
  }
  .form-control {
    width: 100%;
  }
  h1 {
    font-size: 40px !important;
  }
}
