<div class="Content-Step-Body text-white">
  <div class="container">
    <h1 class="pb-5 font-weight-bold" style="font-size: 40px">
      How did you hear about us?
    </h1>
    <h4 class="co-borrower">Tell us how you found New American Funding.</h4>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="Back" (click)="proceedToPrevious()">
          <i class="fa fa-angle-left" style="font-size: 25px"></i>
          <span style="position: absolute; line-height: 25px">Back</span>
        </p>
      </div>
      <div class="col-lg-4">
        <div class="BTN">
          <form class="form" [formGroup]="form">
            <select
              formControlName="refferedBy"
              [(ngModel)]="refferedBy"
              class="form-control input-special mb-3 mt-8 btn_mwh"
              name=""
              id=""
            >
              <option [ngValue]="refBy" *ngFor="let refBy of refferedByList">
                {{ refBy }}
              </option>
            </select>
            <button
              type="button"
              class="btn btn-outline-primary btn-lg btn-block mb-3"
              (click)="SubmitForm()"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart p100 mt-5">
      <span>100%</span>
    </div>
  </div>
</div>
