<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5 font-weight-bold" style="font-size: 40px">
      OK! Now, what type of property is it?
    </h2>

    <div class="hrline">
      <span class="firsticon">
        <i class="fas fa-map-marker-alt"></i>
        <span class="text-white"> INTUITIVE<br />LOAN FINDER </span>
      </span>
      <span class="stepcircle"
        ><span class="secondstep">
          LONE <br />
          RECOMMENDATION</span
        ></span
      >
      <span class="stepcircle"
        ><span class="thirdstep">
          CREDIT <br />
          SCORES</span
        >
      </span>
      <span class="stepcircle"
        ><span class="fourthstep">
          DIGITAL <br />
          MORTGAGE</span
        >
      </span>
      <span class="stepcircle"
        ><span class="fivestep">
          CREDIT <br />
          SCORES</span
        >
      </span>
      <span class="stepcircle" style="float: right"
        ><span class="laststep">
          REAL <br />
          APPROVAL</span
        >
      </span>
      <hr />
    </div>

    <div class="col-lg-4">
      <i class="fa fa-angle-left" id="icon"></i>
      <p id="Back" (click)="proceedToPrevious()">Back</p>
    </div>
    <!-- <p>TELL US WHAT YOU WANT TO DO</p> -->
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="form-group mt-5">
          <div
            class="card bg_transparent"
            style="height: 210px"
            [class.selected]="formData.propertyType == 'Home to live in'"
          >
            <div
              class="card-body cursor_pointer"
              (click)="proceedToNext('Home to live in')"
            >
              <!-- <i class="fa fa-home fa-5x"></i> -->
              <img src="assets/images/home-white.png" alt="" class="mt-4" />
              <h5 class="mt-4">Home to live in</h5>
              <!-- <p>BUY A HOME</p> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="form-group mt-5">
          <div
            class="card bg_transparent"
            [class.selected]="formData.propertyType == 'Condo'"
          >
            <div
              class="card-body cursor_pointer"
              (click)="proceedToNext('Condo')"
            >
              <img src="assets/images/Group 22.png" alt="" />
              <h5 class="mt-3">Condo</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group mt-5">
          <div
            class="card bg_transparent"
            [class.selected]="formData.propertyType == 'Multi-unit'"
          >
            <div
              class="card-body cursor_pointer"
              (click)="proceedToNext('Multi-unit')"
            >
              <img src="assets/images/Group 23.png" alt="" />
              <h5 class="mt-3">Multi-unit</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div>
              <h5 class="information"><i class="fa fa-lock"></i> Your information is secure | No hassles | No obligations
              </h5>
              <input type="text" placeholder="SKIP THIS STEP NEXT" id="but">
          </div> -->
  </div>
</div>
