<div class="container">
  <div class="row">
    <div class="col">
      <div class="card my-5">
        <div class="card-header">Site configuration</div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Path</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let page of pages">
                <td>{{ page.pageName }}</td>
                <td>{{ page.pageIdentifier }}</td>
                <td>
                  <button
                    (click)="lgModal.show(); setPageId(page.id)"
                    class="btn btn-orange text-white btn"
                  >
                    EDIT
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #lgModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          {{ currentPage ? pages[currentPage - 1].pageName : "" }}
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="lgModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card border-0 shadow-none">
          <div class="card-body">
            <form
              *ngIf="currentPage === 1"
              [formGroup]="HomePageForm"
              (ngSubmit)="onSubmit()"
            >
              <ng-container formArrayName="MainCarousels">
                <h5 class="card-title d-inline">Main Carousels</h5>
                <button
                  type="button"
                  (click)="addMainCarousel()"
                  [disabled]="MainCarousels.controls.length === 4"
                  class="btn btn-orange float-right mr-2 text-white"
                >
                  Add
                </button>

                <div
                  class="form-row w-100"
                  *ngFor="
                    let mainCarousel of MainCarousels.controls;
                    let i = index
                  "
                >
                  <ng-container [formGroupName]="i">
                    <div class="form-group col-4">
                      <label for="FilePath-{{ i }}">Sliders</label>
                      <input
                        type="text"
                        id="FilePath-{{ i }}"
                        name="FilePath-{{ i }}"
                        class="form-control"
                        formControlName="FilePath"
                      />
                    </div>
                    <div class="form-group col-4">
                      <label for="Header-{{ i }}">Header</label>
                      <input
                        type="text"
                        id="Header-{{ i }}"
                        name="Header-{{ i }}"
                        class="form-control"
                        formControlName="Header"
                      />
                    </div>
                    <div class="form-group col-4">
                      <label for="SubHeader-{{ i }}">Sub Header</label>
                      <input
                        type="text"
                        id="SubHeader-{{ i }}"
                        name="SubHeader"
                        class="form-control"
                        formControlName="SubHeader"
                      />
                    </div>
                  </ng-container>
                </div>
              </ng-container>

              <hr />

              <h5 class="card-title">First Blog</h5>

              <div class="form-row w-100" formGroupName="FirstBlog">
                <div class="form-group col-4">
                  <label for="image">Image</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="FilePath"
                  />
                </div>
                <div class="form-group col-4">
                  <label for="top-Caption">Header</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Header"
                  />
                </div>
                <div class="form-group col-4">
                  <label>Sub Header</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="SubHeader"
                  />
                </div>
                <div class="form-group col-4">
                  <label>Description</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Description"
                  />
                </div>
              </div>

              <hr />

              <h5 class="card-title">Second Blog</h5>

              <div class="form-row w-100" formGroupName="SecondBlog">
                <div class="form-group col-4">
                  <label>Image</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="FilePath"
                  />
                </div>
                <div class="form-group col-4">
                  <label>Header</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Header"
                  />
                </div>
                <div class="form-group col-4">
                  <label>Sub Header</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="SubHeader"
                  />
                </div>
                <div class="form-group col-4">
                  <label>Description</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Description"
                  />
                </div>
              </div>

              <hr />

              <h5 class="card-title">Third Blog</h5>

              <div class="form-row w-100" formGroupName="ThirdBlog">
                <div class="form-group col-4">
                  <label>Image</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="FilePath"
                  />
                </div>
                <div class="form-group col-4">
                  <label>Header</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Header"
                  />
                </div>
                <div class="form-group col-4">
                  <label>Description</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Description"
                  />
                </div>
              </div>

              <hr />

              <h5 class="card-title">Forth Blog</h5>

              <div class="form-row w-100" formGroupName="ForthBlog">
                <div class="form-group col-4">
                  <label>Image</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="FilePath"
                  />
                </div>
                <div class="form-group col-4">
                  <label>Header</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Header"
                  />
                </div>
                <div class="form-group col-4">
                  <label>Description</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Description"
                  />
                </div>
              </div>

              <hr />

              <h5 class="card-title">Video Section</h5>

              <div class="form-row w-100" formGroupName="VideoSection">
                <div class="form-group col-4">
                  <label>Video</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="FilePath"
                  />
                </div>
                <div class="form-group col-4">
                  <label>Sub Header</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="SubHeader"
                  />
                </div>
                <div class="form-group col-4">
                  <label>Header</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Header"
                  />
                </div>
                <div class="form-group col-4">
                  <label>Description</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Description"
                  />
                </div>
              </div>

              <hr />

              <h5 class="card-title">Tips Section</h5>

              <div class="form-row w-100">
                <div class="form-group col-4">
                  <label>Header</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="KnowAboutHeader"
                  />
                </div>

                <h6 class="card-subtitle mb-2 text-muted">Checklist</h6>

                <ng-template formGroupName="Checklist">
                  <div class="form-group col-4">
                    <label>Main Header</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="MainHeader"
                    />
                  </div>
                  <div class="form-group col-4">
                    <label>Checklist 1</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Checklist1"
                    />
                  </div>
                  <div class="form-group col-4">
                    <label>Checklist 2</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Checklist2"
                    />
                  </div>
                  <div class="form-group col-4">
                    <label>Checklist 3</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Checklist3"
                    />
                  </div>
                  <div class="form-group col-4">
                    <label>Checklist 4</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Checklist4"
                    />
                  </div>
                </ng-template>

                <div class="form-group col-4">
                  <label>Slogan</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Slogan"
                  />
                </div>
                <div class="form-group col-8">
                  <label>Slogan Checklist</label>
                  <textarea
                    class="form-control"
                    formControlName="SloganChecklist"
                  ></textarea>
                </div>
              </div>

              <hr />

              <ng-container formArrayName="Testimonials">
                <h5 class="card-title">Testimonials</h5>

                <button
                  type="button"
                  (click)="addTestimonial()"
                  [disabled]="Testimonials.controls.length === 4"
                  class="btn btn-orange float-right mr-2 text-white"
                >
                  Add
                </button>

                <div
                  class="form-row w-100"
                  *ngFor="
                    let testimonial of Testimonials.controls;
                    let i = index
                  "
                >
                  <ng-container [formGroupName]="i">
                    <div class="form-group col-6">
                      <label for="Comment-{{ i }}">Comments</label>
                      <input
                        type="text"
                        id="Comment-{{ i }}"
                        name="Comment"
                        class="form-control"
                        formControlName="Comment"
                      />
                    </div>
                    <div class="form-group col-6">
                      <label for="Author-{{ i }}">Author</label>
                      <input
                        type="text"
                        id="Author-{{ i }}"
                        name="Author"
                        class="form-control"
                        formControlName="Author"
                      />
                    </div>
                  </ng-container>
                </div>
                <button
                  type="button"
                  class="btn btn-orange float-right mr-2 text-white"
                >
                  Save
                </button>
              </ng-container>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
