<div class="container">
  <div class="row">
    <div class="col">
      <div class="card my-5">
        <div class="card-header">Site configuration</div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Path</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let page of pages">
                <td>{{ page.name }}</td>
                <td>{{ page.path }}</td>
                <td>
                  <button
                    (click)="lgModal.show(); setPageId(page.id)"
                    class="btn btn-orange text-white btn"
                  >
                    EDIT
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #lgModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          {{ currentPage ? pages[currentPage - 1].name : "" }}
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="lgModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card border-0 shadow-none">
          <div class="card-body">
            <form
              *ngIf="currentPage === 1"
              [formGroup]="HomePageForm"
              (ngSubmit)="onSubmit()"
            >
              <h5 class="card-title d-inline">Top Carousel</h5>
              <button
                type="button"
                (click)="addMainCarousel()"
                [disabled]="homePage.mainCarousels.length === 4"
                class="btn btn-orange float-right mr-2 text-white"
              >
                Add
              </button>

              <ng-container formArrayName="mainCarousels">
                <div
                  class="form-row w-100"
                  *ngFor="
                    let mainCarousel of mainCarousels.controls;
                    let i = index
                  "
                >
                  <ng-container [formGroupName]="i">
                    <div class="form-group col-4">
                      <label for="slider-{{ i }}">Sliders</label>
                      <input
                        type="file"
                        class="form-control"
                        formControlName="slider"
                      />
                    </div>
                    <div class="form-group col-4">
                      <label for="header-{{ i }}">Header</label>
                      <input
                        type="text"
                        id="header-{{ i }}"
                        name="header"
                        class="form-control"
                        formControlName="header"
                      />
                    </div>
                    <div class="form-group col-4">
                      <label for="subHeader-{{ i }}">Sub Header</label>
                      <input
                        type="text"
                        id="subHeader-{{ i }}"
                        name="subHeader"
                        class="form-control"
                        formControlName="subHeader"
                      />
                    </div>
                  </ng-container>
                </div>
              </ng-container>

              <hr />

              <h5 class="card-title">Featured Mortgage Options Section 1</h5>

              <div class="form-row w-100">
                <div class="form-group col-4">
                  <label for="image">Image</label>
                  <input
                    type="file"
                    id="image"
                    name="image"
                    class="form-control"
                    formControlName="image"
                  />
                </div>
                <div class="form-group col-4">
                  <label for="top-captiom">Top Captiom</label>
                  <input
                    type="text"
                    id="top-captiom"
                    name="top-captiom"
                    class="form-control"
                    formControlName="topCaptiom1"
                  />
                </div>
                <div class="form-group col-4">
                  <label for="heading">Heading</label>
                  <input
                    type="text"
                    id="heading"
                    name="heading"
                    class="form-control"
                    formControlName="heading1"
                  />
                </div>
                <div class="form-group col-4">
                  <label for="bottom-caption">Bottom Caption</label>
                  <input
                    type="txet"
                    id="bottom-caption"
                    name="bottom-caption"
                    class="form-control"
                    formControlName="bottomCaption1"
                  />
                </div>
              </div>

              <hr />

              <h5 class="card-title">Featured Mortgage Options Section 2</h5>

              <div class="form-row w-100">
                <div class="form-group col-4">
                  <label for="image">Image</label>
                  <input
                    type="file"
                    id="image"
                    name="image"
                    class="form-control"
                    multiple
                    formControlName="image1"
                  />
                </div>
                <div class="form-group col-4">
                  <label for="top-captiom">Top-Captiom</label>
                  <input
                    type="text"
                    id="top-captiom"
                    name="top-captiom"
                    class="form-control"
                    formControlName="topCaptiom2"
                  />
                </div>
                <div class="form-group col-4">
                  <label for="heading">Heading</label>
                  <input
                    type="text"
                    id="heading"
                    name="heading"
                    class="form-control"
                    formControlName="heading2"
                  />
                </div>
                <div class="form-group col-4">
                  <label for="bottom-caption">Bottom Caption</label>
                  <input
                    type="txet"
                    id="bottom-caption"
                    name="bottom-caption"
                    class="form-control"
                    formControlName="bottomCaption2"
                  />
                </div>
              </div>

              <hr />

              <h5 class="card-title">
                Featured Mortgage Options Section 2 Sub Section 1
              </h5>

              <ng-container formArrayName="featuredMortgages">
                <div
                  class="form-row w-100"
                  *ngFor="
                    let featuredMortgage of featuredMortgages.controls;
                    let i = index
                  "
                >
                  <ng-container [formGroupName]="i">
                    <div class="form-group col-4">
                      <label for="image2-{{ i }}">Image</label>
                      <input
                        type="file"
                        id="image2-{{ i }}"
                        name="image2"
                        class="form-control"
                        formControlName="image2"
                      />
                    </div>
                    <div class="form-group col-4">
                      <label for="topCaptiom3-{{ i }}">Top-Captiom</label>
                      <input
                        type="text"
                        id="top-captiom"
                        name="topCaptiom3-{{ i }}"
                        class="form-control"
                        formControlName="topCaptiom3"
                      />
                    </div>
                    <div class="form-group col-4">
                      <label for="heading3-{{ i }}">Heading</label>
                      <input
                        type="text"
                        id="heading3-{{ i }}"
                        name="heading3"
                        class="form-control"
                        formControlName="heading3"
                      />
                    </div>
                  </ng-container>
                </div>
              </ng-container>

              <hr />

              <h5 class="card-title">
                Your Independent Mortgage Broker In California Section
              </h5>

              <div class="form-row w-100">
                <div class="form-group col-4">
                  <label for="video">Video</label>
                  <input
                    type="file"
                    id="video"
                    name="video"
                    class="form-control"
                    multiple
                    formControlName="video"
                  />
                </div>
              </div>

              <hr />

              <h5 class="card-title">
                Tips For Getting A Home Mortgage In California Section 1
              </h5>

              <div class="form-row w-100">
                <div class="form-group col-6">
                  <label for="main-heading">Main Heading</label>
                  <input
                    type="text"
                    id="main-heading"
                    name="main-heading"
                    class="form-control"
                    formControlName="mainHeading"
                  />
                </div>
                <div class="form-group col-6">
                  <label for="sub-main-heading">Sub Main Heading</label>
                  <input
                    type="text"
                    id="sub-main-heading"
                    name="sub-main-heading"
                    class="form-control"
                    formControlName="subMainHeading"
                  />
                </div>
              </div>

              <ng-container formArrayName="tipsForGettingAHomeMortgages">
                <div
                  class="form-row w-100"
                  *ngFor="
                    let tipsForGettingAHomeMortgage of tipsForGettingAHomeMortgages.controls;
                    let i = index
                  "
                >
                  <ng-container [formGroupName]="i">
                    <div class="form-group col-6">
                      <label for="picture-{{ i }}"
                        >Picture {{ ConvertToInt(i) + 1 }}</label
                      >
                      <input
                        type="file"
                        id="picture-{{ i }}"
                        name="picture"
                        class="form-control"
                        formControlName="picture"
                      />
                    </div>

                    <div class="form-group col-6">
                      <label for="heading-{{ i }}"
                        >Sub Heading {{ ConvertToInt(i) + 1 }}</label
                      >
                      <input
                        type="text"
                        id="heading-{{ i }}"
                        name="heading"
                        class="form-control"
                        formControlName="heading"
                      />
                    </div>
                  </ng-container>
                </div>
              </ng-container>

              <hr />

              <h5 class="card-title">
                Tips For Getting A Home Mortgage In California Section 2
              </h5>

              <div class="form-row w-100">
                <div class="form-group col-4">
                  <label for="image">Image</label>
                  <input
                    type="file"
                    id="image"
                    name="image"
                    class="form-control"
                    multiple
                    formControlName="image4"
                  />
                </div>
                <div class="form-group col-4">
                  <label for="paragraph">Paragraph</label>
                  <textarea
                    class="form-control"
                    rows="3"
                    formControlName="paragraph"
                  ></textarea>
                </div>
              </div>

              <hr />

              <h5 class="card-title">Testimonials</h5>

              <button
                type="button"
                (click)="addTestimonial()"
                [disabled]="homePage.testimonials.length === 4"
                class="btn btn-orange float-right mr-2 text-white"
              >
                Add
              </button>

              <ng-container formArrayName="testimonials">
                <div
                  class="form-row w-100"
                  *ngFor="
                    let testimonial of testimonials.controls;
                    let i = index
                  "
                >
                  <ng-container [formGroupName]="i">
                    <div class="form-group col-4">
                      <label for="comments-{{ i }}">Comments</label>
                      <input
                        type="text"
                        id="comments-{{ i }}"
                        name="comments"
                        class="form-control"
                        formControlName="comments"
                      />
                    </div>
                    <div class="form-group col-4">
                      <label for="names-{{ i }}">Names</label>
                      <input
                        type="text"
                        id="names-{{ i }}"
                        name="names"
                        class="form-control"
                        formControlName="names"
                      />
                    </div>
                  </ng-container>
                </div>
                <button
                  type="button"
                  class="btn btn-orange float-right mr-2 text-white"
                >
                  Save
                </button>
              </ng-container>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
