<div class="row">
    <div class="col-12" *ngIf="showHeading">
        <h4>Borrower</h4>
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="isSelfEmployer1-{{id}}" id="isSelfEmployer1-{{id}}"
                   [(ngModel)]="data.isSelfEmployer"/>
            <label class="form-check-label" for="isSelfEmployer1-{{id}}">
                Self Employer
            </label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="employersName1-{{id}}">
                {{ "Employer's Name" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="employersName1-{{id}}"
                       id="employersName1-{{id}}" required minlength="2" maxlength="32"
                       [disabled]="data.isSelfEmployer"
                       [(ngModel)]="data.employersName"
                       #employersNameModel="ngModel" #employersName1El/>
                <abp-validation-summary [control]="employersNameModel"
                                        [controlEl]="employersName1El"></abp-validation-summary>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="employersAddress1-{{id}}">
                {{ "Employer's Address" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="employersAddress1-{{id}}"
                       id="employersAddress1-{{id}}" required minlength="2" maxlength="32"
                       [disabled]="data.isSelfEmployer" [(ngModel)]="data.employersAddress"
                       #employersAddressModel="ngModel" #employersAddress1El/>
                <abp-validation-summary [control]="employersAddressModel"
                                        [controlEl]="employersAddress1El"></abp-validation-summary>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row required" *ngIf="!secondary">
            <label class="col-md-3 col-form-label" for="yearOnThisJob1-{{id}}">
                {{ "Yrs. on this job" | localize }}
            </label>
            <div class="col-md-9">
                <input type="number" class="form-control" name="yearOnThisJob1-{{id}}"
                       id="yearOnThisJob1-{{id}}" required minlength="2" maxlength="32"
                       [(ngModel)]="data.yearOnThisJob"
                       #yearOnThisJobModel="ngModel" #yearOnThisJob1El/>
                <abp-validation-summary [control]="yearOnThisJobModel"
                                        [controlEl]="yearOnThisJob1El"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required" *ngIf="secondary">
            <label class="col-md-3 col-form-label" for="datesFromTo-{{id}}">
                {{ "Dates (from – to)" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="datesFromTo-{{id}}"
                       id="datesFromTo-{{id}}" required minlength="2" maxlength="32"
                       [(ngModel)]="data.datesFromTo"
                       #datesFromToModel="ngModel" #datesFromToEl/>
                <abp-validation-summary [control]="datesFromToModel"
                                        [controlEl]="datesFromToEl">
                </abp-validation-summary>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row required" *ngIf="!secondary">
            <label class="col-md-3 col-form-label" for="yearInThisLineOfWork1-{{id}}">
                {{ "Yrs. employed in this line of work/profession " | localize }}
            </label>
            <div class="col-md-9">
                <input type="number" class="form-control" name="yearInThisLineOfWork1-{{id}}"
                       id="yearInThisLineOfWork1-{{id}}" required minlength="2" maxlength="32"
                       [(ngModel)]="data.yearInThisLineOfWork"
                       #yearInThisLineOfWorkModel="ngModel" #yearInThisLineOfWork1El/>
                <abp-validation-summary [control]="yearInThisLineOfWorkModel"
                                        [controlEl]="yearInThisLineOfWork1El">
                </abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required" *ngIf="secondary">
            <label class="col-md-3 col-form-label" for="monthlyIncome-{{id}}">
                {{ "Monthly Income" | localize }}
            </label>
            <div class="col-md-9">
                <input type="number" class="form-control" name="monthlyIncome-{{id}}"
                       id="monthlyIncome-{{id}}" required minlength="2" maxlength="32"
                       [(ngModel)]="data.monthlyIncome"
                       #yearInThisLineOfWorkModel="ngModel" #monthlyIncomeEl/>
                <abp-validation-summary [control]="yearInThisLineOfWorkModel"
                                        [controlEl]="monthlyIncomeEl">
                </abp-validation-summary>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="position1-{{id}}">
                {{ "Position/Title/Type of Business" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="position1-{{id}}" id="position1-{{id}}"
                       required minlength="2" maxlength="32"
                       [(ngModel)]="data.position" #positionModel="ngModel"
                       #position1El/>
                <abp-validation-summary [control]="positionModel"
                                        [controlEl]="position1El">
                </abp-validation-summary>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="businessPhone1-{{id}}">
                {{ "Business Phone" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="businessPhone1-{{id}}"
                       id="businessPhone1-{{id}}"
                       required minlength="2" maxlength="32"
                       [(ngModel)]="data.businessPhone"
                       #businessPhoneModel="ngModel"
                       #businessPhone1El/>
                <abp-validation-summary [control]="businessPhoneModel"
                                        [controlEl]="businessPhone1El">
                </abp-validation-summary>
            </div>
        </div>
    </div>
</div>
<hr>
