<div class="Content-Step-Body text-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h2 class="pb-5">
          OK here are your personalized GRaffordability results!
        </h2>
        <p>
          Get an official Loan Estimate before choosing a loan. Your actual
          rate, payment and costs could be higher.
        </p>
      </div>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-md-4 col-lg-3">
        <div class="card bg-white">
          <div class="card-body">
            <h1 class="card-title text-primary">30</h1>
            <p class="card-subtitle">FHA FIXED</p>
            <p id="subtitle">Years</p>
            <div class="subtitle-two">Consistent payments over 30 years</div>
            <div class="subtitle-three">with mortgage insurance.</div>
            <p class="card-text" id="text-one">$1,684</p>
            <p class="card-text" id="text-two">per month</p>
            <div class="line">
              <hr />
            </div>
            <div>
              <img src="assets/images/ok.png" alt="" id="img-one" />
              <p class="float-left">Principal & Interest</p>
              <span id="doller-one">$972</span>
              <img src="assets/images/ok.png" alt="" id="img-two" />
              <P class="float-left">Est. Taxes & Insurance</P
              ><span id="doller-two">$555</span>
              <img src="assets/images/ok.png" alt="" id="img-three" />
              <P class="float-left">Mortgage Insurance</P
              ><span id="doller-three">$157</span>
            </div>
            <div class="line-one">
              <hr />
            </div>
            <div class="">
              <p class="" id="rate">Rate</p>
              <span id="apr">APR</span>
              <p class="" id="rate-num">2.500%</p>
              <span id="apr-num">3.569%</span>
            </div>
            <div class="line-three">
              <hr />
            </div>
            <div>
              <p class="float-left" id="fee">Fees or (Credits)</p>
              <span id="d-one">($100)</span>
            </div>
            <div class="line-four">
              <hr />
            </div>
            <p class="float-left" id="lender">Lender Costs</p>
            <span id="d-two">($1290)</span>
          </div>
          <div class="box-fill">
            <p class="pt-1">I LIKE THIS LOAN</p>
          </div>
        </div>
      </div>
      <!-- //second-col -->

      <div class="col-md-4 col-lg-3">
        <div class="card bg-white">
          <div class="card-body">
            <h1 class="card-title text-primary">30</h1>
            <p class="card-subtitle">VA FIXED</p>
            <p id="subtitle">Years</p>
            <div class="subtitle-two">
              Loans for U.S. veterans that offer
              <!-- <p>with mortgage insurance.</p> -->
            </div>
            <div class="subtitle-three">100% financing and consistent</div>
            <div class="subtitle-four">monthly payments over 30 years.</div>
            <p class="card-text" id="text-one" style="color: skyblue">$1,493</p>
            <p class="card-text" id="text-two">per month</p>
            <div class="line">
              <hr />
            </div>
            <div>
              <img src="assets/images/ok.png" alt="" id="img-one" />
              <p class="float-left">Principal & Interest</p>
              <span id="doller-one">$938</span>
              <img src="assets/images/ok.png" alt="" id="img-two" />
              <P class="float-left">Est. Taxes & Insurance</P
              ><span id="doller-two">$555</span>
              <!-- <img src="assets/images/ok.png" alt="" id="img-three">
               <P class="float-left">Mortgage Insurance</P><span id="doller-three">$157</span> -->
            </div>
            <div class="line-one">
              <hr />
            </div>
            <div class="">
              <p class="" id="rate">Rate</p>
              <span id="apr">APR</span>
              <p class="" id="rate-num" style="color: skyblue">2.375%</p>
              <span id="apr-num" style="color: skyblue">2.636%</span>
            </div>
            <div class="line-three">
              <hr />
            </div>
            <div>
              <p class="float-left" id="fee">Fees or (Credits)</p>
              <span id="d-one">($100)</span>
            </div>
            <div class="line-four">
              <hr />
            </div>
            <p class="float-left" id="lender">Lender Costs</p>
            <span id="d-two">($1290)</span>
          </div>
          <div class="box-fill mt-4">
            <p class="pt-1">I LIKE THIS LOAN</p>
          </div>
        </div>
        <!-- three col -->
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="card bg-white">
          <div class="card-body">
            <p class="text-primary" id="Loan-Details">Loan Details</p>
            <span
              ><img src="assets/images/Group 441.png" alt="" id="imges"
            /></span>
            <div class="line-five"></div>
            <div class="box-fill bg-white">
              <p for="" id="Purchase">Purchase price</p>
              <p type="text" placeholder="$700,000" id="price" class=""></p>
            </div>

            <div>
              <label for="">Down payment</label>
              <input type="text" placeholder="$700,000" />
              <span><input type="text" placeholder="25%" /></span>
            </div>
            <div>
              <label for="">Purchase price</label>
              <input type="text" placeholder="$175,000" />
            </div>
            <div>
              <label for="">ZIP code</label>
              <input type="text" placeholder="92021" />
            </div>
            <div>
              <label for="">Property use</label>
              <input type="text" placeholder="Home to live in" />
            </div>
            <div>
              <label for="">Most important to you</label>
              <input type="text" placeholder="Lowest interest rate" />
            </div>
            <div>
              <label for="">Credit score</label>
              <input type="text" placeholder="Excellent (740+)" />
            </div>
            <div>
              <label for="">Years you’ll own the property</label>
              <input type="text" placeholder="20+ years" />
            </div>
            <div>
              <div class="box-fill">
                <p class="pt-1">UPDATE</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p id="button" class="box-fill">SEE ALL OPTIONS</p>
      </div>
    </div>
  </div>
</div>
