<div>
  <h4 class="section-title">Loan and Property Information</h4>
  <div class="info-block">
    <p>
      This section asks about the loan’s purpose and the property you want to
      purchase or refinance.
    </p>
  </div>

  <div class="div-main-grp" style="width: 100%; margin-top: 30px; margin-bottom: 20px;">

    <div class="row div-sub-grp">
    <div class="col-12">
      <div class="frm-group">

        <div class="row">
          <div class="col-2">
            <label class="frm-label">
              <span>Loan Amount</span>
            </label>
          </div>

          <div class="col-10" style="border-left:1px solid #a5a5a5">
            <label class="frm-label">
              <span>Loan Purpose</span>
            </label>
          </div>

        </div>

        <div class="row">
          <div class="col-2">
            <div class="frm-group">
              <div class="input-border-bottom">
                <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
              </div>
             </div>
          </div>
          <div class="col-10"  style="border-left:1px solid #a5a5a5">
            <div class="frm-group ">
              <div class="frm-fld-input">
                 <div class="row mt-2">

                  <div class="col-2">
                    <div style="display: flex; justify-content: center;">
                      <input type="radio" name="Purchase" style="width: 40px;" />
                      <label class="text-gray">Purchase</label>
                    </div>
                  </div>

                  <div class="col-2">
                    <div style="display: flex; justify-content: center;">
                      <input type="radio" name="Purchase" style="width: 40px;"/>
                      <label class="text-gray">Refinance</label>
                    </div>
                  </div>

                  <div class="col-3">
                    <div style="display: flex; justify-content: center;">
                      <input type="radio" name="Purchase" style="width: 40px;"/>
                      <label class="text-gray">Other (specify)</label>
                    </div>
                  </div>

                  <div class="col-3">
                      <div class="col-2 input-border-bottom">
                        <input type="text" />
                      </div>
                  </div>

                 </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    </div>


  <div class="row div-sub-grp">
    <div class="col-12">
      <div class="frm-group">
        <label class="frm-label">Property Address</label>
        <div class="row mt-2">
          <div class="col-1"><label class="gray-text">Street</label></div>
          <div class="col-7 input-border-bottom">
            <input type="text" />
          </div>

          <div class="col-1"><label class="gray-text">Unit#</label></div>
          <div class="col-2 input-border-bottom">
            <input type="text" />
          </div>
        </div>


        <div class="row mt-2">
          <div class="col-1"><label class="gray-text">City</label></div>
          <div class="col-3 input-border-bottom">
            <input type="text" />
          </div>

          <div class="col-1"><label class="gray-text">State</label></div>
          <div class="col-1 input-border-bottom">
            <input type="text" />
          </div>


          <div class="col-1"><label class="gray-text">ZIP</label></div>
          <div class="col-1 input-border-bottom">
            <input type="text" />
          </div>


          <div class="col-1"><label class="gray-text">Country</label></div>
          <div class="col-2 input-border-bottom">
            <input type="text" />
          </div>

        </div>


        <div class="row mt-2">
          <div class="col-1"><label class="gray-text">Number of Units</label></div>
          <div class="col-4 input-border-bottom">
            <input type="text" />
          </div>

          <div class="col-1"><label class="gray-text">PROPERTY VALUE $</label></div>
          <div class="col-4 input-border-bottom">
            <input type="text" />
          </div>
        </div>


      </div>
    </div>
  </div>


  <div class="row div-sub-grp">
    <div class="col-12">
      <div class="frm-group">

        <div class="row">
          <div class="col-2">
            <label class="frm-label">
              <span>Occupancy</span>
            </label>
          </div>

          <div class="col-10" >
            <label class="frm-label">
              <span></span>
            </label>
          </div>

        </div>

        <div class="row">
          <div class="col-12"  >
            <div class="frm-group ">
              <div class="frm-fld-input">
                 <div class="row mt-2">

                  <div class="col-2">
                    <div style="display: flex; justify-content: center;">
                      <input type="radio" name="Purchase" style="width: 40px;" />
                      <label class="text-gray">Primary Residence</label>
                    </div>
                  </div>

                  <div class="col-2">
                    <div style="display: flex; justify-content: center;">
                      <input type="radio" name="Purchase" style="width: 40px;"/>
                      <label class="text-gray">Second Home</label>
                    </div>
                  </div>

                  <div class="col-2">
                    <div style="display: flex; justify-content: center;">
                      <input type="radio" name="Purchase" style="width: 40px;"/>
                      <label class="text-gray">Investment Property</label>
                    </div>
                  </div>


                  <div class="col-4 ml-4">
                    <div style="display: flex; justify-content: center;">
                      <label class="text-gray" style="font-weight: 600;">FHA SECONDARY RESIDENCE</label>
                      <input type="checkbox" name="Purchase" style="width: 40px;"/>
                    </div>
                  </div>

                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row div-sub-grp">
    <div class="col-12">
      <div class="frm-group">

        <div class="row">
          <div class="col-6">
            <label class="frm-label">
              1. Mixed-Use Property.
            </label>
            <label class="text-gray">If you will occupy the property, will you set aside space within the property to operate your own business?
              <br>(e.g., daycare facility, medical office, beauty/barber shop)
            </label>
          </div>

          <div class="col-6" >
            <label class="frm-label">
              2. Manufactured Home.
            </label>
            <label class="text-gray">Is the property a manufactured home? <br>(e.g., a factory built dwelling built on a permanent chassis)</label>
          </div>

        </div>

        <div class="row">
          <div class="col-6 text-right">
              <div class="frm-fld-input">
                 <div class="row mt-2">

                  <div class="col-2">
                    <div style="display: flex; justify-content: center;">
                      <input type="radio" name="Purchase" style="width: 40px;" />
                      <label class="text-gray">Yes</label>
                    </div>
                  </div>

                  <div class="col-2">
                    <div style="display: flex; justify-content: center;">
                      <input type="radio" name="Purchase" style="width: 40px;"/>
                      <label class="text-gray">No</label>
                    </div>
                  </div>

                 </div>
              </div>
          </div>

          <div class="col-6 text-right">
            <div class="frm-fld-input">
               <div class="row mt-2">

                <div class="col-2">
                  <div style="display: flex; justify-content: center;">
                    <input type="radio" name="Purchase" style="width: 40px;" />
                    <label class="text-gray">Yes</label>
                  </div>
                </div>

                <div class="col-2">
                  <div style="display: flex; justify-content: center;">
                    <input type="radio" name="Purchase" style="width: 40px;"/>
                    <label class="text-gray">No</label>
                  </div>
                </div>

               </div>
            </div>
        </div>

        </div>
      </div>
    </div>
  </div>


  <div class="section-title-wo-border" style="display: flex; align-items: center; width: 100%;">
    <span style="font-size: 20px;">Other New Mortgage Loans on the Property You are Buying or Refinancing</span>
    <label class="container" style="margin-left:20px;width:200px"><span style=" font-weight: bold;">Does Not Apply</span>
      <input type="checkbox">
      <span class="checkmark mt-2"></span>
    </label>
  </div>

  <div class="row div-sub-grp">
    <div class="col-12">
      <div class="frm-group">

        <div class="row">
          <div class="col-3">
            <label class="frm-label">
              <span>Creditor Name:</span>
            </label>
          </div>

          <div class="col-2" >
            <label class="frm-label">
              <span>Lien Type</span>
            </label>
          </div>

          <div class="col-2" >
            <label class="frm-label">
              <span>Monthly Payment</span>
            </label>
          </div>

          <div class="col-2" >
            <label class="frm-label">
              <span>Loan Amount/ Amount to be Drawn</span>
            </label>
          </div>

          <div class="col-2" >
            <label class="frm-label">
              <span>Credit Limit: (if applicable)</span>
            </label>
          </div>

        </div>

        <div class="row">
          <div class="col-2">
            <div class="frm-group">
              <div class="input-border-bottom">
                <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
              </div>
             </div>
          </div>
          <div class="col-10"  style="border-left:1px solid #a5a5a5">
            <div class="frm-group ">
              <div class="">
                 <div class="row mt-2">
                  <div class="col-3">
                    <div style="display: flex; justify-content: center;">
                      <div style="display: flex; justify-content: center;">
                        <input type="radio" name="Purchase" style="width: 40px;" />
                        <label class="text-gray">First Lien</label>
                      </div>

                      <div style="display: flex; justify-content: center;">
                        <input type="radio" name="Purchase" style="width: 40px;"/>
                        <label class="text-gray">Subordinate Lien</label>
                      </div>
                    </div>
                  </div>


                  <div class="col-2">
                    <div class="frm-group">
                      <div class="input-border-bottom">
                        <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                      </div>
                     </div>
                  </div>


                  <div class="col-2">
                    <div class="frm-group">
                      <div class="input-border-bottom">
                        <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                      </div>
                     </div>
                  </div>

                  <div class="col-2">
                    <div class="frm-group">
                      <div class="input-border-bottom">
                        <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                      </div>
                     </div>
                  </div>


                  <div class="col-2">
                    <div class="frm-group">
                      <div class="input-border-bottom">
                        <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                      </div>
                     </div>
                  </div>

                 </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    </div>


</div>



  <div class="separator"></div>
  <div class="row borrower-block">
    <div class="col-sm-8">
      <div class="input-group">
        <div class="input-group-text">Borrower Name:</div>
        <input
          type="text"
          class="form-control"
          id="specificSizeInputGroupUsername"
        />
      </div>
    </div>
  </div>




  <div class="row text-right mt-5">
    <div class="col-sm-12">
      <button class="btn btn-fill">NEXT</button>
    </div>
  </div>
</div>
