<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5 font-weight-bold" style="font-size: 40px">
      To the best of your knowledge, what’s most important to you?
    </h2>
    <div class="col-lg-4">
      <i class="fa fa-angle-left" id="icon"></i>
      <p id="Back" (click)="proceedToPrevious()">Back</p>
    </div>
    <!-- <p>TELL US WHAT YOU WANT TO DO</p> -->
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="form-group mt-5">
          <div class="card">
            <div class="card-body">
              <!-- <i class="fa fa-home fa-5x"></i> -->
              <img src="assets/images/intrest-rate-icon.png" alt="" />
              <h5 class="mt-3">Lowest Interest Rate</h5>
              <!-- <p>BUY A HOME</p> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="form-group mt-5">
          <div class="card">
            <div class="card-body">
              <img src="assets/images/big-dollar.png" alt="" />
              <h5 class="mt-3">Lowest Monthly Payment</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group mt-5">
          <div class="card">
            <div class="card-body">
              <img src="assets/images/loan-term-icon.png" alt="" />
              <h5 class="mt-3">Shortest Loan Term</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <!-- <h5 class="information"><i class="fa fa-lock"></i> Your information is secure | No hassles | No obligations
              </h5> -->
      <!-- <input type="text" placeholder="SKIP THIS STEP NEXT" id="button"> -->
      <p
        id="button"
        class="box-fill"
        (click)="proceedToNext()"
        style="cursor: pointer"
      >
        SKIP THIS STEP NEXT
      </p>
    </div>
  </div>
</div>
