<style>
  :host/deep/ .hidde{
    visibility: hidden !important;
  }

  :host/deep/  .disabled .input-border-bottom{
    pointer-events: none;
    background-color: #E7E7E7 !important;
  }

</style>
<div>

  <h4 class="section-title">Property You Own</h4>
  <div class="info-block">
    <p>
      This section asks you to list all properties you currently own and what
      you owe on them.
    </p>
  </div>

  <div class="Main" style="width: 100%;">
    <form #financialInfoRealEstateForm="ngForm" (ngSubmit)="financialInfoRealEstateForm.valid && create()" class="w-full">
    <div class="section-title-wo-border" style="display: flex; align-items: center; width: 100%;">
      <span style="font-size: 20px;">If you are refinancing, list the property you are refinancing FIRST.</span>
    </div>

    <h4>Include income from other sources below. Under Income Source, choose from the sources listed here:</h4>

    <div class="div-main-grp" style="width: 100%; margin-top: 30px; margin-bottom: 20px;" *ngFor="let item of financialInfoRealState ; index as i">
      <div class="section-title-wo-border" style="display: flex; align-items: center; width: 100%;" [ngClass]="{'hidde':i == 0}">
        <span style="font-size: 20px;">IF APPLICABLE, Complete Information for Additional Property</span>
        <label class="container" style="margin-left:20px;width:200px"><span style=" font-weight: bold;">Does Not Apply</span>
          <input type="checkbox" [ngModel]="item.flgApplicableNotApply" (change)="changeCheckBox(i)"
          id="{{i}}_flgApplicableNotApply" name="{{i}}_flgApplicableNotApply">
          <span class="checkmark mt-2"></span>
        
        </label>
      </div>
      <div class="row div-sub-grp">
        <div class="col-12">
          <div class="frm-group"   [ngClass]="{'disabled':item.flgApplicableNotApply == true}">
            <label class="frm-label">
              <span>Address</span>
            </label>
            <div class="row mt-12">
              <div class="col-1"><label class="gray-text">Street</label></div>
              <div class="col-10 input-border-bottom" 
              [ngClass]="{'error_bb': financialInfoRealEstateForm.submitted && street.errors}"
              [ngClass]="{'error_bb':  street.touched && street.errors}">
                <input type="text" [readonly]="item.flgApplicableNotApply == true" [(ngModel)]="item.street" name="{{i}}_street" id="{{i}}_street" #street="ngModel"  
                [required]="item.flgApplicableNotApply == false"
                   />
              </div>
            </div>



            <div class="row mt-2">
              <div class="col-1 mt-2"><label class="gray-text">City</label></div>
              <div class="col-3 input-border-bottom"
              [ngClass]="{'error': financialInfoRealEstateForm.submitted && cityId.errors}"
              [ngClass]="{'error':  cityId.touched && cityId.errors}">
                <div class="frm-group" style="border: 0px solid !important; padding-left: 0px !important; padding-right: 0px !important;">
                  <div class="frm-fld-input_sml" style="border-bottom:1px solid #696969 !important ; margin: 0px;">
                    <select [disabled]="item.flgApplicableNotApply == true" [(ngModel)]="item.cityId" name="{{i}}_cityId" id="{{i}}_cityId" #cityId="ngModel"
                    [required]="item.flgApplicableNotApply == false"
                   >
                      <option  disabled>Select City </option>
                      <option *ngFor="let obj of cityList" 
                      [ngValue]="obj.id" > {{obj.cityName}} </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-1 mt-2"><label class="gray-text" style="text-align: right;">State</label></div>
              <div class="col-1 input-border-bottom"
              [ngClass]="{'error': financialInfoRealEstateForm.submitted && stateId.errors}"
              [ngClass]="{'error':  stateId.touched && stateId.errors}">
                <div class="frm-group" style="border: 0px solid !important; padding-left: 0px !important; padding-right: 0px !important;">
                  <div class="frm-fld-input_sml" style="border-bottom:1px solid #696969 !important ; margin: 0px;">
                    <select [disabled]="item.flgApplicableNotApply == true" [(ngModel)]="item.stateId" name="{{i}}_stateId" id="{{i}}_stateId" #stateId="ngModel"
                    [required]="item.flgApplicableNotApply == false"
                  >
                      <option  disabled>Select State </option>
                      <option *ngFor="let obj of stateList" 
                      [ngValue]="obj.id" > {{obj.stateName}} </option>
                    </select>
                  </div>
                </div>
              </div>


              <div class="col-1 mt-2"><label class="gray-text" style="text-align: right;">ZIP</label></div>
              <div class="col-1 input-border-bottom mt-1"
              [ngClass]="{'error': financialInfoRealEstateForm.submitted && zip.errors}"
              [ngClass]="{'error':  zip.touched && zip.errors}">
                <input type="text" [readonly]="item.flgApplicableNotApply == true" [(ngModel)]="item.zip" name="{{i}}_zip" id="{{i}}_zip" #zip="ngModel"
                [required]="item.flgApplicableNotApply == false"
             />
              </div>


              <div class="col-1 mt-2"><label class="gray-text">Country</label></div>
              <div class="col-2 input-border-bottom"
              [ngClass]="{'error': financialInfoRealEstateForm.submitted && countryId.errors}"
              [ngClass]="{'error':  countryId.touched && countryId.errors}">
                <div class="frm-group" style="border: 0px solid !important; padding-left: 0px !important; padding-right: 0px !important;">
                  <div class="frm-fld-input_sml" style="border-bottom:1px solid #696969 !important ; margin: 0px;">
                    <select [disabled]="item.flgApplicableNotApply == true"   [(ngModel)]="item.countryId" name="{{i}}_countryId" id="{{i}}_countryId" #countryId="ngModel"
                    [required]="item.flgApplicableNotApply == false" >
                      <option  disabled>Select Country </option>
                      <option *ngFor="let obj of countryList" 
                      [ngValue]="obj.id" > {{obj.countryName}} </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>



            <!-- <div class="row mt-2">
              <div class="col-1"><label class="gray-text">City</label></div>
              <div class="col-4 input-border-bottom">
                <input type="text"  />
              </div>

              <div class="col-1 text-right"><label class="gray-text">State</label></div>
              <div class="col-1 input-border-bottom">
                <input type="text"  />
              </div>

              <div class="col-1 text-right"><label class="gray-text">ZIP</label></div>
              <div class="col-1 input-border-bottom">
                <input type="text"  />
              </div>

              <div class="col-1 text-right"><label class="gray-text">Country</label></div>
              <div class="col-1 input-border-bottom">
                <input type="text" />
              </div>
            </div>
 -->


          </div>
        </div>
      </div>



      <div class="row div-sub-grp">
        <div class="col-12">
          <div class="frm-group" [ngClass]="{'disabled':item.flgApplicableNotApply == true}">

            <div class="row">
              <div class="col-2">
                <label class="frm-label">
                  <span>Property Value</span>
                </label>
              </div>

              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Status</span>
                </label>
                <label class="text-gray">Sold, Pending Sale, or Retained</label>
              </div>

              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Intended Occupancy:</span>
                </label>
                <label class="text-gray">Investment, Primary Residence, Second Home, Other</label>
              </div>

              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Monthly Insurance,Taxes, Association Dues, etc.</span>
                </label>
                <label class="text-gray">if not included in Monthly Mortgage Payment</label>
              </div>

              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>For 2-4 Unit Primary or Investment Property</span>
                </label>
                <label class="text-gray">Monthly Rental Income</label>
              </div>

              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span></span>
                </label>
                <label class="text-gray">For LENDER to calculate: Net Monthly Rental Income</label>
              </div>

            </div>

            <div class="row">
              <div class="col-2">
                <div class="frm-group"
                [ngClass]="{'disabled':item.flgApplicableNotApply==true}"
                [ngClass]="{'error': financialInfoRealEstateForm.submitted && propertyValue.errors}"
                      [ngClass]="{'error':  propertyValue.touched && propertyValue.errors}">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input min="0" type="number" [readonly]="item.flgApplicableNotApply == true" [(ngModel)]="item.propertyValue" name="{{i}}.propertyValue" id="{{i}}.propertyValue" #propertyValue="ngModel"
                      [required]="item.flgApplicableNotApply == false"
                      /></div>
                  </div>
                 </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group "
                [ngClass]="{'disabled':item.flgApplicableNotApply==true}"
                [ngClass]="{'error': financialInfoRealEstateForm.submitted && financialInformationType.errors}"
                [ngClass]="{'error':  financialInformationType.touched && financialInformationType.errors}">
                  <div class="frm-fld-input">
                      <select [disabled]="item.flgApplicableNotApply == true" [(ngModel)]="item.financialInformationType" name="{{i}}.financialInformationType" id="{{i}}.financialInformationType" #financialInformationType="ngModel"
                      [required]="item.flgApplicableNotApply == false">
                        <option value="-1" selected disabled>-Select One-</option>
                        <option value="Sold">Sold</option>
                        <option value="Pending">Pending Sale</option>
                        <option value="Retained">Retained</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5"><div class="frm-group "
                [ngClass]="{'disabled':item.flgApplicableNotApply==true}"
                [ngClass]="{'error': financialInfoRealEstateForm.submitted && intendedOccupancy.errors}"
                [ngClass]="{'error':  intendedOccupancy.touched && intendedOccupancy.errors}">
                <div class="frm-fld-input">
                    <select [disabled]="item.flgApplicableNotApply == true" [(ngModel)]="item.intendedOccupancy" name="{{i}}.intendedOccupancy" id="{{i}}.intendedOccupancy" #intendedOccupancy="ngModel"
                    [required]="item.flgApplicableNotApply == false"
                   >
                      <option value="-1" selected disabled>-Select One-</option>
                      <option value="Sold">Sold</option>
                      <option value="Primary Residence">Primary Residence</option>
                      <option value="Second Home">Second Home</option>
                      <option value="Other">Other</option>
                  </select>
                </div>
              </div></div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group"
                [ngClass]="{'disabled':item.flgApplicableNotApply==true}"
                [ngClass]="{'error': financialInfoRealEstateForm.submitted && monthlyInsurance.errors}"
                      [ngClass]="{'error':  monthlyInsurance.touched && monthlyInsurance.errors}">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="number" min="0" [readonly]="item.flgApplicableNotApply == true"  [(ngModel)]="item.monthlyInsurance" name="{{i}}.monthlyInsurance" id="{{i}}.monthlyInsurance" #monthlyInsurance="ngModel"                
                      [required]="item.flgApplicableNotApply == false"
                      /></div>
                  </div>
                 </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group"
                [ngClass]="{'disabled':item.flgApplicableNotApply==true}"
                [ngClass]="{'error': financialInfoRealEstateForm.submitted && monthlyRentalIncome.errors}"
                [ngClass]="{'error':  monthlyRentalIncome.touched && monthlyRentalIncome.errors}">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="number" min="0" [readonly]="item.flgApplicableNotApply == true"  [(ngModel)]="item.monthlyRentalIncome" name="{{i}}.monthlyRentalIncome" id="{{i}}.monthlyRentalIncome" #monthlyRentalIncome="ngModel"                 
                      [required]="item.flgApplicableNotApply == false"
                 /></div>
                  </div>
                 </div>
              </div>
              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <div class="frm-group"
                [ngClass]="{'disabled':item.flgApplicableNotApply==true}"
                [ngClass]="{'error': financialInfoRealEstateForm.submitted && netMonthlyRentalIncome.errors}"
                [ngClass]="{'error':  netMonthlyRentalIncome.touched && netMonthlyRentalIncome.errors}">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="number" min="0" [readonly]="item.flgApplicableNotApply == true" [(ngModel)]="item.netMonthlyRentalIncome" name="{{i}}.netMonthlyRentalIncome" id="{{i}}.netMonthlyRentalIncome" #netMonthlyRentalIncome="ngModel"                
                      [required]="item.flgApplicableNotApply == false"
                    /></div>
                  </div>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="section-title-wo-border" style="display: flex; align-items: center; width: 100%;" >
        <span style="font-size: 20px;">Mortgage Loans on this Property</span>
        <label class="container" style="margin-left:20px;width:200px"><span style=" font-weight: bold;">Does Not Apply</span>
          <input type="checkbox" [(ngModel)]="item.flgMortgageLoanNotApply" name="{{i}}_flgMortgageLoanNotApply" id="{{i}}_flgMortgageLoanNotApply">
          <span class="checkmark mt-2"></span>
        </label>
      </div>


      <div class="row div-sub-grp mt-1" >
        <div class="col-12" >
          <div class="frm-group" [ngClass]="{'disabled':item.flgMortgageLoanNotApply==true}"
          >

            <div class="row">
              <div class="col-2">
                <label class="frm-label">
                  <span>Creditor Name:</span>
                </label>
              </div>


              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Account Number:</span>
                </label>

              </div>

              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Monthly Mortgage Payment:</span>
                </label>
              </div>

              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Unpaid Balance:</span>
                </label>
                <label class="text-gray">(To be paid off at or before closing)</label>
              </div>

              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Type:</span>
                </label>
                <label class="text-gray">(FHA, VA, Conventional, USDA-RD, Other)</label>
              </div>

              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Credit Limit</span>
                </label>
                <label class="text-gray">(if applicable)</label>
              </div>

            </div>

            <div class="row" *ngFor="let item2 of item.mortgageLoanOnProperty;index as j">
              <div class="col-2">
                <div class="frm-group " [ngClass]="{'disabled':item.flgMortgageLoanNotApply==true}"
                [ngClass]="{'error': financialInfoRealEstateForm.submitted && creditorName.errors}"
                [ngClass]="{'error':  creditorName.touched && creditorName.errors}">
                  <p class="frm-fld-input height35"><input type="text" [readonly]="item.flgMortgageLoanNotApply == true || item.flgApplicableNotApply == true" [required]="item.flgMortgageLoanNotApply == false " [(ngModel)]="item2.creditorName" name="{{i}}_creditorName" id="{{i}}_creditorName" #creditorName="ngModel"
                  /></p>
              </div>

              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group " [ngClass]="{'disabled':item.flgMortgageLoanNotApply==true}"
                [ngClass]="{'error': financialInfoRealEstateForm.submitted && accountNumber.errors}"
                [ngClass]="{'error':  accountNumber.touched && accountNumber.errors}">
                    <p class="frm-fld-input height35"><input type="text" [readonly]="item.flgMortgageLoanNotApply == true || item.flgApplicableNotApply == true" [required]="item.flgMortgageLoanNotApply == false " [(ngModel)]="item2.accountNumber" name="{{i}}_accountNumber" id="{{i}}_accountNumber" #accountNumber="ngModel" 
                /></p>
                </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">


              <div class="frm-group mt-0" [ngClass]="{'disabled':item.flgMortgageLoanNotApply==true}"
              style="display: flex; justify-content: space-between;"
              [ngClass]="{'error': financialInfoRealEstateForm.submitted && monthlyMortagagePayment.errors}"
              [ngClass]="{'error':  monthlyMortagagePayment.touched && monthlyMortagagePayment.errors}">
                <div class="input-border-bottom  mr-3">
                  <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="number" min="0" [required]="item.flgMortgageLoanNotApply == false " [readonly]="item.flgMortgageLoanNotApply == true || item.flgApplicableNotApply == true"  [(ngModel)]="item2.monthlyMortagagePayment" name="{{i}}_monthlyMortagagePayment" id="{{i}}_monthlyMortagagePayment" #monthlyMortagagePayment="ngModel"
                  /></div>
                </div>
                  <input type="checkbox" [disabled]="item.flgMortgageLoanNotApply == true || item.flgApplicableNotApply == true"  [(ngModel)]="item2.isPaidBeforeClosing" name="{{i}}_isPaidBeforeClosing" id="{{i}}_isPaidBeforeClosing" #isPaidBeforeClosing="ngModel"
                 >
              </div>

            </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group" [ngClass]="{'disabled':item.flgMortgageLoanNotApply==true}"
                [ngClass]="{'error': financialInfoRealEstateForm.submitted && unpaidBalance.errors}"
                [ngClass]="{'error':  unpaidBalance.touched && unpaidBalance.errors}">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="number"  min="0" [readonly]="item.flgMortgageLoanNotApply == true || item.flgApplicableNotApply == true" [required]="item.flgMortgageLoanNotApply == false " [(ngModel)]="item2.unpaidBalance" name="{{i}}_unpaidBalance" id="{{i}}_unpaidBalance" #unpaidBalance="ngModel"/></div>
                  </div>
                 </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group mt-2" [ngClass]="{'disabled':item.flgMortgageLoanNotApply==true}"
                [ngClass]="{'error': financialInfoRealEstateForm.submitted && type.errors}"
                [ngClass]="{'error':  type.touched && type.errors}">
                  <div class="frm-fld-input">
                      <select [required]="item.flgMortgageLoanNotApply == false " [disabled]="item.flgMortgageLoanNotApply == true || item.flgApplicableNotApply == true" [(ngModel)]="item2.type" name="{{i}}_type" id="{{i}}_type" #type="ngModel"
                     >
                        <option value="-1" selected disabled>Interest and Dividends</option>
                        <option  value="Checking">Checking</option>
                        <option value="Savings">Savings</option>
                        <option  value="Money Market">Money Market</option>
                        <option  value="Certificate of Deposit">Certificate of Deposit</option>
                        <option  value="Mutual Fund">Mutual Fund</option>
                        <option value="Bridge Loan Proceeds">Bridge Loan Proceeds</option>
                        <option value="Individual Development Account">Individual Development Account</option>
                        <option  value="Trust Account">Trust Account</option>
                        <option  value="Cash Value of Life Insurance (used for the transaction)">Cash Value of Life Insurance (used for the transaction)</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-2" style="border-left:1px solid #a5a5a5"
>

                <div class="frm-group " [ngClass]="{'disabled':item.flgMortgageLoanNotApply==true}"
                [ngClass]="{'error': financialInfoRealEstateForm.submitted && creditLimit.errors}"
                [ngClass]="{'error':  creditLimit.touched && creditLimit.errors}">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" [required]="item.flgMortgageLoanNotApply == false " [disabled]="item.flgMortgageLoanNotApply == true || item.flgApplicableNotApply == true" [readonly]="item.flgMortgageLoanNotApply == true || item.flgApplicableNotApply == true" [(ngModel)]="item2.creditLimit" name="creditLimit" id="creditLimit" #creditLimit="ngModel"/></div>
                  </div>
              </div>

              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="col-6"><a  style="cursor: pointer;color: #696969; text-decoration: none; font-size: 14px;" (click)="addMortgageLoanList(i)">Add more</a> / <a  style="cursor: pointer;color: #696969; text-decoration: none; font-size: 14px;" (click)="removeMortgageLoanList(i)">Remove</a></div>
              </div>
            </div>
          </div>
        </div>
        <div  style="display: flex;justify-content: end;margin-top: 3px;"><a  style="cursor: pointer;color: #696969; text-decoration: none; font-size: 14px;" (click)="addMoreProperty()">Add More Property</a></div>
      </div>

    
      
    </div>
<!-- 
      <div class="row div-sub-grp">
        <div class="col-12">
          <div class="frm-group">
            <label class="frm-label">
              <span>Address</span>
            </label>
            <div class="row mt-12">
              <div class="col-1"><label class="gray-text">Street</label></div>
              <div class="col-10 input-border-bottom">
                <input type="text"  />
              </div>
            </div>



            <div class="row mt-2">
              <div class="col-1 mt-2"><label class="gray-text">City</label></div>
              <div class="col-3 input-border-bottom">
                <div class="frm-group" style="border: 0px solid !important; padding-left: 0px !important; padding-right: 0px !important;">
                  <div class="frm-fld-input_sml" style="border-bottom:1px solid #696969 !important ; margin: 0px;">
                    <select>
                      <option  disabled>Select State </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-1 mt-2"><label class="gray-text" style="text-align: right;">State</label></div>
              <div class="col-1 input-border-bottom">
                <div class="frm-group" style="border: 0px solid !important; padding-left: 0px !important; padding-right: 0px !important;">
                  <div class="frm-fld-input_sml" style="border-bottom:1px solid #696969 !important ; margin: 0px;">
                    <select>
                      <option  disabled>Select State </option>
                    </select>
                  </div>
                </div>
              </div>


              <div class="col-1 mt-2"><label class="gray-text" style="text-align: right;">ZIP</label></div>
              <div class="col-1 input-border-bottom mt-1">
                <input type="text" />
              </div>


              <div class="col-1 mt-2"><label class="gray-text">Country</label></div>
              <div class="col-2 input-border-bottom">
                <div class="frm-group" style="border: 0px solid !important; padding-left: 0px !important; padding-right: 0px !important;">
                  <div class="frm-fld-input_sml" style="border-bottom:1px solid #696969 !important ; margin: 0px;">
                    <select   >
                      <option  disabled>Select Country </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div> -->




      <!-- <div class="row div-sub-grp">
        <div class="col-12">
          <div class="frm-group">

            <div class="row">
              <div class="col-2">
                <label class="frm-label">
                  <span>Property Value</span>
                </label>
              </div>


              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Status</span>
                </label>
                <label class="text-gray">Sold, Pending Sale, or Retained</label>
              </div>

              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Intended Occupancy:</span>
                </label>
                <label class="text-gray">Investment, Primary Residence, Second Home, Other</label>
              </div>

              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Monthly Insurance,Taxes, Association Dues, etc.</span>
                </label>
                <label class="text-gray">if not included in Monthly Mortgage Payment</label>
              </div>

              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>For 2-4 Unit Primary or Investment Property</span>
                </label>
                <label class="text-gray">Monthly Rental Income</label>
              </div>

              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span></span>
                </label>
                <label class="text-gray">For LENDER to calculate: Net Monthly Rental Income</label>
              </div>

            </div>

            <div class="row">
              <div class="col-2">
                <div class="frm-group">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
                 </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group ">
                  <div class="frm-fld-input">
                      <select name="firstName">
                        <option value="-1" selected disabled>-Select One-</option>
                        <option>Alimony</option>
                        <option>Child Support</option>
                        <option>Separate Maintenance</option>
                        <option>Job Related Expenses</option>
                        <option>Other</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5"><div class="frm-group ">
                <div class="frm-fld-input">
                    <select name="firstName">
                      <option value="-1" selected disabled>-Select One-</option>
                      <option>Alimony</option>
                      <option>Child Support</option>
                      <option>Separate Maintenance</option>
                      <option>Job Related Expenses</option>
                      <option>Other</option>
                  </select>
                </div>
              </div></div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
                 </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
                 </div>
              </div>
              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <div class="frm-group">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->


      <!-- <div class="section-title-wo-border" style="display: flex; align-items: center; width: 100%;">
        <span style="font-size: 20px;">Mortgage Loans on this Property</span>
        <label class="container" style="margin-left:20px;width:200px"><span style=" font-weight: bold;">Does Not Apply</span>
          <input type="checkbox">
          <span class="checkmark mt-2"></span>
        </label>
      </div> -->


      <!-- <div class="row div-sub-grp mt-1">
        <div class="col-12">
          <div class="frm-group">

            <div class="row">
              <div class="col-2">
                <label class="frm-label">
                  <span>Creditor Name:</span>
                </label>
              </div>


              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Account Number:</span>
                </label>

              </div>

              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Monthly Mortgage Payment:</span>
                </label>
              </div>

              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Unpaid Balance:</span>
                </label>
                <label class="text-gray">(To be paid off at or before closing)</label>
              </div>

              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Type:</span>
                </label>
                <label class="text-gray">(FHA, VA, Conventional, USDA-RD, Other)</label>
              </div>

              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Credit Limit</span>
                </label>
                <label class="text-gray">(if applicable)</label>
              </div>

            </div>

            <div class="row">
              <div class="col-2">
                <div class="frm-group ">
                  <p class="frm-fld-input height35"><input type="text" name="firstName" /></p>
              </div>

              <div class="frm-group mt-2">
                <p class="frm-fld-input height35"><input type="text" name="firstName" /></p>
            </div>

              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group ">
                    <p class="frm-fld-input height35"><input type="text" name="firstName" /></p>
                </div>
                <div class="frm-group mt-2">
                  <p class="frm-fld-input height35"><input type="text" name="firstName" /></p>
              </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
               <div class="frm-group ">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
              </div>

              <div class="frm-group mt-2">
                <div class="input-border-bottom">
                  <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                </div>
            </div>

            </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
                 </div>
                 <div class="frm-group mt-2">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
              </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group mt-2">
                  <div class="frm-fld-input">
                      <select name="firstName">
                        <option value="-1" selected disabled>Interest and Dividends</option>
                        <option value="Checking">Checking</option>
                        <option value="Savings">Savings</option>
                        <option value="Money Market">Money Market</option>
                        <option value="Certificate of Deposit">Certificate of Deposit</option>
                        <option value="Mutual Fund">Mutual Fund</option>
                        <option value="Bridge Loan Proceeds">Bridge Loan Proceeds</option>
                        <option value="Individual Development Account">Individual Development Account</option>
                        <option value="Trust Account">Trust Account</option>
                        <option value="Cash Value of Life Insurance (used for the transaction)">Cash Value of Life Insurance (used for the transaction)</option>
                    </select>
                  </div>
                </div>

                <div class="frm-group mt-2">
                  <div class="frm-fld-input">
                      <select name="firstName">
                        <option value="-1" selected disabled>Interest and Dividends</option>
                        <option value="Checking">Checking</option>
                        <option value="Savings">Savings</option>
                        <option value="Money Market">Money Market</option>
                        <option value="Certificate of Deposit">Certificate of Deposit</option>
                        <option value="Mutual Fund">Mutual Fund</option>
                        <option value="Bridge Loan Proceeds">Bridge Loan Proceeds</option>
                        <option value="Individual Development Account">Individual Development Account</option>
                        <option value="Trust Account">Trust Account</option>
                        <option value="Cash Value of Life Insurance (used for the transaction)">Cash Value of Life Insurance (used for the transaction)</option>
                    </select>
                  </div>
                </div>

              </div>
              <div class="col-2" style="border-left:1px solid #a5a5a5">

                <div class="frm-group ">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
              </div>

              <div class="frm-group mt-2">
                <div class="input-border-bottom">
                  <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                </div>
            </div>

              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="col-6"><a  style="cursor: pointer;color: #696969; text-decoration: none; font-size: 14px;">Add more</a> / <a  style="cursor: pointer;color: #696969; text-decoration: none; font-size: 14px;">Remove</a></div>
              </div>
            </div>

          </div>
        </div>
      </div> -->
     




  <div class="separator"></div>
  <div class="row borrower-block">
    <div class="col-sm-8">
      <div class="input-group">
        <div class="input-group-text">Borrower Name:</div>
        <input
          type="text"
          class="form-control"
          id="specificSizeInputGroupUsername"
        />
      </div>
    </div>
  </div>



  <div class="row text-right mt-5">
    <div class="col-sm-12">
      <button class="btn btn-fill" type="submit">NEXT</button>
    </div>
  </div>
</form>
</div>
