<div>
  <h4 class="section-title">Property You Own</h4>
  <div class="info-block">
    <p>
      This section asks you to list all properties you currently own and what
      you owe on them.
    </p>
  </div>

  <div class="Main" style="width: 100%;">

    <div class="section-title-wo-border" style="display: flex; align-items: center; width: 100%;">
      <span style="font-size: 20px;">If you are refinancing, list the property you are refinancing FIRST.</span>
    </div>

    <h4>Include income from other sources below. Under Income Source, choose from the sources listed here:</h4>

    <div class="div-main-grp" style="width: 100%; margin-top: 30px; margin-bottom: 20px;">
      <div class="row div-sub-grp">
        <div class="col-12">
          <div class="frm-group">
            <label class="frm-label">
              <span>Address</span>
            </label>
            <div class="row mt-12">
              <div class="col-1"><label class="gray-text">Street</label></div>
              <div class="col-10 input-border-bottom">
                <input type="text"  />
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-1"><label class="gray-text">City</label></div>
              <div class="col-4 input-border-bottom">
                <input type="text"  />
              </div>

              <div class="col-1 text-right"><label class="gray-text">State</label></div>
              <div class="col-1 input-border-bottom">
                <input type="text"  />
              </div>

              <div class="col-1 text-right"><label class="gray-text">ZIP</label></div>
              <div class="col-1 input-border-bottom">
                <input type="text"  />
              </div>

              <div class="col-1 text-right"><label class="gray-text">Country</label></div>
              <div class="col-1 input-border-bottom">
                <input type="text" />
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="row div-sub-grp">
        <div class="col-12">
          <div class="frm-group">

            <div class="row">
              <div class="col-2">
                <label class="frm-label">
                  <span>Property Value</span>
                </label>
              </div>


              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Status</span>
                </label>
                <label class="text-gray">Sold, Pending Sale, or Retained</label>
              </div>

              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Intended Occupancy:</span>
                </label>
                <label class="text-gray">Investment, Primary Residence, Second Home, Other</label>
              </div>

              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Monthly Insurance,Taxes, Association Dues, etc.</span>
                </label>
                <label class="text-gray">if not included in Monthly Mortgage Payment</label>
              </div>

              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>For 2-4 Unit Primary or Investment Property</span>
                </label>
                <label class="text-gray">Monthly Rental Income</label>
              </div>

              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span></span>
                </label>
                <label class="text-gray">For LENDER to calculate: Net Monthly Rental Income</label>
              </div>

            </div>

            <div class="row">
              <div class="col-2">
                <div class="frm-group">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
                 </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group ">
                  <div class="frm-fld-input">
                      <select name="firstName">
                        <option value="-1" selected disabled>-Select One-</option>
                        <option>Sold</option>
                        <option>Pending Sale</option>
                        <option>Retained</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5"><div class="frm-group ">
                <div class="frm-fld-input">
                    <select name="firstName">
                      <option value="-1" selected disabled>-Select One-</option>
                      <option>Investment</option>
                      <option>Primary Residence</option>
                      <option>Second Home</option>
                      <option>Other</option>
                  </select>
                </div>
              </div></div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
                 </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
                 </div>
              </div>
              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <div class="frm-group">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="section-title-wo-border" style="display: flex; align-items: center; width: 100%;">
        <span style="font-size: 20px;">Mortgage Loans on this Property</span>
        <label class="container" style="margin-left:20px;width:200px"><span style=" font-weight: bold;">Does Not Apply</span>
          <input type="checkbox">
          <span class="checkmark mt-2"></span>
        </label>
      </div>


      <div class="row div-sub-grp mt-1">
        <div class="col-12">
          <div class="frm-group">

            <div class="row">
              <div class="col-2">
                <label class="frm-label">
                  <span>Creditor Name:</span>
                </label>
              </div>


              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Account Number:</span>
                </label>

              </div>

              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Monthly Mortgage Payment:</span>
                </label>
              </div>

              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Unpaid Balance:</span>
                </label>
                <label class="text-gray">(To be paid off at or before closing)</label>
              </div>

              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Type:</span>
                </label>
                <label class="text-gray">(FHA, VA, Conventional, USDA-RD, Other)</label>
              </div>

              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Credit Limit</span>
                </label>
                <label class="text-gray">(if applicable)</label>
              </div>

            </div>

            <div class="row">
              <div class="col-2">
                <div class="frm-group ">
                  <p class="frm-fld-input height35"><input type="text" name="firstName" /></p>
              </div>

              <div class="frm-group mt-2">
                <p class="frm-fld-input height35"><input type="text" name="firstName" /></p>
            </div>

              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group ">
                    <p class="frm-fld-input height35"><input type="text" name="firstName" /></p>
                </div>
                <div class="frm-group mt-2">
                  <p class="frm-fld-input height35"><input type="text" name="firstName" /></p>
              </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
               <div class="frm-group " style="display: flex; justify-content: space-between;">
                  <div class="input-border-bottom mr-3">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>

                    <input type="checkbox">

              </div>

              <div class="frm-group mt-2" style="display: flex; justify-content: space-between;">
                <div class="input-border-bottom  mr-3">
                  <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                </div>
                  <input type="checkbox">
              </div>

            </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
                 </div>
                 <div class="frm-group mt-2">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
              </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group mt-2">
                  <div class="frm-fld-input">
                      <select name="firstName">
                        <option value="-1" selected disabled>Interest and Dividends</option>
                        <option value="Checking">Checking</option>
                        <option value="Savings">Savings</option>
                        <option value="Money Market">Money Market</option>
                        <option value="Certificate of Deposit">Certificate of Deposit</option>
                        <option value="Mutual Fund">Mutual Fund</option>
                        <option value="Bridge Loan Proceeds">Bridge Loan Proceeds</option>
                        <option value="Individual Development Account">Individual Development Account</option>
                        <option value="Trust Account">Trust Account</option>
                        <option value="Cash Value of Life Insurance (used for the transaction)">Cash Value of Life Insurance (used for the transaction)</option>
                    </select>
                  </div>
                </div>

                <div class="frm-group mt-2">
                  <div class="frm-fld-input">
                      <select name="firstName">
                        <option value="-1" selected disabled>Interest and Dividends</option>
                        <option value="Checking">Checking</option>
                        <option value="Savings">Savings</option>
                        <option value="Money Market">Money Market</option>
                        <option value="Certificate of Deposit">Certificate of Deposit</option>
                        <option value="Mutual Fund">Mutual Fund</option>
                        <option value="Bridge Loan Proceeds">Bridge Loan Proceeds</option>
                        <option value="Individual Development Account">Individual Development Account</option>
                        <option value="Trust Account">Trust Account</option>
                        <option value="Cash Value of Life Insurance (used for the transaction)">Cash Value of Life Insurance (used for the transaction)</option>
                    </select>
                  </div>
                </div>

              </div>
              <div class="col-2" style="border-left:1px solid #a5a5a5">

                <div class="frm-group ">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
              </div>

              <div class="frm-group mt-2">
                <div class="input-border-bottom">
                  <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                </div>
            </div>

              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="col-6"><a  style="cursor: pointer;color: #696969; text-decoration: none; font-size: 14px;">Add more</a> / <a  style="cursor: pointer;color: #696969; text-decoration: none; font-size: 14px;">Remove</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="section-title-wo-border" style="display: flex; align-items: center; width: 100%;">
        <span style="font-size: 20px;">IF APPLICABLE, Complete Information for Additional Property</span>
        <label class="container" style="margin-left:20px;width:200px"><span style=" font-weight: bold;">Does Not Apply</span>
          <input type="checkbox">
          <span class="checkmark mt-2"></span>
        </label>
      </div>

      <div class="row div-sub-grp">
        <div class="col-12">
          <div class="frm-group">
            <label class="frm-label">
              <span>Address</span>
            </label>
            <div class="row mt-12">
              <div class="col-1"><label class="gray-text">Street</label></div>
              <div class="col-10 input-border-bottom">
                <input type="text"  />
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-1"><label class="gray-text">City</label></div>
              <div class="col-4 input-border-bottom">
                <input type="text"  />
              </div>

              <div class="col-1 text-right"><label class="gray-text">State</label></div>
              <div class="col-1 input-border-bottom">
                <input type="text"  />
              </div>

              <div class="col-1 text-right"><label class="gray-text">ZIP</label></div>
              <div class="col-1 input-border-bottom">
                <input type="text"  />
              </div>

              <div class="col-1 text-right"><label class="gray-text">Country</label></div>
              <div class="col-1 input-border-bottom">
                <input type="text" />
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="row div-sub-grp">
        <div class="col-12">
          <div class="frm-group">

            <div class="row">
              <div class="col-2">
                <label class="frm-label">
                  <span>Property Value</span>
                </label>
              </div>


              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Status</span>
                </label>
                <label class="text-gray">Sold, Pending Sale, or Retained</label>
              </div>

              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Intended Occupancy:</span>
                </label>
                <label class="text-gray">Investment, Primary Residence, Second Home, Other</label>
              </div>

              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Monthly Insurance,Taxes, Association Dues, etc.</span>
                </label>
                <label class="text-gray">if not included in Monthly Mortgage Payment</label>
              </div>

              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>For 2-4 Unit Primary or Investment Property</span>
                </label>
                <label class="text-gray">Monthly Rental Income</label>
              </div>

              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span></span>
                </label>
                <label class="text-gray">For LENDER to calculate: Net Monthly Rental Income</label>
              </div>

            </div>

            <div class="row">
              <div class="col-2">
                <div class="frm-group">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
                 </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group ">
                  <div class="frm-fld-input">
                      <select name="firstName">
                        <option value="-1" selected disabled>-Select One-</option>
                        <option>Alimony</option>
                        <option>Child Support</option>
                        <option>Separate Maintenance</option>
                        <option>Job Related Expenses</option>
                        <option>Other</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5"><div class="frm-group ">
                <div class="frm-fld-input">
                    <select name="firstName">
                      <option value="-1" selected disabled>-Select One-</option>
                      <option>Alimony</option>
                      <option>Child Support</option>
                      <option>Separate Maintenance</option>
                      <option>Job Related Expenses</option>
                      <option>Other</option>
                  </select>
                </div>
              </div></div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
                 </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
                 </div>
              </div>
              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <div class="frm-group">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="section-title-wo-border" style="display: flex; align-items: center; width: 100%;">
        <span style="font-size: 20px;">Mortgage Loans on this Property</span>
        <label class="container" style="margin-left:20px;width:200px"><span style=" font-weight: bold;">Does Not Apply</span>
          <input type="checkbox">
          <span class="checkmark mt-2"></span>
        </label>
      </div>


      <div class="row div-sub-grp mt-1">
        <div class="col-12">
          <div class="frm-group">

            <div class="row">
              <div class="col-2">
                <label class="frm-label">
                  <span>Creditor Name:</span>
                </label>
              </div>


              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Account Number:</span>
                </label>

              </div>

              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Monthly Mortgage Payment:</span>
                </label>
              </div>

              <div class="col-2" style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Unpaid Balance:</span>
                </label>
                <label class="text-gray">(To be paid off at or before closing)</label>
              </div>

              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Type:</span>
                </label>
                <label class="text-gray">(FHA, VA, Conventional, USDA-RD, Other)</label>
              </div>

              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <label class="frm-label">
                  <span>Credit Limit</span>
                </label>
                <label class="text-gray">(if applicable)</label>
              </div>

            </div>

            <div class="row">
              <div class="col-2">
                <div class="frm-group ">
                  <p class="frm-fld-input height35"><input type="text" name="firstName" /></p>
              </div>

              <div class="frm-group mt-2">
                <p class="frm-fld-input height35"><input type="text" name="firstName" /></p>
            </div>

              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group ">
                    <p class="frm-fld-input height35"><input type="text" name="firstName" /></p>
                </div>
                <div class="frm-group mt-2">
                  <p class="frm-fld-input height35"><input type="text" name="firstName" /></p>
              </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
               <div class="frm-group ">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
              </div>

              <div class="frm-group mt-2">
                <div class="input-border-bottom">
                  <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                </div>
            </div>

            </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
                 </div>
                 <div class="frm-group mt-2">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
              </div>
              </div>
              <div class="col-2"  style="border-left:1px solid #a5a5a5">
                <div class="frm-group mt-2">
                  <div class="frm-fld-input">
                      <select name="firstName">
                        <option value="-1" selected disabled>Interest and Dividends</option>
                        <option value="Checking">Checking</option>
                        <option value="Savings">Savings</option>
                        <option value="Money Market">Money Market</option>
                        <option value="Certificate of Deposit">Certificate of Deposit</option>
                        <option value="Mutual Fund">Mutual Fund</option>
                        <option value="Bridge Loan Proceeds">Bridge Loan Proceeds</option>
                        <option value="Individual Development Account">Individual Development Account</option>
                        <option value="Trust Account">Trust Account</option>
                        <option value="Cash Value of Life Insurance (used for the transaction)">Cash Value of Life Insurance (used for the transaction)</option>
                    </select>
                  </div>
                </div>

                <div class="frm-group mt-2">
                  <div class="frm-fld-input">
                      <select name="firstName">
                        <option value="-1" selected disabled>Interest and Dividends</option>
                        <option value="Checking">Checking</option>
                        <option value="Savings">Savings</option>
                        <option value="Money Market">Money Market</option>
                        <option value="Certificate of Deposit">Certificate of Deposit</option>
                        <option value="Mutual Fund">Mutual Fund</option>
                        <option value="Bridge Loan Proceeds">Bridge Loan Proceeds</option>
                        <option value="Individual Development Account">Individual Development Account</option>
                        <option value="Trust Account">Trust Account</option>
                        <option value="Cash Value of Life Insurance (used for the transaction)">Cash Value of Life Insurance (used for the transaction)</option>
                    </select>
                  </div>
                </div>

              </div>
              <div class="col-2" style="border-left:1px solid #a5a5a5">

                <div class="frm-group ">
                  <div class="input-border-bottom">
                    <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                  </div>
              </div>

              <div class="frm-group mt-2">
                <div class="input-border-bottom">
                  <div style="display: flex; align-items: center; margin-bottom: 15px;"><span style="width: 20px; text-align: right; margin-right: 5px;">$ </span> <input type="text" /></div>
                </div>
            </div>

              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="col-6"><a  style="cursor: pointer;color: #696969; text-decoration: none; font-size: 14px;">Add more</a> / <a  style="cursor: pointer;color: #696969; text-decoration: none; font-size: 14px;">Remove</a></div>
              </div>
            </div>

          </div>
        </div>
      </div>


</div>


  <div class="separator"></div>
  <div class="row borrower-block">
    <div class="col-sm-8">
      <div class="input-group">
        <div class="input-group-text">Borrower Name:</div>
        <input
          type="text"
          class="form-control"
          id="specificSizeInputGroupUsername"
        />
      </div>
    </div>
  </div>



  <div class="row text-right mt-5">
    <div class="col-sm-12">
      <button class="btn btn-fill">NEXT</button>
    </div>
  </div>
</div>
