<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5">Do you currently have an FHA loan?</h2>

    <div class="row justify-content-center" style="margin-top: -80px">
      <div class="col-lg-4">
        <p id="Back" (click)="proceedToPrevious()">
          <i class="fa fa-angle-left" style="font-size: 25px"></i>
          <span style="position: absolute; line-height: 25px">Back</span>
        </p>
      </div>
      <div class="col-lg-4">
        <div class="BTN">
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mt-8"
            (click)="proceedToNext('Yes')"
            [class.selected]="formData.FHALoan == 'Yes'"
          >
            Yes
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3 mt-3"
            (click)="proceedToNext('No')"
            [class.selected]="formData.FHALoan == 'No'"
          >
            No
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext('I Dont Know')"
            [class.selected]="formData.FHALoan == 'I Dont Know'"
          >
            I Don't Know
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart p42 mt-5">
      <span>42%</span>
    </div>
  </div>
</div>
