<div class="px-4">
  <div class="section">
    <div class="row">
      <span class="h4" style="color: #f47b46"
        >My Loan Application #
        <span class="LoanNumber">{{ loanApplicationNumber }}</span></span
      >
    </div>
    <div class="row pt-2">
      <div class="col-md-4 col-sm-12 pl-sm-0 pl-md-0 py-md-2">
        <div class="card">
          <div class="card-body px-md-4 py-2">
            <h5 class="card-title h6 pt-1">Loan Status</h5>
            <a
              href="javascript:void(0)"
              class="btn float-right mr-2"
              style="
                background-color: #dff9ec !important;
                color: #1bd27a !important;
              "
              >{{ loanStatus }}</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 pl-sm-0 py-md-2">
        <div class="card">
          <div class="card-body px-md-4 py-2">
            <h5 class="card-title h6 pt-1">Loan Lock Status</h5>
            <a
              href="javascript:void(0)"
              class="btn float-right mr-2"
              style="
                background-color: #fff2ce !important;
                color: #fed047 !important;
              "
              >Not Locked</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 pl-sm-0 py-md-2">
        <div class="card">
          <div class="card-body px-md-4 py-2">
            <h5 class="card-title h6 pt-1">{{ loanApplicantAddress }}</h5>
            <a
              href="javascript:void(0)"
              class="btn float-right mr-2"
              style="
                background-color: #e6e9f0 !important;
                color: #384b8e !important;
              "
              >{{ loanApplicationNumber }}</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row bg_primary rounded text-white p-3 border_radius_10px">
      <div class="col-md-7 col-sm-12">
        <span class="h4">My pending Task</span>
        <p class="pt-2">
          Click this button to review and upload required document for your
          Application.
        </p>
      </div>
      <div class="col-md-5 col-sm-12">
        <input type="file" (change)="uploadFile($event.target.files)" name="document" id="document" class="d-none" />
        <!-- <button
            class="btn bg-white m-4 text_primary float-right p-2 rounded border-0 px-3"
          > -->
        <label
          for="document"
          class="btn bg-white m-4 text_primary float-right p-2 rounded border-0 px-3"
        >
          <i class="fa fa-upload"></i>
          <span class="h6 pl-2"> Upload Loan Documents</span>
        </label>
        <!-- </button> -->
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6 col-sm-12 p-1 m-0 pr-md-3">
        <div class="card border_radius_10px">
          <div class="card-body">
            <h5 class="card-title font-weight-bold h5 p-2">My Loan Summary</h5>
            <div class="card-text">
              <div class="row px-2">
                <div class="col float-left">
                  <span class="float-left name">Loan Number</span>
                </div>
                <div class="col float-right">
                  <span class="LoanNumber float-right">{{
                    loanApplicationNumber
                  }}</span>
                </div>
              </div>
              <div class="divider m-2 w-100"></div>
              <div class="row px-2">
                <div class="col float-left">
                  <span class="float-left name">Mortgage Consultant</span>
                </div>
                <div class="col float-right">
                  <span class="LoanNumber float-right">{{
                    mortageConsultant
                  }}</span>
                </div>
              </div>
              <div class="divider m-2 w-100"></div>
              <div class="row px-2">
                <div class="col float-left">
                  <span class="float-left name">NMLS ID</span>
                </div>
                <div class="col float-right">
                  <span class="LoanNumber float-right">{{ NMLSId }}</span>
                </div>
              </div>
              <div class="divider m-2 w-100"></div>
              <div class="row px-2">
                <div class="col float-left">
                  <span class="float-left name">Borrower Name</span>
                </div>
                <div class="col float-right">
                  <span class="LoanNumber float-right">{{
                    loanApplicantName
                  }}</span>
                </div>
              </div>
              <div class="divider m-2 w-100"></div>
              <div class="row px-2">
                <div class="col float-left">
                  <span class="float-left name">Property Address</span>
                </div>
                <div class="col float-right">
                  <span class="LoanNumber float-right text-right">{{
                    loanApplicantAddress
                  }}</span>
                </div>
              </div>
              <div class="divider m-2 w-100"></div>
              <div class="row px-2">
                <div class="col float-left">
                  <span class="float-left name">Loan Program</span>
                </div>
                <div class="col float-right">
                  <span class="LoanNumber float-right">{{
                    loanProgramName
                  }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 p-1 m-0 pl-md-3">
        <div class="card border_radius_10px">
          <div class="card-body">
            <h5 class="card-title font-weight-bold h5 p-2">My Disclousers</h5>
            <div class="card-text">
              <div class="row px-2">
                <div class="col float-left">
                  <span class="float-left name">Rate Lock Confirmation</span>
                </div>
                <div class="col float-right">
                  <button
                    class="LoanNumber float-right btn rounded px-2 py-0 btn_bg_grey"
                  >
                    Not Available
                  </button>
                </div>
              </div>
              <div class="divider m-2 w-100"></div>
              <div class="row px-2">
                <div class="col float-left">
                  <span class="float-left name">Disclousers</span>
                </div>
                <div class="col float-right">
                  <button
                    class="LoanNumber float-right btn rounded px-2 py-0 btn_bg_grey"
                  >
                    Not Available
                  </button>
                </div>
              </div>
              <div class="divider m-2 w-100"></div>
              <div class="row px-2">
                <div class="col float-left">
                  <span class="float-left name"
                    >Borrower's Certificate and Authorization</span
                  >
                </div>
                <div class="col float-right">
                  <button
                    class="LoanNumber float-right btn rounded px-2 py-0 btn_bg_grey"
                  >
                    Not Available
                  </button>
                </div>
              </div>
              <div class="divider m-2 w-100"></div>
              <div class="row px-2">
                <div class="col float-left">
                  <span class="float-left name">1003 Application</span>
                </div>
                <div class="col float-right">
                  <button
                    class="LoanNumber float-right btn rounded px-2 py-0 btn_bg_grey"
                  >
                    Not Available
                  </button>
                </div>
              </div>
              <div class="divider m-2 w-100"></div>
              <div class="row px-2">
                <div class="col float-left">
                  <span class="float-left name">Loan Documents</span>
                </div>
                <div class="col float-right">
                  <button
                    class="LoanNumber float-right btn rounded px-2 py-0 btn_bg_grey"
                  >
                    Not Available
                  </button>
                </div>
              </div>
              <div class="divider m-2 w-100"></div>
              <div class="row px-2">
                <div class="col float-left">
                  <span class="float-left name">FICO Finding</span>
                </div>
                <div class="col float-right">
                  <button
                    class="LoanNumber float-right btn rounded px-2 py-0 btn_bg_grey"
                  >
                    Not Available
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
