<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="">When do you plan to purchase?</h2>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="back" class="fa fa-angle-left" (click)="proceedToPrevious()">
          <span style="margin-left: 10px">Back</span>
        </p>
      </div>
      <div class="col-lg-4">
        <div class="btn">
          <br /><br />
          <button
            type="button"
            class="btn btn-lg btn-block mb-3"
            id="Family"
            (click)="proceedToNext()"
          >
            Now-I Signed A Contract
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext()"
          >
            Soon - I Found A Home
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext()"
          >
            Within 30 Days
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext()"
          >
            In The Next Few Months
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext()"
          >
            Not Sure - Researching
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart">
      <span>21%</span>
    </div>
  </div>
</div>
