<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5">How would you rate your credit?</h2>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="Back">
          <i class="fa fa-angle-left" style="font-size: 25px"></i>Back
        </p>
      </div>
      <div class="col-lg-4">
        <div class="BTN">
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mt-4"
            id="Family"
          >
            Excellent (720+)
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3 mt-3"
          >
            Good (680 – 719)
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3 mt-3"
          >
            Fair (620 – 679)
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3 mt-3"
          >
            Poor (580 - 619)
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3 mt-3"
          >
            Below < 580
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart p84 mt-5">
      <span>84%</span>
    </div>
  </div>
</div>
