<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="">What type of property are you purchasing?</h2>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="back" class="fa fa-angle-left" (click)="proceedToPrevious()">
          <span style="margin-left: 10px">Back</span>
        </p>
      </div>
      <div class="col-lg-4">
        <div class="btn">
          <br /><br />
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext(1)"
            [class.selected]="selected == 1"
          >
            Single Family Home
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext(2)"
            [class.selected]="selected == 2"
          >
            Multi-Family Home
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext(3)"
            [class.selected]="selected == 3"
          >
            Townhouse / Condo
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block"
            (click)="proceedToNext(4)"
            [class.selected]="selected == 4"
          >
            Other
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart">
      <span>5%</span>
    </div>
  </div>
</div>
