.selected {
  background-color: #f47741;
  color: white !important;
}

#num {
  color: #0cc4d4 !important;
}
#Email {
  color: #0cc4d4 !important;
}
.gage-chart {
  margin-top: 42px !important;
}
.gage-chart-orange {
  margin-top: 42px !important;
}
button.btn:hover {
  background-color: #f47741;
}

/* Hafiz's CSS */

.Content-Step-Body.text-black {
  background-color: white !important;
  color: black;
}
.Content-Step-Body .btn-outline-orange {
  border-color: #f47741;
  color: #f47741;
}
.Content-Step-Body .btn-outline-orange:hover {
  color: white;
}

.Content-Step-Body.Content-Step-Footer {
  background-color: white !important;
}
#back.fa::before {
  color: #f47741;
}

#back {
  margin-top: 225px;
  margin-right: 350px;
  margin-left: 23px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  left: 33%;
  top: 185px;
}

.btn {
  width: 93%;
}

h1 {
  font-size: 30px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  #back {
    margin-top: 225px;
    margin-right: 350px;
    margin-left: 23px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 33%;
    top: 185px;
  }
  .btn {
    width: 93%;
  }
  h1 {
    font-size: 30px !important;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #back {
    margin-top: 225px;
    margin-right: 350px;
    margin-left: 23px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 42%;
    top: 185px;
  }
  .btn {
    width: 70%;
  }
  h1 {
    font-size: 36px !important;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #back {
    margin-top: 225px;
    margin-right: 350px;
    margin-left: 23px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
  }
  .btn {
    width: 100%;
  }
  h1 {
    font-size: 42px !important;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #back {
    margin-top: 225px;
    margin-right: 350px;
    margin-left: 23px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
  }
  .btn {
    width: 100%;
  }
  h1 {
    font-size: 42px !important;
  }
}
