#Back {
  position: relative;
  top: 290px;
  right: 196px;
  cursor: pointer;
}
#icon {
  font-size: 26px;
  position: relative;
  top: 317px;
  right: 230px;
}

.box-fill {
  border-radius: 14px;
  height: 70px;
  padding-left: 25px;
  padding-right: 25px;
}

.float-left {
  margin-top: 13px;
}

.number {
  margin-top: 13px;
  float: right;
}
.cursor_pointer:hover {
  background-color: #f47741 !important;
  color: #ffffff !important;
}
