<div class="sidebar" [class.sidebar_show]="toggleSidebar == true">
  <span
    class="text_primary float-right m-2 p-1 border-primary rounded d_none_nav_cross"
    [class.d_none]="toggleSidebar == false"
    (click)="toggleSidebarFunc()"
    ><i class="fa fa-times" aria-hidden="true"></i
  ></span>
  <div class="custom_logo pl-5">
    <a class="cursor_pointer">
      <img
        src="assets/images/admin_logo.png"
        alt="logo"
        (click)="navigateToDashboard()"
      />
    </a>
  </div>
  <div class="dropdown pr-md-3 pr-sm-0">
    <ul class="pl-2">
      <li>
        <a
          href="javascript:void(0)"
          class="font-weight-normal width_webkit droprdown_class_a"
        >
          My Loan Application
          <span class="pl-3 caret_down float-right"
            ><i class="fa fa-caret-down"></i></span
          ><span class="pl-3 caret_up caret_active float-right"
            ><i class="fa fa-caret-up"></i></span
        ></a>
        <ul class="pl-2 d-none">
          <li>
            <a href="javascript:void(0)" class="font-weight-light"
              ><i class="fa fa-sun"></i>
              <span class="pl-2"> Loan Progress</span></a
            >
          </li>
          <li>
            <a href="javascript:void(0)" class="font-weight-light"
              ><i class="fa fa-file"></i>
              <span class="pl-2"> Upload Document</span></a
            >
          </li>
          <li>
            <a href="javascript:void(0)" class="font-weight-light"
              ><i class="fa fa-bell"></i>
              <span class="pl-2"> Notification</span></a
            >
          </li>
        </ul>
      </li>
      <div class="divider"></div>
      <li>
        <a
          href="javascript:void(0)"
          class="font-weight-normal width_webkit droprdown_class_a"
        >
          New Loan Center
          <span class="pl-3 caret_down float-right"
            ><i class="fa fa-caret-down"></i></span
          ><span class="pl-3 caret_up caret_active float-right"
            ><i class="fa fa-caret-up"></i></span
        ></a>
        <ul class="pl-2 d-none">
          <li>
            <a href="javascript:void(0)" class="font-weight-light"
              ><i class="fa fa-sun"></i>
              <span class="pl-2"> Loan Progress</span></a
            >
          </li>
          <li>
            <a href="javascript:void(0)" class="font-weight-light"
              ><i class="fa fa-file"></i>
              <span class="pl-2"> Upload Document</span></a
            >
          </li>
          <li>
            <a href="javascript:void(0)" class="font-weight-light"
              ><i class="fa fa-bell"></i>
              <span class="pl-2"> Notification</span></a
            >
          </li>
        </ul>
      </li>
      <div class="divider"></div>

      <li>
        <a
          href="javascript:void(0)"
          class="font-weight-normal width_webkit droprdown_class_a"
        >
          Rates & Feeds
          <span class="pl-3 caret_down float-right"
            ><i class="fa fa-caret-down"></i></span
          ><span class="pl-3 caret_up caret_active float-right"
            ><i class="fa fa-caret-up"></i></span
        ></a>
        <ul class="pl-2 d-none">
          <li>
            <a href="javascript:void(0)" class="font-weight-light"
              ><i class="fa fa-sun"></i>
              <span class="pl-2"> Loan Progress</span></a
            >
          </li>
          <li>
            <a href="javascript:void(0)" class="font-weight-light"
              ><i class="fa fa-file"></i>
              <span class="pl-2"> Upload Document</span></a
            >
          </li>
          <li>
            <a href="javascript:void(0)" class="font-weight-light"
              ><i class="fa fa-bell"></i>
              <span class="pl-2"> Notification</span></a
            >
          </li>
        </ul>
      </li>
      <div class="divider"></div>

      <li>
        <a
          href="javascript:void(0)"
          class="font-weight-normal width_webkit droprdown_class_a"
        >
          Resources
          <span class="pl-3 caret_down float-right"
            ><i class="fa fa-caret-down"></i></span
          ><span class="pl-3 caret_up caret_active float-right"
            ><i class="fa fa-caret-up"></i></span
        ></a>
        <ul class="pl-2 d-none">
          <li>
            <a href="javascript:void(0)" class="font-weight-light"
              ><i class="fa fa-sun"></i>
              <span class="pl-2"> Loan Progress</span></a
            >
          </li>
          <li>
            <a href="javascript:void(0)" class="font-weight-light"
              ><i class="fa fa-file"></i>
              <span class="pl-2"> Upload Document</span></a
            >
          </li>
          <li>
            <a href="javascript:void(0)" class="font-weight-light"
              ><i class="fa fa-bell"></i>
              <span class="pl-2"> Notification</span></a
            >
          </li>
        </ul>
      </li>
      <div class="divider"></div>

      <li>
        <a
          href="javascript:void(0)"
          class="font-weight-normal width_webkit droprdown_class_a"
        >
          Account
          <span class="pl-3 caret_down float-right"
            ><i class="fa fa-caret-down"></i></span
          ><span class="pl-3 caret_up caret_active float-right"
            ><i class="fa fa-caret-up"></i></span
        ></a>
        <ul class="pl-2 d-none">
          <li>
            <a href="javascript:void(0)" class="font-weight-light"
              ><i class="fa fa-user"></i
              ><span class="pl-2" (click)="navigateToProfile()">
                My Profile</span
              ></a
            >
          </li>
          <li>
            <a href="javascript:void(0)" class="font-weight-light"
              ><i class="fa fa-sign-out-alt"></i
              ><span class="pl-2" (click)="logOut()"> Log Out</span></a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="content px-4" [class.content_side]="toggleSidebar == true">
  <nav>
    <div class="row p-0 m-0 show_nav_buttons">
      <div class="col-6 float-left p-0 m-0">
        <span
          class="text_primary float-left border-primary rounded p-2 btn border-0 sidebar_show_btn sidebar_show_btn_active"
          title="Show Sidebar"
          [class.d_none_imp]="toggleSidebar == true"
          id="showsidebar"
          (click)="toggleSidebarFunc()"
          ><i aria-hidden="true" class="fa fa-bars"></i
        ></span>
      </div>
      <div class="col-6 float-right p-0 m-0">
        <span
          class="text_primary float-right border-primary rounded p-2 nav_bars_show nav_bars_show_active"
          ><i aria-hidden="true" class="fa fa-angle-down"></i
        ></span>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-md-6 col-sm-12 pl-0">
        <div class="float-left">
          <!-- <span class="text_primary float-left border-primary rounded p-2 btn border-0 sidebar_show_btn sidebar_show_btn_active" #showsidebar title="Show Sidebar" [class.d_none_imp] = "toggleSidebar == true" id="showsidebar" (click)="toggleSidebarFunc()"><i class="fa fa-bars" aria-hidden="true"></i></span> -->
          <!-- <span class="text_primary float-right m-2 p-1  border-danger rounded d_none btn border-0" #hidesidebar title="Hide Sidebar"><i class="fa fa-times" aria-hidden="true"></i></span> -->
          <h4 class="font-weight-bold text-truncate w_responsive">
            Welcome, <span class="UserName">{{ userName }}</span
            ><span> !</span>
          </h4>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 p_0_res_btns">
        <div class="float-right">
          <div class="buttons_nav text-center">
            <a href="javascript:void(0)" class="p-1 px-3 h5 nav_icon"
              ><i class="fa fa-info-circle"></i
            ></a>
            <a href="javascript:void(0)" class="p-1 px-3 h5 nav_icon"
              ><i class="fa fa-bell"></i
            ></a>
            <button
              class="btn btn-primary bg_primary text-white m-1 mx-2 nav_t_btn"
            >
              Portfolio
            </button>
            <button
              class="btn btn-primary bg_primary text-white m-1 mx-2 nav_t_btn"
              (click)="navigateToProfile()"
            >
              My Profile
            </button>
            <a href="javascript:void(0)" class="p-1 pl-3 h5 nav_icon"
              ><i class="fa fa-sign-out-alt"></i
            ></a>
          </div>
          <!-- <span class="text_primary float-right  border-primary rounded p-2 nav_bars_show nav_bars_show_active" ><i class="fa fa-angle-down" aria-hidden="true"></i></span> -->
          <!-- <span class="text_primary float-right m-2 p-1  border-danger rounded  nav_bars_hide"><i class="fa fa-times" aria-hidden="true"></i></span> -->
        </div>
      </div>
    </div>
    <div class="divider my-2"></div>
  </nav>

  <!-- <div>
      <app-admin-panel-layout [pageName]="pageName"></app-admin-panel-layout>
    </div> -->
</div>

<div class="content px-4">
  <div>
    <app-admin-dashboard
      *ngIf="pageName == GlobalName.AdminDashboard"
    ></app-admin-dashboard>
  </div>
  <div>
    <app-admin-profile-page
      *ngIf="pageName == GlobalName.AdminProfile"
    ></app-admin-profile-page>
  </div>
</div>
