<div class="sidebar" [class.sidebar_show]="toggleSidebar == true">
  <span class="text_primary float-right m-2 p-1 border-primary rounded d_none_nav_cross"
    [class.d_none]="toggleSidebar == false" (click)="toggleSidebarFunc()"><i class="fa fa-times"
      aria-hidden="true"></i></span>
  <div class="custom_logo pl-5">
    <a class="cursor_pointer">
      <img src="assets/images/admin_logo.png" alt="logo" (click)="navigateToDashboard()" />
    </a>
  </div>
  <div class="dropdown">
    <ul class="pl-0">
      <li>
        <a href="javascript:void(0)" class="font-weight-normal width_webkit droprdown_class_a">
          My Loan Application
          <span class="pl-3 caret_down float-right"><i class="fa fa-caret-down"></i></span><span
            class="pl-3 caret_up caret_active float-right"><i class="fa fa-caret-up"></i></span></a>
        <ul class="pl-2 d-none">
          <li>
            <a href="javascript:void(0)" class="font-weight-light"><i class="fa fa-spinner"></i>
              <span class="pl-2">Incomplete Loan Application</span></a>
            <ul class="pl-2">
              <li>
                <a href="javascript:void(0)" (click)="navigateToBorrowerInfo()" class="font-weight-light">
                  <span class="pl-2"> Borrower Info</span></a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="navigateToFinancialInfoAssetsLiabilities()"
                  class="font-weight-light">
                  <span class="pl-2">
                    Financial Info - Assets & Liabilities</span></a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="navigateToFinancialInfoRealEstate()" class="font-weight-light">
                  <span class="pl-2"> Financial Info - Real Estate</span></a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="navigateToLoanPropertyInfo()" class="font-weight-light">
                  <span class="pl-2"> Loan & Property Info</span></a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="navigateToDeclarations()" class="font-weight-light">
                  <span class="pl-2"> Declarations</span></a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="navigateToAcknowledgements()" class="font-weight-light">
                  <span class="pl-2"> Acknowledgements & Agreements</span></a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="navigateToMilitaryService()" class="font-weight-light">
                  <span class="pl-2"> Military Service</span></a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="navigateToDemographicInfo()" class="font-weight-light">
                  <span class="pl-2"> Demographic Info</span></a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="navigateToLoanOriginatorInfo()" class="font-weight-light">
                  <span class="pl-2"> Loan Originator Info</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0)" (click)="navigateToLoanProgress()" class="font-weight-light">
              <img src="../../../assets/img/waiting.svg"/>
              <span class="pl-2"> Loan Progress</span></a>
          </li>
          <li>
            <a href="javascript:void(0)" class="font-weight-light"><img src="../../../assets/img/file.svg"/>
              <span class="pl-2"> Upload Document</span></a>
          </li>
          <li>
            <a href="javascript:void(0)" (click)="navigateToNotification()" class="font-weight-light">
              <img src="../../../assets/img/sidebar-bell.svg"/>
              <span class="pl-2"> Notification</span></a>
          </li>
        </ul>
      </li>
      <div class="divider"></div>
      <li>
        <a href="javascript:void(0)" class="font-weight-normal width_webkit droprdown_class_a">
          New Loan Center
          <span class="pl-3 caret_down float-right"><i class="fa fa-caret-down"></i></span><span
            class="pl-3 caret_up caret_active float-right"><i class="fa fa-caret-up"></i></span></a>
        <ul class="pl-0 d-none">
          <li>
            <a href="javascript:void(0)" class="font-weight-light"><img src="../../../assets/img/waiting.svg"/>
              <span class="pl-2"> Loan Progress</span></a>
          </li>
          <li>
            <a href="javascript:void(0)" (click)="navigateToLoanProcess()" class="font-weight-light">
              <img src="../../../assets/img/waiting.svg"/>
              <span class="pl-2">Our Loan Process</span></a>
          </li>
          <li>
            <a href="javascript:void(0)" class="font-weight-light"><img src="../../../assets/img/file.svg"/>
              <span class="pl-2"> Upload Document</span></a>
          </li>
          <li>
            <a href="javascript:void(0)" class="font-weight-light"><img src="../../../assets/img/sidebar-bell.svg"/>
              <span class="pl-2"> Notification</span></a>
          </li>
        </ul>
      </li>
      <div class="divider"></div>

      <li>
        <a href="javascript:void(0)" class="font-weight-normal width_webkit droprdown_class_a">
          Rates & Feeds
          <span class="pl-3 caret_down float-right"><i class="fa fa-caret-down"></i></span><span
            class="pl-3 caret_up caret_active float-right"><i class="fa fa-caret-up"></i></span></a>
        <ul class="pl-0 d-none">
          <li>
            <a href="javascript:void(0)" class="font-weight-light"><img src="../../../assets/img/waiting.svg"/>
              <span class="pl-2"> Loan Progress</span></a>
          </li>
          <li>
            <a href="javascript:void(0)" class="font-weight-light"><img src="../../../assets/img/file.svg"/>
              <span class="pl-2"> Upload Document</span></a>
          </li>
          <li>
            <a href="javascript:void(0)" class="font-weight-light"><img src="../../../assets/img/sidebar-bell.svg"/>
              <span class="pl-2"> Notification</span></a>
          </li>
        </ul>
      </li>
      <div class="divider"></div>

      <li>
        <a href="javascript:void(0)" class="font-weight-normal width_webkit droprdown_class_a">
          Resources
          <span class="pl-3 caret_down float-right"><i class="fa fa-caret-down"></i></span><span
            class="pl-3 caret_up caret_active float-right"><i class="fa fa-caret-up"></i></span></a>
        <ul class="pl-0 d-none">
          <li>
            <a href="javascript:void(0)" class="font-weight-light"><img src="../../../assets/img/waiting.svg"/>
              <span class="pl-2"> Loan Progress</span></a>
          </li>
          <li>
            <a href="javascript:void(0)" class="font-weight-light"><img src="../../../assets/img/file.svg"/>
              <span class="pl-2"> Upload Document</span></a>
          </li>
          <li>
            <a href="javascript:void(0)" class="font-weight-light"><img src="../../../assets/img/sidebar-bell.svg"/>
              <span class="pl-2"> Notification</span></a>
          </li>
        </ul>
      </li>
      <div class="divider"></div>

      <li>
        <a href="javascript:void(0)" class="font-weight-normal width_webkit droprdown_class_a">
          Account
          <span class="pl-3 caret_down float-right"><i class="fa fa-caret-down"></i></span><span
            class="pl-3 caret_up caret_active float-right"><i class="fa fa-caret-up"></i></span></a>
        <ul class="pl-0 d-none">
          <li>
            <a href="javascript:void(0)" class="font-weight-light"><img src="../../../assets/img/user.svg"/><span class="pl-2"
                (click)="navigateToProfile()">
                My Profile</span></a>
          </li>
          <li>
            <a href="javascript:void(0)" class="font-weight-light"><img src="../../../assets/img/logout.svg"/><span class="pl-2"
                (click)="logOut()"> Log Out</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>