/* .btn{
    margin-bottom: 20px;
    } */
.slidecontainer {
  font-size: 20px;
  width: 50%;
  justify-content: center;
  margin-left: 25%;
}
.form-control {
  height: 65px;
  margin-top: 50px;
  padding-left: 25px;
}
#myRange {
  /* background: linear-gradient(
    to right,
    #f47741 0%,
    #f47741 50%,
    #000000 50%,
    #000000 100%
  ); */
  border: solid 1px #f47741;
  border-radius: 8px;
  height: 10px;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
/* .fa {
  margin-right: 10px;
}
.mb-4 {
  font-size: 50px;
} */
.estimate {
  font-size: 25px;
}

#Back {
  font-size: 20px;
  max-width: fit-content;
  cursor: pointer;
  margin-left: 22px;
  margin-top: 27px;
}
#num {
  color: #0cc4d4 !important;
}
#Email {
  color: #0cc4d4 !important;
}

.dollar_sign {
  position: absolute;
  margin-top: 58px;
  margin-left: -157px;
  color: white;
  font-size: 20px;
}
.invalid-feedback {
  padding: 5px;
}

button.btn:hover {
  background-color: #f47741;
}
/* Hafiz's CSS */

.Content-Step-Body.text-black {
  background-color: white !important;
  color: black;
}
.Content-Step-Body .btn-outline-blue {
  border-color: #091a52;
  color: #091a52;
}
.Content-Step-Body .btn-outline-blue:hover {
  color: white;
  background-color: #091a52;
}
.Content-Step-Body .form-control {
  background-color: #091a52 !important;
}
.selected {
  background-color: #091a52 !important;
  color: white !important;
}

#back {
  margin-top: 225px;
  margin-right: 350px;
  max-width: fit-content;
  margin-left: 23px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  left: 33%;
  top: 420px;
}

.btn {
  width: 93%;
}
.form-control {
  width: 93%;
}

h2 {
  font-size: 30px !important;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  #back {
    margin-top: 225px;
    margin-right: 350px;
    margin-left: 23px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 33%;
    top: 420px;
  }
  .btn {
    width: 93%;
  }
  .form-control {
    width: 93%;
  }
  h2 {
    font-size: 30px !important;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #back {
    margin-top: 225px;
    margin-right: 350px;
    margin-left: 23px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 42%;
    top: 450px;
  }
  .btn {
    width: 55%;
  }
  .form-control {
    width: 55%;
  }
  h2 {
    font-size: 36px !important;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #back {
    margin-top: 225px;
    margin-right: 350px;
    margin-left: 23px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 360px;
    top: 260px;
  }
  .btn {
    width: 28%;
  }
  .form-control {
    width: 28%;
  }
  h2 {
    font-size: 40px !important;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #back {
    margin-top: 225px;
    margin-right: 350px;
    margin-left: 23px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 360px;
    top: 260px;
  }
  .btn {
    width: 28%;
  }
  .form-control {
    width: 28%;
  }
  h2 {
    font-size: 40px !important;
  }
}
