/* .btn{
    margin-bottom: 20px;
    } */
.slidecontainer {
  font-size: 20px;
  width: 50%;
  justify-content: center;
  margin-left: 25%;
}
.form-control {
  height: 65px;
  margin-top: 50px;
  padding-left: 25px;
}
#myRange {
  /* background: linear-gradient(
    to right,
    #f47741 0%,
    #f47741 50%,
    #000000 50%,
    #000000 100%
  ); */
  border: solid 1px #f47741;
  border-radius: 8px;
  height: 10px;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
.fa {
  margin-right: 10px;
}
.mb-4 {
  font-size: 50px;
}
.estimate {
  font-size: 25px;
}

#Back {
  margin-right: 300px;
  font-size: 20px;
  max-width: fit-content;
  cursor: pointer;
}
#num {
  color: #0cc4d4 !important;
}
#Email {
  color: #0cc4d4 !important;
}
.selected {
  background-color: #f47741;
}
.dollar_sign {
  position: absolute;
  margin-top: 58px;
  margin-left: -157px;
  color: white;
  font-size: 20px;
}
.invalid-feedback {
  padding: 5px;
}

button.btn:hover {
  background-color: #f47741;
}
