<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5">Any foreclosure in the past 2 years?</h2>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="Back" (click)="proceedToPrevious()">
          <i class="fa fa-angle-left" style="font-size: 25px"></i>
          <span style="position: absolute; line-height: 25px">Back</span>
        </p>
      </div>
      <div class="col-lg-4">
        <div class="BTN">
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mt-8"
            (click)="proceedToNext(true)"
            [class.selected]="formData.foreclosurePastTwoYears == true"
          >
            Yes
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3 mt-3"
            (click)="proceedToNext(false)"
            [class.selected]="formData.foreclosurePastTwoYears == false"
          >
            No
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart p53 mt-5">
      <span>53%</span>
    </div>
  </div>
</div>
