.btn {
  width: 100%;
}

#Family {
  background-color: #f47741;
  text-decoration-color: white;
}
#back {
  margin-top: 177px;
  margin-right: 350px;
  margin-left: 23px;
  font-size: 20px;
  cursor: pointer;
}

#num {
  color: #0cc4d4 !important;
}
#Email {
  color: #0cc4d4 !important;
}
.gage-chart {
  margin-top: 45px !important;
}
.selected {
  background-color: #f47741;
}

/* button.btn:hover {
  background-color: #f47741;
} */
