.form-control {
  height: 65px;
  margin-top: 30px;
  width: 100%;
  font-size: 20px;
  height: 83px;
  padding-left: 20px;
}
.btn {
  width: 100%;
}

#Family {
  background-color: #f47741;
  text-decoration-color: white;
}
#back {
  margin-top: 196px;
  margin-right: 350px;
  margin-left: 23px;
  font-size: 20px;
  cursor: pointer;
}

#num {
  color: #0cc4d4 !important;
}
#Email {
  color: #0cc4d4 !important;
}
.gage-chart {
  margin-top: 50px !important;
}
.selected {
  background-color: #f47741;
}
.percent {
  position: absolute;
  margin-top: 32px;
  margin-left: 161px;
  color: white;
}
.invalid-feedback {
  padding: 5px;
}

.number_percent {
  position: absolute;
  margin-top: 24px;
  margin-left: 323px;
  color: white;
  height: 41px;
  float: right;
  width: 42px;
  border: none !important;
  padding: 0px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button.btn:hover {
  background-color: #f47741;
}
