<div class="wrapper">
  <div *ngIf="IsRefinanceLoanOptions; else app_content">
    <app-animated-form-header></app-animated-form-header>
    <router-outlet></router-outlet>
    <app-animated-form-footer></app-animated-form-footer>
  </div>
  <ng-template #app_content>
    <ng-container *ngIf="IsLoanForm; else other_content">
      <app-loan-application-header></app-loan-application-header>
      <loan-side-bar></loan-side-bar>
    </ng-container>
    <ng-template #other_content>
      <app-header></app-header>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </ng-template>
  </ng-template>
</div>
