<div class="Content-Step-Body text-white">
  <div class="container">
    <h1 class="">
      Number of late mortgage payments in the <br />
      last 12 months?
    </h1>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="back" class="fa fa-angle-left" (click)="proceedToPrevious()">
          <span style="margin-left: 10px">Back</span>
        </p>
      </div>
      <div class="col-lg-4 px-0 pt-0">
        <div class="btn px-0">
          <br /><br />
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext('None')"
            [class.selected]="formData.LateMortgagePayments == 'None'"
          >
            None
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext('One Late Payment')"
            [class.selected]="
              formData.LateMortgagePayments == 'One Late Payment'
            "
          >
            One Late Payment
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext('More Than One')"
            [class.selected]="formData.LateMortgagePayments == 'More Than One'"
          >
            More Than One
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart">
      <span>74%</span>
    </div>
  </div>
</div>
