<div>
  <h4 class="section-title">
    Assets – Bank Accounts, Retirement, and Other Accounts You Have
  </h4>
  <div class="info-block">
    <p>
      This section asks about things you own that are worth money and that you
      want considered to qualify for this loan. It then asks about your
      liabilities (or debts) that you pay each month, such as credit cards,
      alimony, or other expenses.
    </p>
  </div>
  <div class="separator"></div>
  <div class="row borrower-block">
    <div class="col-sm-8">
      <div class="input-group">
        <div class="input-group-text">Borrower Name:</div>
        <input
          type="text"
          class="form-control"
          id="specificSizeInputGroupUsername"
        />
      </div>
    </div>
  </div>
  <div class="row text-right mt-5">
    <div class="col-sm-12">
      <button class="btn btn-fill">NEXT</button>
    </div>
  </div>
</div>
