<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="">Can you show proof of income?</h2>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="back" class="fa fa-angle-left" (click)="proceedToPrevious()">
          <span style="margin-left: 10px">Back</span>
        </p>
      </div>
      <div class="col-lg-4">
        <div class="btn">
          <br /><br />
          <button
            type="button"
            class="btn btn-lg btn-block mb-3"
            id="Family"
            (click)="proceedToNext()"
          >
            Yes
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext()"
          >
            No
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart">
      <span>53%</span>
    </div>
  </div>
</div>
