<div class="wrapper bg-white w-100">
  <div class="sidebar">
    <div class="custom_logo bg-primary pl-5">
      <img src="assets/images/headLogo.svg" alt="" />
    </div>
    <div class="dropdown">
      <ul class="pl-2">
        <li>
          <a href="javascript:void(0)"> My Loan Application</a>
          <ul class="pl-2">
            <li>
              <a href="javascript:void(0)"
                ><i class="fa fa-bell"></i> Loan Progress</a
              >
            </li>
            <li>
              <a href="javascript:void(0)"
                ><i class="fa fa-bell"></i> Upload Document</a
              >
            </li>
            <li>
              <a href="javascript:void(0)"
                ><i class="fa fa-bell"></i> Notification</a
              >
            </li>
          </ul>
        </li>
        <div class="divider"></div>
        <li>
          <a href="javascript:void(0)"> New Loan Center</a>
          <ul class="pl-2">
            <li>
              <a href="javascript:void(0)"
                ><i class="fa fa-bell"></i> Loan Progress</a
              >
            </li>
            <li>
              <a href="javascript:void(0)"
                ><i class="fa fa-bell"></i> Upload Document</a
              >
            </li>
            <li>
              <a href="javascript:void(0)"
                ><i class="fa fa-bell"></i> Notification</a
              >
            </li>
          </ul>
        </li>
        <div class="divider"></div>

        <li>
          <a href="javascript:void(0)"> Rates & Feeds</a>
          <ul class="pl-2">
            <li>
              <a href="javascript:void(0)"
                ><i class="fa fa-bell"></i> Loan Progress</a
              >
            </li>
            <li>
              <a href="javascript:void(0)"
                ><i class="fa fa-bell"></i> Upload Document</a
              >
            </li>
            <li>
              <a href="javascript:void(0)"
                ><i class="fa fa-bell"></i> Notification</a
              >
            </li>
          </ul>
        </li>
        <div class="divider"></div>

        <li>
          <a href="javascript:void(0)"> Resources</a>
          <ul class="pl-2">
            <li>
              <a href="javascript:void(0)"
                ><i class="fa fa-bell"></i> Loan Progress</a
              >
            </li>
            <li>
              <a href="javascript:void(0)"
                ><i class="fa fa-bell"></i> Upload Document</a
              >
            </li>
            <li>
              <a href="javascript:void(0)"
                ><i class="fa fa-bell"></i> Notification</a
              >
            </li>
          </ul>
        </li>
        <div class="divider"></div>

        <li>
          <a href="javascript:void(0)"> Account</a>
          <ul class="pl-2">
            <li>
              <a href="javascript:void(0)"
                ><i class="fa fa-bell"></i> My Profile</a
              >
            </li>
            <li>
              <a href="javascript:void(0)"
                ><i class="fa fa-bell"></i> Log Out</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="content px-4">
    <nav>
      <div class="row pt-2">
        <div class="col-md-6 col-sm-12">
          <div class="float-left">
            <h3>Welcome , <span>Shabir</span></h3>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="float-right">
            <a href="javascript:void(0)" class="p-1"
              ><i class="fa fa-info"></i
            ></a>
            <a href="javascript:void(0)" class="p-1"
              ><i class="fa fa-bell"></i
            ></a>
            <button class="btn btn-primary m-1">Portfolio</button>
            <button class="btn btn-primary m-1">My Profile</button>
            <a href="javascript:void(0)" class="p-1"
              ><i class="fa fa-sign-out-alt"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="divider"></div>
    </nav>

    <div class="section">
      <div class="row">
        <span class="h3" style="color: #f47b46"
          >My Loan Application # <span>18311091881</span></span
        >
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12 p-2">
          <div class="card">
            <div class="card-body p-2">
              <h5 class="card-title">Loan Status</h5>
              <a
                href="#"
                class="btn float-right mr-2"
                style="
                  background-color: #dff9ec !important;
                  color: #1bd27a !important;
                "
                >Application Submitted</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 p-2">
          <div class="card">
            <div class="card-body p-2">
              <h5 class="card-title">Loan Lock Status</h5>
              <a
                href="#"
                class="btn float-right mr-2"
                style="
                  background-color: #fff2ce !important;
                  color: #fed047 !important;
                "
                >Not Locked</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 p-2">
          <div class="card">
            <div class="card-body p-2">
              <h5 class="card-title">5152 White Oak Ave Loan</h5>
              <a
                href="#"
                class="btn float-right mr-2"
                style="
                  background-color: #e6e9f0 !important;
                  color: #384b8e !important;
                "
                >#3718317</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row bg-primary rounded p-3">
        <div class="col-md-7 col-sm-12">
          <span class="h3">My pending Task</span>
          <p>
            Click this button to review and upload required document for your
            Application.
          </p>
        </div>
        <div class="col-md-5 col-sm-12">
          <button
            class="btn bg-white m-4 text-primary float-right p-2 rounded border-0 px-3"
          >
            <i class="fa fa-upload"></i>
            <span class="h6"> Upload Loan Documents</span>
          </button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6 col-sm-12 p-1 m-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 p-1 m-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
