<div class="main-content" *ngIf="number == 1">
  <h2>Now tell us about your assets.</h2>
  <h6>if you’re not exactly sure, your best guess is fine.</h6>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <form action="" id="assets" #f="ngForm">
      <div class="form-group">
        <select
          class="form-select form-style"
          [(ngModel)]="model.accountType"
          name="accountType"
          required
          #accountTypeRef="ngModel"
        >
          <option>-Account type-</option>
          <option [value]="a.id" *ngFor="let a of accType">
            {{ a.financialAccountType1 }}
          </option>
        </select>
        <div
          *ngIf="submitted && !accountTypeRef.valid"
          class="text-danger d-flex"
        >
          Account type is required
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control form-style"
          placeholder="Finantional institution"
          [(ngModel)]="model.finInstitute"
          name="finInstitute"
          required
          #finInstituteRef="ngModel"
        />
        <div
          *ngIf="submitted && !finInstituteRef.valid"
          class="text-danger d-flex"
        >
          Finantional institution is required
        </div>
      </div>
      <div class="form-group">
        <input
          type="number"
          class="form-control form-style"
          placeholder="Balance"
          [(ngModel)]="model.finBalance"
          name="finBalance"
          required
          #finBalanceRef="ngModel"
        />
        <div
          *ngIf="submitted && !finBalanceRef.valid"
          class="text-danger d-flex"
        >
          Balance is required
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control form-style"
          placeholder="Account Type"
          [(ngModel)]="model.accountType"
          name="accountType"
          required
          #accountTypeRef="ngModel"
        />
        <div
          *ngIf="submitted && !accountTypeRef.valid"
          class="text-danger d-flex"
        >
          Account type is required
        </div>
      </div>
    </form>
    <div class="row margin-top">
      <div class="col-md-2 offset-md-1">
        <a routerLink="/app/purchase/income-info/5" class="btn" id="btn-back"
          >Back</a
        >
      </div>
      <div class="col-md-2 offset-md-1">
        <a class="btn" id="btn-next" (click)="stepNextClick(f, 2)">Next</a>
      </div>
      <div class="col-md-2 offset-md-1">
        <a routerLink="/app/purchase/assets-info/2" class="btn" id="btn-back"
          >Skip</a
        >
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>
    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>

<!--  Click back button move to page 27 purchase-income-source27 component -->
<!-- click next or skip go to the 28A section below -->
<!-- Section 28A starts -->

<div class="main-content" *ngIf="number == 2">
  <h2>Thanks! Do you have any other assets you’d like to share?</h2>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <a
      routerLink="/app/purchase/assets-info/6"
      class="btn btn-primary btn-style btn-orange"
      >Yes</a
    >

    <a
      routerLink="/app/purchase/gov/1"
      class="btn btn-primary btn-style btn-orange"
      >No</a
    >

    <div class="row">
      <div class="col-md-12 margin-top">
        <button type="button" class="btn" id="btn-back">Back</button>
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>
    master
    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<!-- Section 28A Ends -->

<!-- Click No button on 28A and it will go to page 29 -->

<!-- click Yes button it will move you to the section 28B-->
<!-- section 28B starts -->
<div class="main-content" *ngIf="number == 3">
  <h2>Let’s review and comfirm your assets.</h2>
  <div class="content-area">
    <div class="row">
      <div class="col-md-8">
        <h6>Asset</h6>
      </div>
      <div class="col-md-4 right-align">
        <a routerLink="/app/purchase/assets-info/4" class="btn" id="btn-edit"
          >Edit</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="profile-details">
          <p>Account Type: Checking account</p>
          <p>Financial Institution: Bank of America</p>
          <p>Balance: $125,000</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <a routerLink="/app/purchase/assets-info/2" class="btn" id="btn-back"
          >Back</a
        >
      </div>
      <div class="col-md-2">
        <a routerLink="/app/purchase/assets-info/4" class="btn" id="btn-next"
          >Next</a
        >
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<!-- section 28B ends -->

<!-- Click edit button it will open section 28C -->
<!-- section 28C starts -->
<div class="main-content" *ngIf="number == 4">
  <h2>Let’s review and comfirm your assets.</h2>
  <div class="content-area">
    <div class="row">
      <div class="col-md-8">
        <h6>Asset</h6>
      </div>
      <div class="col-md-4 right-align">
        <a routerLink="/app/purchase/assets-info/3" class="btn" id="btn-edit"
          >Done</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 margin-top">
        <form action="" id="employer-details">
          <select
            class="form-select form-style"
            [(ngModel)]="model.accountType"
            name="accountType"
            required
          >
            <option>Checking Account</option>
          </select>

          <input
            type="text"
            class="form-control form-style"
            placeholder="Finantional institution"
            [(ngModel)]="model.finInstitute"
            name="finInstitute"
            required
          />
          <input
            type="text"
            class="form-control form-style"
            placeholder="Balance"
            [(ngModel)]="model.finBalance"
            name="finBalance"
            required
          />
        </form>
      </div>
    </div>
  </div>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <a routerLink="/app/purchase/assets-info/3" class="btn" id="btn-back"
          >Back</a
        >
      </div>
      <div class="col-md-2">
        <a routerLink="/app/purchase/assets-info/5" class="btn" id="btn-next"
          >Next</a
        >
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<!-- section 28C ends -->
<!-- click next on 28B it will land in 28D Or click next on 28C it will land on 28D -->
<!-- Section 28D starts -->
<div class="main-content" *ngIf="number == 5">
  <h2>Thanks! Do you have any other assets you’d like to share?</h2>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <a
      routerLink="/app/purchase/assets-info/6"
      class="btn btn-primary btn-style btn-orange"
      >Yes</a
    >

    <a
      routerLink="/app/purchase/assets-info/6"
      class="btn btn-primary btn-style btn-orange"
      >No</a
    >

    <div class="row">
      <div class="col-md-12 margin-top">
        <a routerLink="/app/purchase/assets-info/4" class="btn" id="btn-back"
          >Back</a
        >
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>

<div class="main-content" *ngIf="number == 6">
  <h2>Let’s review and comfirm your assets.</h2>
  <div class="content-area">
    <div class="row">
      <div class="col-md-8">
        <h6>Asset</h6>
      </div>
      <div class="col-md-4 right-align">
        <button
          type="button"
          routerLink="/app/purchase/assets-info/4"
          class="btn"
          id="btn-edit"
        >
          Edit
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="profile-details">
          <p>Account Type: Checking account</p>
          <p>Financial Institution: Bank of America</p>
          <p>Balance: $125,000</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <a routerLink="/app/purchase/assets-info/5" class="btn" id="btn-back"
          >Back</a
        >
      </div>
      <div class="col-md-2">
        <a routerLink="/app/purchase/assets-info/2" class="btn" id="btn-next"
          >Next</a
        >
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<!-- section 28E ends -->

<!-- click on next button it will land in section Page 29 purchase-government29-->
