<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5 font-weight-bold" style="font-size: 40px">
      Active or previous U.S. military service?
    </h2>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="Back" (click)="proceedToPrevious()">
          <i class="fa fa-angle-left"></i>
          <span> Back</span>
        </p>
      </div>
      <div class="col-lg-4">
        <div class="BTN">
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn_mwh btn-block mt-8"
            (click)="proceedToNext(true)"
            [class.selected]="formData.militarySevice == true"
          >
            Yes
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn_mwh btn-block mb-3 mt-3"
            (click)="proceedToNext(false)"
            [class.selected]="formData.militarySevice == false"
          >
            No
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart p47 mt-5">
      <span>47%</span>
    </div>
  </div>
</div>
