<app-refinance-animated-header></app-refinance-animated-header>
<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5">And what’s the zip?</h2>
    <div class="col-lg-4">
      <i class="fa fa-angle-left" id="icon"></i>
      <p id="Back">Back</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="form-group mt-5">
          <input
            class="text-primary bg-white text-center font-weight-bold rounded-2"
            id="zip"
            type="text"
            placeholder="ZIP Code"
          />
        </div>
        <a
          href=""
          id="next"
          class="btn btn-secondary text-uppercase mt-3 text-white btn-next rounded-2"
          >Next</a
        >
      </div>
    </div>
    <app-refinance-animated-footer></app-refinance-animated-footer>
  </div>
</div>
