<div class="Content-Step-Body text-white">
  <div class="container">
    <h1 class="pb-5">Why do you want to refinance?</h1>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="Back">
          <i class="fa fa-angle-left" style="font-size: 25px"></i>Back
        </p>
      </div>
      <div class="col-lg-4">
        <div class="BTN">
          <br /><br />
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            id="Primary"
          >
            Primary
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
          >
            Secondary Home
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
          >
            Investment Property
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
          >
            Investment Property
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart p21 mt-5">
      <span>21%</span>
    </div>
  </div>
</div>
