.btn {
  width: 100%;
}

.fa {
  margin-right: 10px;
}
#Primary {
  background-color: #f47741;
}
#Back {
  margin-top: 186px;
  margin-right: 300px;
  font-size: 20px;
  cursor: pointer;
}
#num {
  color: #0cc4d4 !important;
}
#Email {
  color: #0cc4d4 !important;
}
.selected {
  background-color: #f47741;
}
