<div class="Content-Step-Body text-white">
  <div class="container">
    <h1 class="pb-5">Why do you want to refinance?</h1>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="Back" (click)="proceedToPrevious()">
          <i class="fa fa-angle-left" style="font-size: 25px"></i>
          <span style="position: absolute; line-height: 25px">Back</span>
        </p>
      </div>
      <div class="col-lg-4">
        <div class="BTN">
          <br /><br />
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext('Primary')"
            [class.selected]="formData.WantRefinance == 'Primary'"
          >
            Primary
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext('Secondary Home')"
            [class.selected]="formData.WantRefinance == 'Secondary Home'"
          >
            Secondary Home
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext('Investment Property')"
            [class.selected]="formData.WantRefinance == 'Investment Property'"
          >
            Investment Property
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart p21 mt-5">
      <span>21%</span>
    </div>
  </div>
</div>
