<div>
  <h4 class="section-title">
    About this Property and Your Money for this Loan
  </h4>
  <div class="info-block">
    <p>
      This section asks you specific questions about the property, your funding,
      and your past financial history.
    </p>
  </div>
  <div class="separator"></div>
  <div class="row borrower-block">
    <div class="col-sm-8">
      <div class="input-group">
        <div class="input-group-text">Borrower Name:</div>
        <input
          type="text"
          class="form-control"
          id="specificSizeInputGroupUsername"
        />
      </div>
    </div>
  </div>
  <div class="row text-right mt-5">
    <div class="col-sm-12">
      <button class="btn btn-fill">NEXT</button>
    </div>
  </div>
</div>
