<div>
  <h4 class="section-title">
    About this Property and Your Money for this Loan
  </h4>
  <div class="info-block">
    <p>
      This section asks you specific questions about the property, your funding,
      and your past financial history.
    </p>
  </div>



  <div class="div-main-grp" style="width: 100%; margin-top: 30px; margin-bottom: 20px;">

    <div class="row div-sub-grp">
    <div class="col-12">
      <div class="frm-group">
        <div class="row">
          <div class="col-10"><b>A.</b> Will you occupy the property as your primary residence?</div>
          <div class="col-2">
            <div class="frm-fld-input">
              <div class="row mt-2 ml-4">
               <div class="col-2">
                 <div style="display: flex; justify-content: center;">
                   <input type="radio" value="Yes" name="Yes" [(ngModel)]="declarationsList[0].answer" (change)="assignQuestionId(0,1)" style="-ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                   <label class="text-gray ml-2" style="font-size: 18px;">Yes</label>
                 </div>
               </div>

               <div class="col-2">
                 <div style="display: flex; justify-content: center; margin-left:40px">
                  <input type="radio" value="No" name="No" [(ngModel)]="declarationsList[0].answer"  (change)="assignQuestionId(0,1)" style="width:80px; -ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                   <label class="text-gray ml-2" style="font-size: 18px;">No</label>
                 </div>
               </div>

              </div>


           </div>
          </div>
        </div>


        <div class="row">
          <div class="col-9" style="padding-left: 50px;">
            If YES, have you had an ownership interest in another property in the last three years?
            <div class="pl-2">If YES, complete (1) and (2) below:</div>
          </div>
          <div class="col-3">
            <div class="frm-fld-input">
              <div class="row mt-2 ml-4">
               <div class="col-2">
                 <div style="display: flex; justify-content: center;">
                   <input type="radio" value="Yes" name="Yes" style="-ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                   <label class="text-gray ml-2" style="font-size: 18px;" [(ngModel)]="declarationsList[1].answer" (change)="assignQuestionId(1,1)">Yes</label>
                 </div>
               </div>

               <div class="col-2">
                 <div style="display: flex; justify-content: center; margin-left:40px">
                  <input type="radio" value="No" name="No" [(ngModel)]="declarationsList[1].answer" (change)="assignQuestionId(1,1)"  style="width:80px; -ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                   <label class="text-gray ml-2" style="font-size: 18px;">No</label>
                 </div>
               </div>
              </div>
           </div>
          </div>
        </div>


        <div class="row mt-2">
          <div class="col-9" style="padding-left: 50px;">
            <b>(1)</b> What type of property did you own: primary residence (PR), FHA secondary residence (SR), second home (SH),
            or investment property (IP)?
          </div>
          <div class="col-3">
            <div class="frm-group" style="width: 200px;
            padding: 0px;
            padding-top: 7px;
            padding-right: 10px;">
              <div class="frm-fld-input"  [(ngModel)]="declarationsList[2].answer" (change)="assignQuestionId(2,1)">
                <select class="form-control" name="firstName" >
                  <option value="-1" selected disabled>Select One</option>
                  <option value="PR" selected disabled>PR</option>
                  <option value="SR" selected disabled>SR</option>
                  <option value="SH" selected disabled>SH</option>
                  <option value="IP" selected disabled>IP</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-9" style="padding-left: 50px;">
            <b>(2)</b> How did you hold title to the property: by yourself (S), jointly with yourspouse (SP), or jointly with another person (O)?
          </div>
          <div class="col-3">
            <div class="frm-group" style="width: 200px;
            padding: 0px;
            padding-top: 7px;
            padding-right: 10px;">
              <div class="frm-fld-input">
                <select class="form-control" name="firstName"  [(ngModel)]="declarationsList[3].answer" (change)="assignQuestionId(3,1)">
                  <option value="-1" selected disabled>Select One</option>
                  <option value="SP" selected disabled>SP</option>
                  <option value="S" selected disabled>S</option>
                  <option value="O" selected disabled>O</option>
                </select>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>


    <div class="row div-sub-grp">
      <div class="col-12">
        <div class="frm-group">
          <div class="row">
            <div class="col-9"><b>B.</b> If this is a Purchase Transaction: Do you have a family relationship or business affiliation with the seller of the property?</div>
            <div class="col-3">
              <div class="frm-fld-input">
                <div class="row mt-2 ml-4">
                 <div class="col-2">
                   <div style="display: flex; justify-content: center;">
                     <input type="radio" value="Yes" [(ngModel)]="declarationsList[4].answer" (change)="assignQuestionId(4,2)" name="Yes" style="-ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">Yes</label>
                   </div>
                 </div>

                 <div class="col-2">
                   <div style="display: flex; justify-content: center; margin-left:40px">
                    <input type="radio" value="No" [(ngModel)]="declarationsList[4].answer" (change)="assignQuestionId(4,2)" name="No" style="width:80px; -ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">No</label>
                   </div>
                 </div>
                </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="row div-sub-grp">
      <div class="col-12">
        <div class="frm-group">
          <div class="row">
            <div class="col-9"><b>C.</b> Are you borrowing any money for this real estate transaction (e.g., money for your closing costs or down payment)
              or obtaining any money from another party, such as the seller or realtor, that you have not disclosed on this loan application?</div>
            <div class="col-3">
              <div class="frm-fld-input">
                <div class="row mt-2 ml-4">
                 <div class="col-2">
                   <div style="display: flex; justify-content: center;">
                     <input type="radio" value="Yes" [(ngModel)]="declarationsList[5].answer" (change)="assignQuestionId(5,3)" name="Purchase" style="-ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">Yes</label>
                   </div>
                 </div>

                 <div class="col-2">
                   <div style="display: flex; justify-content: center; margin-left:40px">
                    <input type="radio" value="No" [(ngModel)]="declarationsList[5].answer" (change)="assignQuestionId(5,3)" name="Purchase" style="width:80px; -ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">No</label>
                   </div>
                 </div>
                </div>
             </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-9" style="padding-left: 50px;">
              If YES, what is the amount of this money?
            </div>
            <div class="col-2 input-border-bottom">
              <div style="display: flex; align-items: center;width: 400px;">
                <span>$ </span>
                <input type="text" style="width: 200px;"  [(ngModel)]="declarationsList[6].answer" (change)="assignQuestionId(6,3)" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row div-sub-grp">
      <div class="col-12">
        <div class="frm-group">
          <div class="row">
            <div class="col-9"><b>D.</b>
              <b>1.</b> Have you or will you be applying for a mortgage loan on another property (not the property securing this loan) on <b>or</b>
              before closing this transaction that is not disclosed on this loan application?
            </div>
            <div class="col-3">
              <div class="frm-fld-input">
                <div class="row mt-2 ml-4">
                 <div class="col-2">
                   <div style="display: flex; justify-content: center;">
                     <input type="radio" name="Purchase"  value="yes" [(ngModel)]="declarationsList[7].answer" (change)="assignQuestionId(7,4)" style="-ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">Yes</label>
                   </div>
                 </div>

                 <div class="col-2">
                   <div style="display: flex; justify-content: center; margin-left:40px">
                    <input type="radio" name="Purchase" value="No" [(ngModel)]="declarationsList[7].answer" (change)="assignQuestionId(7,4)" style="width:80px; -ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">No</label>
                   </div>
                 </div>
                </div>
             </div>
            </div>
          </div>


          <div class="row">
            <div class="col-9"><b>B.</b>
              <b>2.</b> Have you or will you be applying for any new credit (e.g., installment loan, credit card, etc.) on or before closing this loan
that is not disclosed on this application?
            </div>
            <div class="col-3">
              <div class="frm-fld-input">
                <div class="row mt-2 ml-4">
                 <div class="col-2">
                   <div style="display: flex; justify-content: center;">
                     <input type="radio" name="Purchase"  value="Yes" [(ngModel)]="declarationsList[8].answer" (change)="assignQuestionId(8,2)" style="-ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">Yes</label>
                   </div>
                 </div>

                 <div class="col-2">
                   <div style="display: flex; justify-content: center; margin-left:40px">
                    <input type="radio" name="Purchase"  value="No" [(ngModel)]="declarationsList[8].answer" (change)="assignQuestionId(8,2)" style="width:80px; -ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">No</label>
                   </div>
                 </div>
                </div>
             </div>
            </div>
          </div>

        </div>
      </div>
    </div>





    <div class="row div-sub-grp">
      <div class="col-12">
        <div class="frm-group">
          <div class="row">
            <div class="col-9"><b>E.</b> Will this property be subject to a lien that could take priority over the first mortgage lien, such as a clean energy lien
              paid through your property taxes (e.g., the Property Assessed Clean Energy Program)?</div>
            <div class="col-3">
              <div class="frm-fld-input">
                <div class="row mt-2 ml-4">
                 <div class="col-2">
                   <div style="display: flex; justify-content: center;">
                     <input type="radio" name="Purchase" value="Yes" [(ngModel)]="declarationsList[9].answer" (change)="assignQuestionId(9,5)" style="-ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">Yes</label>
                   </div>
                 </div>

                 <div class="col-2">
                   <div style="display: flex; justify-content: center; margin-left:40px">
                    <input type="radio" name="Purchase" value="No" [(ngModel)]="declarationsList[9].answer" (change)="assignQuestionId(9,5)" style="width:80px; -ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">No</label>
                   </div>
                 </div>
                </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <h4>About Your </h4>


    <div class="row div-sub-grp">
      <div class="col-12">
        <div class="frm-group">
          <div class="row">
            <div class="col-9"><b>F.</b>Are you a co-signer or guarantor on any debt or loan that is not disclosed on this application?
            </div>
            <div class="col-3">
              <div class="frm-fld-input">
                <div class="row mt-2 ml-4">
                 <div class="col-2">
                   <div style="display: flex; justify-content: center;">
                     <input type="radio" name="Purchase" value="Yes" [(ngModel)]="declarationsList[10].answer" (change)="assignQuestionId(10,6)" style="-ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">Yes</label>
                   </div>
                 </div>

                 <div class="col-2">
                   <div style="display: flex; justify-content: center; margin-left:40px">
                    <input type="radio" name="Purchase" value="No" [(ngModel)]="declarationsList[10].answer" (change)="assignQuestionId(10,6)" style="width:80px; -ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">No</label>
                   </div>
                 </div>
                </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row div-sub-grp">
      <div class="col-12">
        <div class="frm-group">
          <div class="row">
            <div class="col-9"><b>G.</b> Are there any outstanding judgments against you?
            </div>
            <div class="col-3">
              <div class="frm-fld-input">
                <div class="row mt-2 ml-4">
                 <div class="col-2">
                   <div style="display: flex; justify-content: center;">
                     <input type="radio" name="Purchase" value="Yes" [(ngModel)]="declarationsList[11].answer" (change)="assignQuestionId(11,7)" style="-ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">Yes</label>
                   </div>
                 </div>

                 <div class="col-2">
                   <div style="display: flex; justify-content: center; margin-left:40px">
                    <input type="radio" name="Purchase" value="No" [(ngModel)]="declarationsList[11].answer" (change)="assignQuestionId(11,7)" style="width:80px; -ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">No</label>
                   </div>
                 </div>
                </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row div-sub-grp">
      <div class="col-12">
        <div class="frm-group">
          <div class="row">
            <div class="col-9"><b>H.</b> Are you currently delinquent or in default on a Federal debt?
            </div>
            <div class="col-3">
              <div class="frm-fld-input">
                <div class="row mt-2 ml-4">
                 <div class="col-2">
                   <div style="display: flex; justify-content: center;">
                     <input type="radio" name="Purchase" value="Yes" [(ngModel)]="declarationsList[12].answer" (change)="assignQuestionId(12,8)" style="-ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">Yes</label>
                   </div>
                 </div>

                 <div class="col-2">
                   <div style="display: flex; justify-content: center; margin-left:40px">
                    <input type="radio" name="Purchase" value="No" [(ngModel)]="declarationsList[12].answer" (change)="assignQuestionId(12,8)" style="width:80px; -ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">No</label>
                   </div>
                 </div>
                </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="row div-sub-grp">
      <div class="col-12">
        <div class="frm-group">
          <div class="row">
            <div class="col-9"><b>I.</b> Are you a party to a lawsuit in which you potentially have any personal financial liability?
            </div>
            <div class="col-3">
              <div class="frm-fld-input">
                <div class="row mt-2 ml-4">
                 <div class="col-2">
                   <div style="display: flex; justify-content: center;">
                     <input type="radio" value="Yes" [(ngModel)]="declarationsList[13].answer" (change)="assignQuestionId(13,9)" name="Purchase" style="-ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">Yes</label>
                   </div>
                 </div>

                 <div class="col-2">
                   <div style="display: flex; justify-content: center; margin-left:40px">
                    <input type="radio" value="No" [(ngModel)]="declarationsList[13].answer" (change)="assignQuestionId(13,9)" name="Purchase" style="width:80px; -ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">No</label>
                   </div>
                 </div>
                </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="row div-sub-grp">
      <div class="col-12">
        <div class="frm-group">
          <div class="row">
            <div class="col-9"><b>J.</b> Have you conveyed title to any property in lieu of foreclosure in the past 7 years?
            </div>
            <div class="col-3">
              <div class="frm-fld-input">
                <div class="row mt-2 ml-4">
                 <div class="col-2">
                   <div style="display: flex; justify-content: center;">
                     <input type="radio" value="Yes" [(ngModel)]="declarationsList[14].answer" (change)="assignQuestionId(14,10)" name="Purchase" style="-ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">Yes</label>
                   </div>
                 </div>

                 <div class="col-2">
                   <div style="display: flex; justify-content: center; margin-left:40px">
                    <input type="radio" value="No" [(ngModel)]="declarationsList[14].answer" (change)="assignQuestionId(14,10)" name="Purchase" style="width:80px; -ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">No</label>
                   </div>
                 </div>
                </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="row div-sub-grp">
      <div class="col-12">
        <div class="frm-group">
          <div class="row">
            <div class="col-9"><b>K.</b> Within the past 7 years, have you completed a pre-foreclosure sale or short sale, whereby the property was sold to a
              third party and the Lender agreed to accept less than the outstanding mortgage balance due?
            </div>
            <div class="col-3">
              <div class="frm-fld-input">
                <div class="row mt-2 ml-4">
                 <div class="col-2">
                   <div style="display: flex; justify-content: center;">
                     <input type="radio" value="Yes" [(ngModel)]="declarationsList[15].answer" (change)="assignQuestionId(15,11)" name="Purchase" style="-ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">Yes</label>
                   </div>
                 </div>

                 <div class="col-2">
                   <div style="display: flex; justify-content: center; margin-left:40px">
                    <input type="radio" value="No" [(ngModel)]="declarationsList[15].answer" (change)="assignQuestionId(15,11)" name="Purchase" style="width:80px; -ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">No</label>
                   </div>
                 </div>
                </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="row div-sub-grp">
      <div class="col-12">
        <div class="frm-group">
          <div class="row">
            <div class="col-9"><b>L.</b> Have you had property foreclosed upon in the last 7 years?
            </div>
            <div class="col-3">
              <div class="frm-fld-input">
                <div class="row mt-2 ml-4">
                 <div class="col-2">
                   <div style="display: flex; justify-content: center;">
                     <input type="radio" value="Yes" [(ngModel)]="declarationsList[16].answer" (change)="assignQuestionId(16,12)" name="Purchase" style="-ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">Yes</label>
                   </div>
                 </div>

                 <div class="col-2">
                   <div style="display: flex; justify-content: center; margin-left:40px">
                    <input type="radio" value="No" [(ngModel)]="declarationsList[16].answer" (change)="assignQuestionId(16,12)" name="Purchase" style="width:80px; -ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">No</label>
                   </div>
                 </div>
                </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="row div-sub-grp">
      <div class="col-12">
        <div class="frm-group">
          <div class="row">
            <div class="col-9"><b>M.</b> Have you declared bankruptcy within the past 7 years?
            </div>
            <div class="col-3">
              <div class="frm-fld-input">
                <div class="row mt-2 ml-4">
                 <div class="col-2">
                   <div style="display: flex; justify-content: center;">
                     <input type="radio" value="Yes" [(ngModel)]="declarationsList[17].answer" (change)="assignQuestionId(17,13)" name="Purchase" style="-ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">Yes</label>
                   </div>
                 </div>

                 <div class="col-2">
                   <div style="display: flex; justify-content: center; margin-left:40px">
                    <input type="radio" value="No" [(ngModel)]="declarationsList[17].answer" (change)="assignQuestionId(17,13)" name="Purchase" style="width:80px; -ms-transform: scale(1.5);  -webkit-transform: scale(1.5);  transform: scale(1.5);" />
                     <label class="text-gray ml-2" style="font-size: 18px;">No</label>
                   </div>
                 </div>
                </div>
             </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-4" style="padding-left: 50px;">
              If YES, identify the type(s) of bankruptcy:
            </div>
            <div class="col-8">
              <div class="frm-fld-input">
                <div class="row mt-2 ml-4">
                 <div class="col-2">
                   <div style="display: flex; justify-content: center;">
                     <input type="checkbox" name="Purchase" value="Chapter 7" [(ngModel)]="declarationsList[18].answer" (change)="assignQuestionId(18,13)" style="-ms-transform: scale(1);  -webkit-transform: scale(1);  transform: scale(1);" />
                     <label class="text-gray ml-1" style="font-size: 18px;">Chapter 7 </label>
                   </div>
                 </div>

                 <div class="col-2">
                   <div style="display: flex; justify-content: center; margin-left:40px">
                    <input type="checkbox" name="Purchase" value="Chapter 11" [(ngModel)]="declarationsList[18].answer" (change)="assignQuestionId(18,13)" style="width:80px; -ms-transform: scale(1);  -webkit-transform: scale(1);  transform: scale(1);" />
                     <label class="text-gray ml-1" style="font-size: 18px;">Chapter 11</label>
                   </div>
                 </div>

                 <div class="col-2">
                  <div style="display: flex; justify-content: center; margin-left:40px">
                   <input type="checkbox" name="Purchase" value="Chapter 12" [(ngModel)]="declarationsList[18].answer" (change)="assignQuestionId(18,13)" style="width:80px; -ms-transform: scale(1);  -webkit-transform: scale(1);  transform: scale(1);" />
                    <label class="text-gray ml-1" style="font-size: 18px;">Chapter 12</label>
                  </div>
                </div>


                <div class="col-2">
                  <div style="display: flex; justify-content: center; margin-left:40px">
                   <input type="checkbox" name="Purchase" value="Chapter 13" [(ngModel)]="declarationsList[18].answer" (change)="assignQuestionId(18,13)"  style="width:80px; -ms-transform: scale(1);  -webkit-transform: scale(1);  transform: scale(1);" />
                    <label class="text-gray ml-1" style="font-size: 18px;">Chapter 13</label>
                  </div>
                </div>


                </div>
             </div>
            </div>
          </div>

        </div>
      </div>
    </div>

</div>

  <div class="separator"></div>
  <div class="row borrower-block">
    <div class="col-sm-8">
      <div class="input-group">
        <div class="input-group-text">Borrower Name:</div>
        <input
          type="text"
          class="form-control"
          id="specificSizeInputGroupUsername"
        />
      </div>
    </div>
  </div>
  <div class="row text-right mt-5">
    <div class="col-sm-12">
      <button class="btn btn-fill" (click)="create()">NEXT</button>
    </div>
  </div>
</div>
