<div>
  <h4 class="section-title">Demographic Information of Borrower</h4>
  <div class="info-block">
    <p>This section asks about your ethnicity, sex, and race.</p>
  </div>
  <div class="my-3">
    <p>
      <b>The purpose of collecting this information</b> is to help ensure that
      all applicants are treated fairly and that the housing needs of
      communities and neighborhoods are being fulfilled. For residential
      mortgage lending, Federal law requires that we ask applicants for their
      demographic information (ethnicity, sex, and race) in order to monitor our
      compliance with equal credit opportunity, fair housing, and home mortgage
      disclosure laws. You are not required to provide this information, but are
      encouraged to do so. You may select one or more designations for
      "Ethnicity" and one or more designations for "Race." <b>The law provides that
      we may not discriminate</b> on the basis of this information, or on whether
      you choose to provide it. However, if you choose not to provide the
      information and you have made this application in person, Federal
      regulations require us to note your ethnicity, sex, and race on the basis
      of visual observation or surname. The law also provides that we may not
      discriminate on the basis of age or marital status information you provide
      in this application. If you do not wish to provide some or all of this
      information, please check below.
    </p>
  </div>
  <div class="form-block">
    <form>
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="demographic-info">
            <p><b>Ethnicity:</b> Check one or more</p>
            <div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="isHispanicOrLatino"
                  name="isHispanicOrLatino"
                  #isHispanicOrLatino="ngModel"
                  [(ngModel)]="demographicInfoModels.isHispanicOrLatino"
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Hispanic or Latino
                </label>
              </div>
            </div>
            <div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="isMexican"
                  name="isMexican"
                  #isMexican="ngModel"
                  [(ngModel)]="demographicInfoModels.isMexican"
                />
                <label class="form-check-label" for="inlineCheckbox1"
                  >Mexican</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="isPuertoRican"
                  name="isPuertoRican"
                  #isPuertoRican="ngModel"
                  [(ngModel)]="demographicInfoModels.isPuertoRican"
                />
                <label class="form-check-label" for="inlineCheckbox2"
                  >Puerto Rican</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="isCuban"
                  name="isCuban"
                  #isCuban="ngModel"
                  [(ngModel)]="demographicInfoModels.isCuban"
                  disabled
                />
                <label class="form-check-label" for="inlineCheckbox3"
                  >Cuban</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="isOtherHispanicOrLatino"
                  name="isOtherHispanicOrLatino"
                  #isOtherHispanicOrLatino="ngModel"
                  [(ngModel)]="demographicInfoModels.isOtherHispanicOrLatino"
                  disabled
                />
                <label class="form-check-label" for="inlineCheckbox3"
                  >Other Hispanic or Latino – Print origin:</label
                >
              </div>
              <div>
                <p>
                  For example: Argentinean, Colombian, Dominican, Nicaraguan,
                  Salvadoran, Spaniard, and so on.
                </p>
              </div>
            </div>
            <div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="isNotHispanicOrLatino"
                  name="isNotHispanicOrLatino"
                  #isNotHispanicOrLatino="ngModel"
                  [(ngModel)]="demographicInfoModels.isNotHispanicOrLatino"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Not Hispanic or Latino
                </label>
              </div>
            </div>
            <div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="canNotProvideEthnicInfo"
                  name="canNotProvideEthnicInfo"
                  #canNotProvideEthnicInfo="ngModel"
                  [(ngModel)]="demographicInfoModels.canNotProvideEthnicInfo"
                />
                <label class="form-check-label" for="defaultCheck1">
                  I do not wish to provide this information
                </label>
              </div>
            </div>
          </div>
          <div class="demographic-info">
            <p><b>Sex</b></p>
            <div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="isFemale"
                  name="isFemale"
                  #isFemale="ngModel"
                  [(ngModel)]="demographicInfoModels.isFemale"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Female
                </label>
              </div>
            </div>
            <div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="isMale"
                  name="isMale"
                  #isMale="ngModel"
                  [(ngModel)]="demographicInfoModels.isMale"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Male
                </label>
              </div>
            </div>
            <div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="canNotProvideSexInfo"
                  name="canNotProvideSexInfo"
                  #canNotProvideSexInfo="ngModel"
                  [(ngModel)]="demographicInfoModels.canNotProvideSexInfo"
                />
                <label class="form-check-label" for="defaultCheck1">
                  I do not wish to provide this information
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <p><b>Race:</b> Check one or more</p>
          <div style="border-bottom: 1px solid #000;">
            <div class="form-check">
              <input  class="form-check-input" type="checkbox" id="isAmericanIndianOrAlaskaNative"
              name="isAmericanIndianOrAlaskaNative"
              #isAmericanIndianOrAlaskaNative="ngModel"
              [(ngModel)]="demographicInfoModels.isAmericanIndianOrAlaskaNative" />
              <label class="form-check-label" for="defaultCheck1">American Indian or Alaska Native – Print name of enrolled</label>
            </div>
          </div>

          <div>
            <p>
              or principal tribe :
            </p>
          </div>

          <div>
            <div class="form-check">
              <input  class="form-check-input" type="checkbox"  id="isAsian"
              name="isAsian"
              #isAsian="ngModel"
              [(ngModel)]="demographicInfoModels.isAsian" />
              <label class="form-check-label" for="defaultCheck1">Asian</label>
            </div>
          </div>



          <div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="isAsianIndian"
              name="isAsianIndian"
              #isAsianIndian="ngModel"
              [(ngModel)]="demographicInfoModels.isAsianIndian"
              />
              <label class="form-check-label" for="inlineCheckbox1">Asian Indian</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="isChinese"
                name="isChinese"
                #isChinese="ngModel"
                [(ngModel)]="demographicInfoModels.isChinese" />
              <label class="form-check-label" for="inlineCheckbox2">Chinese</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="isFilipino"
                name="isFilipino"
                #isFilipino="ngModel"
                [(ngModel)]="demographicInfoModels.isFilipino"

              />
              <label class="form-check-label" for="inlineCheckbox3"
                >Filipino</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="isJapanese"
                name="isJapanese"
                #isJapanese="ngModel"
                [(ngModel)]="demographicInfoModels.isJapanese"

              />
              <label class="form-check-label" for="inlineCheckbox3"
                >Japanese</label
              >
            </div>


            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="isKorean"
                name="isKorean"
                #isKorean="ngModel"
                [(ngModel)]="demographicInfoModels.isKorean"

              />
              <label class="form-check-label" for="inlineCheckbox3">Korean</label>
            </div>


            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="isVietnamese"
                name="isVietnamese"
                #isVietnamese="ngModel"
                [(ngModel)]="demographicInfoModels.isVietnamese"
                />
              <label class="form-check-label" for="inlineCheckbox3">Vietnamese</label>
            </div>
            <div></div>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="isOtherAsian"
                name="isOtherAsian"
                #isOtherAsian="ngModel"
                [(ngModel)]="demographicInfoModels.isOtherAsian"
                />
              <label class="form-check-label" for="inlineCheckbox3">Other Asian</label>
            </div>

            <div class="form-check form-check-inline frm-fld-input">
                <label class="form-check-label" for="inlineCheckbox3"> Print race:</label>
                <input  type="text"    id="otherAsianRace"
                name="otherAsianRace"
                #otherAsianRace="ngModel"
                [(ngModel)]="demographicInfoModels.otherAsianRace" />
            </div>

            <div>
              <p>
                For example: Hmong, Laotian, Thai, Pakistani, Cambodian, and so on.
              </p>
            </div>
          </div>



            <!-- <div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Black or African American
                </label>
              </div>
            </div> -->


            <!-- <div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Native Hawaiian or Other Pacific Islander
                </label>
              </div>
            </div> -->



          <div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="isBlackOrAfricanAmerican"
                name="isBlackOrAfricanAmerican"
                #isBlackOrAfricanAmerican="ngModel"
                [(ngModel)]="demographicInfoModels.isBlackOrAfricanAmerican" />
              <label class="form-check-label" for="inlineCheckbox1">Black or African American </label>
            </div>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="isNativeHawaiianOrOtherPacificIslander"
                name="isNativeHawaiianOrOtherPacificIslander"
                #isNativeHawaiianOrOtherPacificIslander="ngModel"
                [(ngModel)]="demographicInfoModels.isNativeHawaiianOrOtherPacificIslander "/>
              <label class="form-check-label" for="inlineCheckbox1">Native Hawaiian or Other Pacific Islander</label>
            </div>

            <div></div>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="isOtherPacificIslander"
                name="isOtherPacificIslander"
                #isOtherPacificIslander="ngModel"
                [(ngModel)]="demographicInfoModels.isOtherPacificIslander "/>
              <label class="form-check-label" for="inlineCheckbox2">Other Pacific Islander</label>
            </div>



            <div class="form-check form-check-inline frm-fld-input">
                <label class="form-check-label" for="inlineCheckbox3"> Print race:</label>
                <input  type="text"   id="otherPacificIslanderRace"
                name="otherPacificIslanderRace"
                #otherPacificIslanderRace="ngModel"
                [(ngModel)]="demographicInfoModels.otherPacificIslanderRace "/>
            </div>


            <div>
              <p>
                For example: Hmong, Laotian, Thai, Pakistani, Cambodian, and so on.
              </p>
            </div>


            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="isWhite"
                name="isWhite"
                #isWhite="ngModel"
                [(ngModel)]="demographicInfoModels.isWhite" />
              <label class="form-check-label" for="inlineCheckbox3">White</label>
            </div><br>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="canNotProvideRaceInfo"
                name="canNotProvideRaceInfo"
                #canNotProvideRaceInfo="ngModel"
                [(ngModel)]="demographicInfoModels.canNotProvideRaceInfo"/>
              <label class="form-check-label" for="inlineCheckbox3">I do not wish to provide this information</label>
            </div>


            <div></div>


          </div>


        </div>
      </div>
    </form>
  </div>
  <div class="separator"></div>
  <div class="row borrower-block">
    <div class="col-sm-8">
      <div class="input-group">
        <div class="input-group-text">Borrower Name:</div>
        <input
          type="text"
          class="form-control"
          id="specificSizeInputGroupUsername"
        />
      </div>
    </div>
  </div>
  <div class="row text-right mt-5">
    <div class="col-sm-12">
      <button class="btn btn-fill" (click)="create()">Finish</button>
    </div>
  </div>
</div>
