<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5">
      Got it. Now what’s the remaining balance of your mortgage?
    </h2>
    <div class="col-lg-4">
      <i class="fa fa-angle-left" id="icon"></i>
      <p id="Back" (click)="proceedToPrevious()">Back</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="form-group mt-5">
          <form [formGroup]="form">
            <label
              class="text-uppercase text-left text-white"
              style="margin-right: 175px"
              >Property Value</label
            >
            <input
              class="form-control form-control-lg-next text-primary bg-white"
              id="Property"
              type="text"
              formControlName="remaining"
              placeholder="Remaining Balance"
              prefix="$"
              [(ngModel)]="formData.remainingBalalnce"
              mask="separator.2"
              thousandSeparator=","
              maxlength="18"
              [ngClass]="{ 'is-invalid': submitted && f.remaining.errors }"
            />
            <div
              *ngIf="submitted && f.remaining.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.remaining.errors.required">Enter Valid Amout.</div>
            </div>
          </form>
        </div>
        <button
          id="next"
          class="btn btn-secondary text-uppercase mt-3 text-white btn-next rounded-2"
          (click)="proceedToNext()"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
