.form-control {
  height: 65px;
  margin-top: 30px;
  width: 100%;
  font-size: 20px;
  height: 83px;
  padding-left: 25px;
  background-color: white !important;
  color: black !important;
}
.btn {
  width: 100%;
}

#Family {
  background-color: #f47741;
  text-decoration-color: white;
}
#back {
  margin-top: 196px;
  margin-right: 350px;
  margin-left: 23px;
  font-size: 20px;
  cursor: pointer;
}

#num {
  color: #0cc4d4 !important;
}
#Email {
  color: #0cc4d4 !important;
}
.gage-chart {
  margin-top: 50px !important;
}
.selected {
  background-color: #f47741;
}
.dollar_sign {
  position: absolute;
  margin-top: 30px;
  margin-left: -157px;
  color: white;
  font-size: 20px;
}
.invalid-feedback {
  padding: 5px;
}
button.btn:hover {
  background-color: #f47741;
}
