<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="">What is the estimated purchase price?</h2>
    <p>
      just an estimate is fine.You can update the amount later in the process.
    </p>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="back" class="fa fa-angle-left" (click)="proceedToPrevious()">
          <span style="margin-left: 10px">Back</span>
        </p>
      </div>
      <div class="col-lg-4 px-0 pt-0">
        <div class="btn px-0">
          <br /><br />
          <form [formGroup]="form">
            <!-- <span class="dollar_sign">$</span> -->
            <!-- <select class="form-control input-special mb-3" name="" id="">
              <option>$300,000</option>
            </select> -->
            <input
              #input
              type="text"
              required
              class="form-control input-special mb-3"
              [(ngModel)]="formData.purchasePrice"
              formControlName="amount"
              [ngClass]="{ 'is-invalid': submitted && f.amount.errors }"
              placeholder="Purchase price?"
              prefix="$ "
              mask="separator.2"
              thousandSeparator=","
              maxlength="18"
            />
            <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
              <div *ngIf="f.amount.errors.required">Enter Valid Amount</div>
            </div>
          </form>

          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext()"
          >
            Next
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart">
      <span>32%</span>
    </div>
  </div>
</div>
