<div class="main-content" *ngIf="number == 1">
  <h2 class="little-space">
    The U.S Government requires us to ask these questions.
  </h2>
  <div class="content-area">
    <div class="row">
      <div class="col-md-10">
        <!-- <form action="" id="gov-details"> -->
        <h6>What is your sex?</h6>
        <div class="radio-input-gov">
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                value="male"
                name="sex"
                class="form-style"
                placeholder=""
                [(ngModel)]="model.sex"
              />
              <p>Male</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                value="female"
                name="sex"
                class="form-style"
                placeholder=""
              />
              <p>Female</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                value="other"
                name="sex"
                class="form-style"
                placeholder=""
              />
              <p>I do not wish to provide this information</p>
            </div>
          </div>
        </div>
        <h6>What is your ethnicity? (Check one or more)</h6>
        <div class="radio-input-gov">
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                value="No Hispanic or Latino"
                [(ngModel)]="model.ethnicity"
                name="ethnicity"
                class="form-style"
                placeholder=""
              />
              <p>No Hispanic or Latino</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                value="Hispanic or Latino"
                [(ngModel)]="model.ethnicity"
                name="ethnicity"
                class="form-style"
                placeholder=""
              />
              <p>Hispanic or Latino</p>
            </div>
          </div>
        </div>
        <div class="radio-input-gov-right">
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                value="Maxican"
                [(ngModel)]="model.ethnicity"
                name="ethnicity"
                class="form-style"
                placeholder=""
              />
              <p>Maxican</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                value="Maxican"
                [(ngModel)]="model.ethnicity"
                name="ethnicity"
                class="form-style"
                placeholder=""
              />
              <p>Maxican</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                value="Puerto Rican"
                [(ngModel)]="model.ethnicity"
                name="ethnicity"
                class="form-style"
                placeholder=""
              />
              <p>Puerto Rican</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                value="Cuban"
                [(ngModel)]="model.ethnicity"
                name="ethnicity"
                class="form-style"
                placeholder=""
              />
              <p>Cuban</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                value="Other Hispanic or Latino"
                [(ngModel)]="model.ethnicity"
                name="ethnicity"
                class="form-style"
                placeholder=""
              />
              <p>Other Hispanic or Latino</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-11">
              <input
                type="text"
                class="form-style form-control"
                placeholder="Enter Other Hispanic or Latino (Optional)"
                value=""
                name="ethnicity"
                [(ngModel)]="model.ethnicity"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                [(ngModel)]="model.ethnicity"
                placeholder=""
                value="I do not wish to provide this information"
                name="ethnicity"
              />
              <p>I do not wish to provide this information</p>
            </div>
          </div>
        </div>
        <h6>What is your race? (Check one or more)</h6>
        <div class="radio-input-gov">
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                placeholder=""
                [(ngModel)]="model.race"
                value="American Indian or Alaska Native"
                name="race"
              />
              <p>American Indian or Alaska Native</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <input
                type="text"
                class="form-style form-control"
                placeholder="Enter Other Hispanic or Latino (Optional)"
                [(ngModel)]="model.race"
                value=""
                name="race"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                placeholder=""
                value="Asian"
                name="race"
                [(ngModel)]="model.race"
              />
              <p>Asian</p>
            </div>
          </div>
        </div>
        <div class="radio-input-gov-right">
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                placeholder=""
                value="Asian Indian"
                name="race"
                [(ngModel)]="model.race"
              />
              <p>Asian Indian</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                placeholder=""
                value="Chinese"
                name="race"
                [(ngModel)]="model.race"
              />
              <p>Chinese</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                placeholder=""
                value="Filipino"
                name="ethnicity"
                [(ngModel)]="model.race"
              />
              <p>Filipino</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                placeholder=""
                value="Japanese"
                name="race"
                [(ngModel)]="model.race"
              />
              <p>Japanese</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                placeholder=""
                value="Korean"
                name="race"
                [(ngModel)]="model.race"
              />
              <p>Korean</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                placeholder=""
                value="Vietnamese"
                name="race"
                [(ngModel)]="model.race"
              />
              <p>Vietnamese</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                placeholder=""
                value="Other Asian"
                name="race"
                [(ngModel)]="model.race"
              />
              <p>Other Asian</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-11">
              <input
                type="text"
                class="form-style form-control"
                placeholder="Enter Other Hispanic or Latino (Optional)"
                value=""
                name="race"
                [(ngModel)]="model.race"
              />
            </div>
          </div>
        </div>
        <div class="radio-input-gov">
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                placeholder=""
                value="Native Hawalian or Other Pacific Islander"
                name="race"
                [(ngModel)]="model.race"
              />
              <p>Native Hawalian or Other Pacific Islander</p>
            </div>
          </div>
        </div>
        <div class="radio-input-gov-right">
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                placeholder=""
                value="Native Hawalian"
                name="race"
                [(ngModel)]="model.race"
              />
              <p>Native Hawalian</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                placeholder=""
                value="Guamanian or Chamorro"
                name="race"
                [(ngModel)]="model.race"
              />
              <p>Guamanian or Chamorro</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                placeholder=""
                value="Samoan"
                name="race"
                [(ngModel)]="model.race"
              />
              <p>Samoan</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                placeholder=""
                value="Other Pacific Islander"
                name="race"
                [(ngModel)]="model.race"
              />
              <p>Other Pacific Islander</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-11">
              <input
                type="text"
                class="form-style form-control"
                placeholder="Enter Other Hispanic or Latino (Optional)"
                value=""
                name="race"
                [(ngModel)]="model.race"
              />
            </div>
          </div>
        </div>
        <div class="radio-input-gov">
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                placeholder=""
                value="Native Hawalian or Other Pacific Islander"
                name="race"
                [(ngModel)]="model.race"
              />
              <p>Native Hawalian or Other Pacific Islander</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                placeholder=""
                value="White"
                name="race"
                [(ngModel)]="model.race"
              />
              <p>White</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input
                type="radio"
                class="form-style"
                placeholder=""
                value="I do not wish to Provide this Information"
                name="race"
                [(ngModel)]="model.race"
              />
              <p>I do not wish to Provide this Information</p>
            </div>
          </div>
        </div>
        <p class="terms">
          <span>The purpose of collecting this information</span> is to help
          ensure that all applicants are treated fairly and that the housing
          needs of communities and neighborhoods are being fulfilled. For
          residential mortgage lending, Federal law requires that we ask
          applicants for their demographic information (ethnicity, sex, and
          race) in order to monitor our compliance with equal credit
          opportunity, fair housing, and home mortgage disclosure laws. You are
          not required to provide this information, but are encouraged to do so.
          You may select one or more designations for <br />
          "Ethnicity" and one or more designations for "Race."
          <span>The law provides that we may not discriminate</span> on the
          basis of this information, or on whether you choose to provide it.
          However, if you choose not to provide the information and you have
          made this application in person, Federal regulations require us to
          note your ethnicity, sex, and race on the basis of visual observation
          or surname. The law also provides that we may not discriminate on the
          basis of age or marital status information you provide in this
          application. If you do not wish to provide some or all of this
          information, please check below.
        </p>
        <!-- </form> -->
      </div>
    </div>
  </div>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <a (click)="history.back()" class="btn" id="btn-back-blue">Back</a>
      </div>
      <div class="col-md-2">
        <a class="btn" id="btn-next-blue" (click)="abc()">Next</a>
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>

<div class="main-content" *ngIf="number == 2">
  <h2>Almost done! Just a few yes or no questions</h2>
  <div class="yes-no-area" *ngFor="let x of questions">
    <div class="row">
      <div class="col-md-9">
        <div class="questions">
          <p>{{ x.question }}?</p>
        </div>
      </div>
      <div class="col-md-3 right-align">
        <div class="answers">
          <button
            type="button"
            class="btn"
            id="btn-yes-no"
            (click)="x.isYes = true; onQAns(x.id, true)"
            [ngClass]="{ 'yes-no-active': x.isYes == true }"
          >
            Yes
          </button>
          <button
            type="button"
            class="btn"
            id="btn-yes-no"
            (click)="x.isYes = false; onQAns(x.id, false)"
            [ngClass]="{ 'yes-no-active': x.isYes == false }"
          >
            No
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <select class="form-select form-style" [(ngModel)]="model.citizenshipId">
        <option value="0">-What is your citizenship status?-</option>
        <option [value]="c.id" *ngFor="let c of cs">
          {{ c?.citizenshipType1 }}
        </option>
      </select>
    </div>
  </div>
  <div *ngIf="submitted" class="text-danger d-flex justify-content-center">
    Please answer all the questions
  </div>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <a routerLink="/app/refinance/gov/1" class="btn" id="btn-back-blue"
          >Back</a
        >
      </div>
      <div class="col-md-2">
        <a
          class="btn"
          id="btn-next-blue"
          (click)="abc('/app/refinance/credit-score/1')"
          >Next</a
        >
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
