<div class="Content-Step-Body text-white">
  <div class="container">
    <h2>And what’s the zip?</h2>
    <div class="col-lg-4 pl-4">
      <i class="fa fa-angle-left" id="icon"></i>
      <p id="Back" (click)="proceedToPrevious()">Back</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <form [formGroup]="form">
          <div class="form-group mt-5">
            <input
              class="text-primary bg-white text-center font-weight-bold rounded-2"
              id="zip"
              type="text"
              placeholder="ZIP Code"
              [(ngModel)]="formData.zipCode"
              formControlName="zipCode"
              [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }"
            />
            <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
              <div *ngIf="f.zipCode.errors.required">Enter Valid Zip Code.</div>
            </div>
          </div>
        </form>
        <button
          id="next"
          class="btn btn-secondary text-uppercase mt-3 text-white btn-next rounded-2"
          (click)="proceedToNext()"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
