<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5">OK, so what’s the estimated property value?</h2>
    <div class="col-lg-4">
      <i class="fa fa-angle-left" id="icon"></i>
      <p id="Back" (click)="proceedToPrevious()">Back</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="form-group mt-5">
          <label
            class="text-uppercase text-left text-white"
            style="margin-right: 175px"
            >Property Value</label
          >
          <input
            value="$500,000"
            class="form-control form-control-lg-next text-primary bg-white"
            id="Property"
            type="text"
          />
        </div>
        <button
          id="next"
          class="btn btn-secondary text-uppercase mt-3 text-white btn-next rounded-2"
          (click)="proceedToNext()"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
