<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="">Are you currently employed?</h2>

    <div class="row justify-content-center pt-5">
      <div class="col-lg-4">
        <p id="back" class="fa fa-angle-left" (click)="proceedToPrevious()">
          <span style="margin-left: 10px">Back</span>
        </p>
      </div>
      <div class="col-lg-4 px-0 pt-0">
        <div class="btn px-0">
          <br /><br />
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3 selected2"
            (click)="proceedToNext('Emlpoyed')"
            [class.selected]="formData.currentEmployed == 'Emlpoyed'"
          >
            Emlpoyed
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext('Self-Employed')"
            [class.selected]="formData.currentEmployed == 'Self-Employed'"
          >
            Self-Employed
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext('Other')"
            [class.selected]="formData.currentEmployed == 'Other'"
          >
            Other
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart">
      <span>42%</span>
    </div>
  </div>
</div>
