<app-refinance-animated-header></app-refinance-animated-header>
<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5">Tell us her or his name. Or not.</h2>
    <div class="col-lg-4">
      <i class="fa fa-angle-left" id="icon"></i>
      <p id="Back" (click)="proceedToPrevious()">Back</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="form-group mt-5">
          <label
            class="text-uppercase text-left text-white"
            style="margin-right: 186px"
            >Officer Name</label
          >
          <input
            class="form-control form-control-lg-next text-primary bg-white font-weight-bolder"
            id="Brine"
            type="text"
            placeholder="Brine"
          />
        </div>
        <!-- <a
          href=""
          class="btn btn-secondary text-uppercase mt-4 text-white btn-next"
          id="next"
          >Next</a
        > -->
      </div>
    </div>
    <div>
      <p id="button" class="box-fill" (click)="proceedToNext()">
        SKIP THIS STEP
      </p>
    </div>

    <app-refinance-animated-header></app-refinance-animated-header>
  </div>
</div>
