#next {
  width: 239px;
  height: 56px !important;
}

#step,
input {
  width: 362px;
  height: 56px !important;
}

#Back {
  position: relative;
  top: 182px;
  right: 196px;
  cursor: pointer;
}
#icon {
  font-size: 26px;
  position: relative;
  top: 209px;
  right: 230px;
}
