<app-refinance-animated-header></app-refinance-animated-header>
<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5">Tell us her or his name. Or not.</h2>
    <p>Have a Loan Expert get in touch so we can work something out.</p>
    <div class="col-lg-4">
      <i class="fa fa-angle-left" id="icon"></i>
      <p id="Back" (click)="proceedToPrevious()">Back</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="form-group mt-5">
          <input
            class="form-control form-control-lg-next text-primary bg-white font-weight-bolder mt-3"
            id="step"
            type="text"
            placeholder="First name"
          />

          <input
            class="form-control form-control-lg-next text-primary bg-white font-weight-bolder mt-3"
            id="step"
            type="text"
            placeholder="Last name"
          />
          <input
            class="form-control form-control-lg-next text-primary bg-white font-weight-bolder mt-3"
            id="step"
            type="text"
            placeholder="Phone number"
          />
          <input
            class="form-control form-control-lg-next text-primary bg-white font-weight-bolder mt-3"
            id="step"
            type="text"
            placeholder="Email"
          />
        </div>
        <a
          href=""
          class="btn btn-secondary text-uppercase mt-4 text-white btn-next"
          id="next"
          >LET’S TALK</a
        >
      </div>
    </div>
    <app-refinance-animated-header></app-refinance-animated-header>
  </div>
</div>
