<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5">What state is the property located in?</h2>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="Back">
          <i class="fa fa-angle-left" style="font-size: 25px"></i>Back
        </p>
      </div>
      <div class="col-lg-4">
        <div class="BTN">
          <select class="form-control input-special mb-3 mt-8" name="" id="">
            <option>Albama</option>
            <option>Albama</option>
          </select>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext()"
          >
            Next
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart p6 mt-5">
      <span>6%</span>
    </div>
  </div>
</div>
