<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5">Any bankruptcy in the past 3 years?</h2>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="Back">
          <i class="fa fa-angle-left" style="font-size: 25px"></i>Back
        </p>
      </div>
      <div class="col-lg-4">
        <div class="BTN">
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mt-8"
            id="Family"
          >
            Yes
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3 mt-3"
          >
            No
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart p58 mt-5">
      <span>58%</span>
    </div>
  </div>
</div>
