<!-- This Div Is For Default Color -->
<div class="bg-light">
  <!-- BEST CALIFORNIA HOME LOANS SECTION START -->

  <home-main-carousel></home-main-carousel>

  <!-- BEST CALIFORNIA HOME LOANS SECTION END -->

  <!-- FOUR CARD SECTION START -->

  <div class="container pr-0 pl-4">
    <div class="row">
      <div class="col" style="top: -64px">
        <div
          class="card m-o"
          style="
            z-index: 3;
            top: 0rem;
            box-shadow: 0px 3px 6px #091a5214;
            border-radius: 4px;
          "
        >
          <div
            class="card-header border-0"
            style="background: #ffffff 0% 0% no-repeat padding-box"
          >
            <img class="img-fluid" src="assets/img/real-estate.svg" alt="" />
          </div>
          <div class="card-body text-dark-blue">
            <h5 class="font-weight-bold">Buying A home Guide</h5>
            <p style="font-size: 14px">
              Observe our step by step guide to study how to buy a home.
            </p>
            <p style="font-size: 14px; text-transform: uppercase">
              Review The Home Guide
              <i class="fas fa-long-arrow-alt-right"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col" style="top: -64px">
        <div
          class="card m-o"
          style="
            z-index: 3;
            top: 0rem;
            box-shadow: 0px 3px 6px #091a5214;
            border-radius: 4px;
          "
        >
          <div
            class="card-header border-0"
            style="background: #ffffff 0% 0% no-repeat padding-box"
          >
            <img class="img-fluid" src="assets/img/wallet.svg" alt="" />
          </div>
          <div class="card-body text-dark-blue">
            <h5 class="font-weight-bold">Refinance Guide</h5>
            <p style="font-size: 14px">
              Save money and equity by learning about refinancing.
            </p>
            <p style="font-size: 14px; text-transform: uppercase">
              VIEW current Mortgage
              <i class="fas fa-long-arrow-alt-right"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col" style="top: -64px">
        <div
          class="card m-o"
          style="
            z-index: 3;
            top: 0rem;
            box-shadow: 0px 3px 6px #091a5214;
            border-radius: 4px;
          "
        >
          <div
            class="card-header border-0"
            style="background: #ffffff 0% 0% no-repeat padding-box"
          >
            <img class="img-fluid" src="assets/img/graph.svg" alt="" />
          </div>
          <div class="card-body text-dark-blue">
            <h5 class="font-weight-bold">Current Mortgage Rate</h5>
            <p style="font-size: 14px">
              Review current mortgage rates for a option of home loans.
            </p>
            <p style="font-size: 14px; text-transform: uppercase">
              VIEW current Mortgage
              <i class="fas fa-long-arrow-alt-right"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col" style="top: -64px">
        <div
          class="card m-o"
          style="
            z-index: 3;
            top: 0rem;
            box-shadow: 0px 3px 6px #091a5214;
            border-radius: 4px;
          "
        >
          <div
            class="card-header border-0"
            style="background: #ffffff 0% 0% no-repeat padding-box"
          >
            <img class="img-fluid" src="assets/img/calculator (1).svg" alt="" />
          </div>
          <div class="card-body text-dark-blue">
            <h5 class="font-weight-bold">Mortgage Calculators</h5>
            <p style="font-size: 14px">
              Calculate your monthly mortgage payment using current rates.
            </p>
            <p style="font-size: 14px; text-transform: uppercase">
              Calculate your Payment
              <i class="fas fa-long-arrow-alt-right"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FOUR CARD SECTION END -->

  <!-- KNOW ABOUT FEATURED MORTGAGE OPTION SECTION START -->

  <div class="bg-light pl-3 mb-5">
    <div class="container bg-light" style="margin-top: -3rem">
      <div class="row p-0 m-0">
        <div class="col p-0">
          <div class="text-left mt-5 mb-3">
            <p class="text-orange font-weight-bold know">Know About</p>
            <h4
              class="text-dark-blue font-weight-bold"
              style="letter-spacing: 1.5px; word-spacing: 1px"
            >
              Featured Mortgage Options
            </h4>
            <div class="text-right">
              <button
                type="submit"
                class="btn text-center text-white btn p-0"
                style="
                  width: 34px;
                  height: 34px;
                  background: #091a52 0% 0% no-repeat padding-box;
                  box-shadow: 0px 3px 6px #00000029;
                  border-radius: 4px;
                  opacity: 1;
                "
              >
                &lt;
              </button>
              <button
                type="submit"
                class="btn text-center text-white btn ml-3 p-0"
                style="
                  width: 34px;
                  height: 34px;
                  background: #091a52 0% 0% no-repeat padding-box;
                  box-shadow: 0px 3px 6px #00000029;
                  border-radius: 4px;
                  opacity: 1;
                "
              >
                &gt;
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-0 m-0">
        <div
          class="col-4 img-fluid"
          style="padding: unset; background-size: 100% 100%"
          [ngStyle]="featuredMortgageImage"
        >
          <div
            class="img-fluid"
            style="
              background: #091a52 0% 0% no-repeat padding-box;
              opacity: 0.8;
              margin-top: 27rem;
              background-size: 100%;
              padding: unset;
            "
          >
            <div
              class="col-11"
              style="margin: 0px 0px 0px 5px; padding: 30px; display: block"
            >
              <p class="font-weight-bold ml-3 text-white">
                {{ getANoHassleLoan }}
              </p>
              <h5 class="font-weight-bold ml-3 text-white">
                {{ fastClosing }}
              </h5>
              <p class="font-weight-bold ml-3 text-white">
                {{ takeAdvantage }}
              </p>
              <a class="font-weight-bold ml-3 text-orange">
                Read More
                <i class="text-orange fas fa-long-arrow-alt-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div
          class="col-8 img-fluid"
          style="padding-left: 18px; padding-right: 0px"
          [ngStyle]="featuredMortgageImage1"
        >
          <div
            class="img-fluid"
            style="
              background: #f47741 0% 0% no-repeat padding-box;
              opacity: 0.8;
              background-size: 100%;
              margin-top: 10.4rem;
              padding: unset;
            "
          >
            <div class="row">
              <div class="col-6" style="padding: 20px">
                <h5 class="font-weight-bold ml-3 text-white">
                  {{ conventionalJomboRate }}
                </h5>
                <p class="text-white ml-3">
                  {{ saveCash }}
                </p>
                <a class="font-weight-bold ml-3 text-dark-blue-3">
                  Read More
                  <i class="text-dark-blue-3 fas fa-long-arrow-alt-right"></i>
                </a>
              </div>
              <div class="col-5">
                <h5
                  class="font-weight-bold text-white"
                  style="margin-top: 63px"
                >
                  {{ getANoHassleLoan1 }}
                </h5>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 1rem !important">
            <div
              class="col-6"
              *ngFor="let featuredMortgageImage of featuredMortgageImages"
            >
              <img
                class="img-fluid"
                [src]="featuredMortgageImage.image"
                alt=""
              />
              <h5 class="font-weight-bold ml-3 text-dark-blue mt-3">
                {{ featuredMortgageImage.caption }}
              </h5>
              <p class="font-weight-bold ml-3 text-grey">
                {{ featuredMortgageImage.para }}
              </p>
              <p class="font-weight-bold ml-3 text-orange">
                Read More
                <i class="text-orange fas fa-long-arrow-alt-right"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- KNOW ABOUT FEATURED MORTGAGE OPTION SECTION END -->

  <!-- KNOW ABOUT YOUR INDEPENDENT SECTION START -->
  <div class="bg-white">
    <div
      class="container-fluid bg-white text-right"
      style="float: right; padding-left: 53rem"
    >
      <div class="row p-0 m-0">
        <div class="col text-right mb-2">
          <img class="img-fluid mr-2" src="assets/img/Untitled-1.svg" alt="" />
          <img class="img-fluid mr-2" src="assets/img/Untitled-1.svg" alt="" />
        </div>
      </div>
      <div class="row p-0 m-0">
        <div class="col text-right mb-2">
          <img class="img-fluid mr-2" src="assets/img/Untitled-1.svg" alt="" />
          <img class="img-fluid mr-2" src="assets/img/Untitled-1.svg" alt="" />
        </div>
      </div>
    </div>

    <div
      class="container"
      style="position: relative; top: -6rem; margin-top: 6rem"
    >
      <div class="row p-0">
        <p
          style="
            writing-mode: vertical-rl;
            color: #091a52;
            font-size: 13px;
            opacity: 1;
            margin-left: -33px;
            margin-top: 155px;
            text-transform: uppercase;
            letter-spacing: 2px;
          "
        >
          get to know us <i class="fas fa-long-arrow-alt-down"></i>
        </p>
        <div class="col-4 pl-4 img-fluid" style="z-index: 3; top: -4rem">
          <img
            [src]="youIndenentVideo"
            alt=""
            style="
              background: #091a52 0% 0% no-repeat padding-box;
              border-radius: 4px;
            "
          />
        </div>
        <div
          class="col-8 bg-dark-blue"
          style="
            border: 1px solid #707070;
            border-radius: 4px;
            left: -6px;
            z-index: 2;
          "
        >
          <div class="row bg-dark-blue">
            <div class="col-6 bg-dark-blue"></div>

            <div class="col-6 bg-dark-blue">
              <p class="text-orange font-weight-bold mt-5">Know About</p>
              <h3
                class="text-white font-weight-bold mt-4"
                style="line-height: 1.7; letter-spacing: 1px"
              >
                YOUR INDEPENDENT MORTGAGE BROKER IN CALIFORNIA
              </h3>
              <p class="text-white mt-4">
                To make sure all borrowers get the best mortgage rate and loan
                program with excellent customer service and satisfaction.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- KNOW ABOUT YOUR INDEPENDENT SECTION START -->

  <!-- KNOW ABOUT TIPS SECTION START -->

  <div class="bg-light-grey">
    <div class="row justify-content-center p-0 m-0">
      <div class="col">
        <div class="text-center mb-3">
          <p class="text-orange font-weight-bold know">Know About</p>
          <h4
            class="text-dark-blue font-weight-bold text-wrap mt-4 mb-5"
            style="letter-spacing: 1.5px; word-spacing: 1px; width: 83rem"
          >
            {{ tips }}
          </h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center p-0 m-0">
        <div class="col-6">
          <div class="text-white bg-dark-blue content">
            <img class="img-fluid pic1" src="assets/img/mortgage.svg" alt="" />
            <h5 class="font-weight-bold d-inline">
              {{ howToApplyLoan }}
            </h5>
          </div>
          <div
            class="mt-6 ml-5"
            *ngFor="let calculateLoanRate of calculateLoanRates"
          >
            <span class="d-inline-block bg-orange" style="width: 7%">
              <img [src]="calculateLoanRate.image" />
            </span>

            <h5 class="font-weight-bold d-inline ml-3 text-dark-blue">
              {{ calculateLoanRate.name }}
            </h5>
          </div>
        </div>
        <div class="col-6 pl-4">
          <div>
            <img [src]="tipsSectionImage" alt="finance" />
          </div>
          <div
            class="card"
            style="
              z-index: 3;
              top: -5rem;
              box-shadow: 0px 3px 6px #091a5214;
              border-radius: 4px;
              left: 4rem;
            "
          >
            <div
              class="card-header border-0"
              style="background: #ffffff 0% 0% no-repeat padding-box"
            >
              <h5
                class="text-dark-blue font-weight-bold mt-3"
                style="padding-left: 18px"
              >
                Work With A High-Tech Mortgage Loan Broker
              </h5>
            </div>
            <div class="card-body">
              <div
                class="row p-0 m-0"
                *ngFor="let workWithLoanBroker of workWithLoanBrokers"
              >
                <div class="col-1">
                  <img src="assets/img/foursquare-check-in.svg" alt="" />
                </div>
                <div class="col-11">
                  <p>
                    {{ workWithLoanBroker }}
                  </p>
                </div>
              </div>
              <div class="mt-3">
                <button
                  type="button"
                  class="btn btn-orange text-white btn"
                  style="margin-left: 3.4rem"
                >
                  APPLY NOW
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- KNOW ABOUT TIPS SECTION END -->

  <!-- TESTIMONIALS SECTION START -->

  <home-testmionals> </home-testmionals>

  <!-- TESTIMONIALS SECTION END -->

  <!-- KNOW ABOUT MORTGAGE RATA SECTION START -->

  <div class="bg-white">
    <div class="container bg-white">
      <div class="row justify-content-center p-0 m-0">
        <div class="col-9">
          <div class="card border-0 shadow-none">
            <div class="card-header border-0 bg-white text-center">
              <p class="text-orange font-weight-bold know mt-5">Know About</p>
              <h4
                class="text-dark-blue font-weight-bold"
                style="letter-spacing: 1.5px; word-spacing: 1px"
              >
                Mortgage Rate updates, Featured Mortgage
              </h4>
              <h4
                class="text-dark-blue font-weight-bold mt-1"
                style="letter-spacing: 1.5px; word-spacing: 1px"
              >
                Options or Request A Call Back Today
              </h4>
            </div>
            <div class="card-body p-4">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="firstName" class="label font-weight-bold"
                      >First Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="firstName"
                      id="firstName"
                      [(ngModel)]="firstName"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="text" class="label font-weight-bold"
                      >Last Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="lastName"
                      id="lastName"
                      [(ngModel)]="lastName"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="Email" class="label font-weight-bold"
                      >Email Address</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      [(ngModel)]="email"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="phoneNumber" class="label font-weight-bold"
                      >Phone Number</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="phoneNumber"
                      id="phoneNumber"
                      [(ngModel)]="phoneNumber"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="mortgagePurpose" class="label font-weight-bold"
                      >Mortgage Purposes</label
                    >
                    <select
                      style="border: 1px solid #545454; border-radius: 6px"
                      class="form-control label font-weight-bold"
                      name="mortgagePurpose"
                      id="mortgagePurpose"
                    >
                      <option selected="selected" disabled="disabled"></option>
                      <option
                        class="label"
                        [ngValue]="mortgagePurpose.id"
                        *ngFor="let mortgagePurpose of mortgagePurposes"
                      >
                        {{ mortgagePurpose.name }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label
                      for="howDoYouWantToBorrow"
                      class="label font-weight-bold"
                      >How do you want to borrow</label
                    >
                    <select
                      style="border: 1px solid #545454; border-radius: 6px"
                      class="form-control label font-weight-bold"
                      name="howDoYouWantToBorrow"
                      id="howDoYouWantToBorrow"
                    >
                      <option selected="selected" disabled="disabled"></option>
                      <option
                        class="label"
                        [ngValue]="howDoYouWantToBorrow.id"
                        *ngFor="
                          let howDoYouWantToBorrow of howDoYouWantToBorrows
                        "
                      >
                        {{ howDoYouWantToBorrow.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <p class="para">
                  By completing this form, I agree that EZ Online Mortgage may
                  contact me at the phone number provided via telephone, maybe
                  prerecoreded message, artifical voice, and/or text message. I
                  understand that I do not Have to consent to receive such calls
                  or text messages in order to purchase goods or services from
                  EZ Online mortgage.
                </p>
                <div class="text-center">
                  <button
                    type="submit"
                    class="btn btn-orange text-center text-white btn"
                  >
                    SUBMIT
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-white">
      <div class="row p-0 m-0">
        <div class="col-3 text-left mb-2">
          <img class="img-fluid mr-2" src="assets/img/Untitled-1.svg" alt="" />
          <img class="img-fluid mr-2" src="assets/img/Untitled-1.svg" alt="" />
          <!-- <img class="img-fluid" src="assets/img/Untitled-1.svg" alt="" /> -->
        </div>
      </div>
      <div class="row p-0 m-0">
        <div class="col-3 text-left mb-2">
          <img class="img-fluid mr-2" src="assets/img/Untitled-1.svg" alt="" />
          <img class="img-fluid mr-2" src="assets/img/Untitled-1.svg" alt="" />
          <!-- <img class="img-fluid" src="assets/img/Untitled-1.svg" alt="" /> -->
        </div>
      </div>
    </div>
  </div>

  <!-- KNOW ABOUT MORTGAGE RATA SECTION END -->
</div>
