<!-- <div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "HomePage" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>8.2k+</h3>
              <p>Stargazers</p>
            </div>
            <div class="icon">
              <i class="fas fa-star"></i>
            </div>
            <a
              href="https://github.com/aspnetboilerplate/aspnetboilerplate/stargazers"
              class="small-box-footer"
              target="_blank"
            >
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>140+</h3>
              <p>Contributors</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <a
              href="https://github.com/aspnetboilerplate/aspnetboilerplate/graphs/contributors"
              class="small-box-footer"
              target="_blank"
            >
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>1.6k+</h3>
              <p>Used / Dependents</p>
            </div>
            <div class="icon">
              <i class="fas fa-tools"></i>
            </div>
            <a
              href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/dependents"
              class="small-box-footer"
              target="_blank"
            >
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>3.1k+</h3>
              <p>Forks</p>
            </div>
            <div class="icon">
              <i class="fas fa-code"></i>
            </div>
            <a
              href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
              class="small-box-footer"
              target="_blank"
            >
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-primary elevation-1">
              <i class="fas fa-plus-circle"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Commits</span>
              <span class="info-box-number"> 6,350+ </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Issues</span>
              <span class="info-box-number"> 170+ </span>
            </div>
          </div>
        </div>
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1">
              <i class="fas fa-tag"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Releases</span>
              <span class="info-box-number"> 200+ </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1">
              <i class="fas fa-eye"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Watching by</span>
              <span class="info-box-number"> 810+ </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Open Issues</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead class="bg-light">
                  <tr>
                    <th>Id</th>
                    <th class="w-25">Title</th>
                    <th class="w-25">Labels</th>
                    <th>Date</th>
                    <th>Opened by</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a
                        href="https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5452"
                        target="_blank"
                      >
                        5452
                      </a>
                    </td>
                    <td>Angular UI migration to AdminLTE 3</td>
                    <td>
                      <span class="badge badge-secondary mx-1">
                        module-zero-core-template
                      </span>
                      <span class="badge badge-primary mx-1"> feature </span>
                    </td>
                    <td>11 days ago</td>
                    <td>iyilm4z</td>
                  </tr>
                  <tr>
                    <td>
                      <a
                        href="https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5391"
                        target="_blank"
                      >
                        5391
                      </a>
                    </td>
                    <td>
                      AbpCacheBase should lock the same object for sync and
                      async
                    </td>
                    <td>
                      <span class="badge badge-danger mx-1"> bug </span>
                      <span class="badge badge-success mx-1">
                        pull request candidate
                      </span>
                    </td>
                    <td>26 days ago</td>
                    <td>acjh</td>
                  </tr>
                  <tr>
                    <td>
                      <a
                        href="https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5390"
                        target="_blank"
                      >
                        5390
                      </a>
                    </td>
                    <td>AbpCache sliding/absolute expire time</td>
                    <td>
                      <span class="badge badge-warning mx-1">
                        breaking-change
                      </span>
                      <span class="badge badge-info mx-1">enhancement</span>
                    </td>
                    <td>27 days ago</td>
                    <td>ryancyq</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Closed Pull Requests</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead class="bg-light">
                  <tr>
                    <th>Id</th>
                    <th class="w-25">Title</th>
                    <th class="w-25">Milestone</th>
                    <th>Date</th>
                    <th>Made by</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a
                        href="https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5430"
                        target="_blank"
                      >
                        5430
                      </a>
                    </td>
                    <td>
                      Added Dynamic-Parameter-System doc to documentation menu
                    </td>
                    <td>v5.6</td>
                    <td>18 days ago</td>
                    <td>maliming</td>
                  </tr>
                  <tr>
                    <td>
                      <a
                        href="https://github.com/aspnetboilerplate/aspnetboilerplate/pull/5362"
                        target="_blank"
                      >
                        5362
                      </a>
                    </td>
                    <td>Dynamic Parameter Module</td>
                    <td>v5.4</td>
                    <td>25 days ago</td>
                    <td>demirmusa</td>
                  </tr>
                  <tr>
                    <td>
                      <a
                        href="https://github.com/aspnetboilerplate/aspnetboilerplate/pull/4924"
                        target="_blank"
                      >
                        4924
                      </a>
                    </td>
                    <td>ASP.NET Core 3.0 Upgrade</td>
                    <td>v5.0</td>
                    <td>Oct 15</td>
                    <td>ismcagdas</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->

<!-- This Div Is For Default Color -->
<div class="bg-light">
  <!-- BEST CALIFORNIA HOME LOANS SECTION START -->

  <div
    style="
      background: url(assets/img/house.png) 0% 0% no-repeat;
      height: 480px;
      background-size: 100%;
    "
  >
    <div
      style="
        height: 480px;
        background-size: 100%;
        background: #091a52 0% 0% no-repeat padding-box;
        opacity: 0.8;
      "
    >
      <div class="row p-0 m-0">
        <div class="col-1 mt-3">
          <div class="mt-5">
            <img
              class="img-fluid ml-3 mb-3 i-circle"
              src="assets/img/facebook.svg"
              alt="facebook"
            />
            <img
              class="img-fluid ml-3 mb-3 i-circle"
              src="assets/img/twitter-2.svg"
              alt="twitter"
            />
            <i
              class="fab fa-instagram img-fluid ml-3 mb-3 i-circle text-white"
            ></i>
            <img
              class="img-fluid ml-3 mb-3 i-circle"
              src="assets/img/pinterest.svg"
              alt="pinterest"
            />
            <img
              class="img-fluid ml-3 mb-3 i-circle"
              src="assets/img/youtube-2.svg"
              alt="youtube"
            />
          </div>
          <p
            style="
              writing-mode: vertical-lr;

              transform-origin: left top 0;
              letter-spacing: 2.6px;
              color: #ffffff;
              text-transform: uppercase;
              opacity: 1;
            "
          >
            SCROLL DOWN
          </p>
        </div>
        <div class="col-11 mt-5">
          <h1
            class="font-weight-bold text-white"
            style="
              letter-spacing: 1.51px;
              text-shadow: 0px 3px 6px #00000029;
              font-size: 55px;
              line-height: 1.5;
            "
          >
            Best California Home
            <br />
            Loans
          </h1>
          <h5
            class="text-white mb-5 mt-4"
            style="
              letter-spacing: 0px;
              text-shadow: 0px 3px 6px #00000029;
              font: normal normal medium 26px/35px Avenir;
            "
          >
            Better Rate then banks, Better customer services
          </h5>
          <div class="mt-5" style="text-transform: uppercase">
            <button type="button" class="btn btn-light-blue text-white">
              BUYING A HOME
            </button>
            <button
              type="button"
              class="btn btn-orange text-white d-inline ml-4"
            >
              REFINANCE <i class="fas fa-long-arrow-alt-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" style="margin-bottom: -135px">
        <div class="col pl-4" style="top: -64px">
          <div
            class="card m-o"
            style="
              z-index: 3;
              top: 0rem;
              box-shadow: 0px 3px 6px #091a5214;
              border-radius: 4px;
            "
          >
            <div
              class="card-header border-0"
              style="background: #ffffff 0% 0% no-repeat padding-box"
            >
              <img class="img-fluid" src="assets/img/real-estate.svg" alt="" />
            </div>
            <div class="card-body text-dark-blue">
              <h5 class="font-weight-bold">Buying A home Guide</h5>
              <p style="font-size: 14px">
                Observe our step by step guide to study how to buy a home.
              </p>
              <p style="font-size: 14px; text-transform: uppercase">
                Review The Home Guide
                <i class="fas fa-long-arrow-alt-right"></i>
              </p>
            </div>
          </div>
        </div>
        <div class="col" style="top: -64px">
          <div
            class="card m-o"
            style="
              z-index: 3;
              top: 0rem;
              box-shadow: 0px 3px 6px #091a5214;
              border-radius: 4px;
            "
          >
            <div
              class="card-header border-0"
              style="background: #ffffff 0% 0% no-repeat padding-box"
            >
              <img class="img-fluid" src="assets/img/wallet.svg" alt="" />
            </div>
            <div class="card-body text-dark-blue">
              <h5 class="font-weight-bold">Refinance Guide</h5>
              <p style="font-size: 14px">
                Save money and equity by learning about refinancing.
              </p>
              <p style="font-size: 14px; text-transform: uppercase">
                VIEW current Mortgage
                <i class="fas fa-long-arrow-alt-right"></i>
              </p>
            </div>
          </div>
        </div>
        <div class="col" style="top: -64px">
          <div
            class="card m-o"
            style="
              z-index: 3;
              top: 0rem;
              box-shadow: 0px 3px 6px #091a5214;
              border-radius: 4px;
            "
          >
            <div
              class="card-header border-0"
              style="background: #ffffff 0% 0% no-repeat padding-box"
            >
              <img class="img-fluid" src="assets/img/graph.svg" alt="" />
            </div>
            <div class="card-body text-dark-blue">
              <h5 class="font-weight-bold">Current Mortgage Rate</h5>
              <p style="font-size: 14px">
                Review current mortgage rates for a option of home loans.
              </p>
              <p style="font-size: 14px; text-transform: uppercase">
                VIEW current Mortgage
                <i class="fas fa-long-arrow-alt-right"></i>
              </p>
            </div>
          </div>
        </div>
        <div class="col pr-0" style="top: -64px">
          <div
            class="card m-o"
            style="
              z-index: 3;
              top: 0rem;
              box-shadow: 0px 3px 6px #091a5214;
              border-radius: 4px;
            "
          >
            <div
              class="card-header border-0"
              style="background: #ffffff 0% 0% no-repeat padding-box"
            >
              <img
                class="img-fluid"
                src="assets/img/calculator (1).svg"
                alt=""
              />
            </div>
            <div class="card-body text-dark-blue">
              <h5 class="font-weight-bold">Mortgage Calculators</h5>
              <p style="font-size: 14px">
                Calculate your monthly mortgage payment using current rates.
              </p>
              <p style="font-size: 14px; text-transform: uppercase">
                Calculate your Payment
                <i class="fas fa-long-arrow-alt-right"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- BEST CALIFORNIA HOME LOANS SECTION END -->

  <!-- KNOW ABOUT FEATURED MORTGAGE OPTION SECTION START -->

  <div class="bg-light pl-3 mb-5">
    <div class="container bg-light" style="margin-top: 12rem">
      <div class="row p-0 m-0">
        <div class="col p-0">
          <div class="text-left mt-5 mb-3">
            <p class="text-orange font-weight-bold know">Know About</p>
            <h4
              class="text-dark-blue font-weight-bold"
              style="letter-spacing: 1.5px; word-spacing: 1px"
            >
              Featured Mortgage Options
            </h4>
            <div class="text-right">
              <button
                type="submit"
                class="btn text-center text-white btn p-0"
                style="
                  width: 34px;
                  height: 34px;
                  background: #091a52 0% 0% no-repeat padding-box;
                  box-shadow: 0px 3px 6px #00000029;
                  border-radius: 4px;
                  opacity: 1;
                "
              >
                &lt;
              </button>
              <button
                type="submit"
                class="btn text-center text-white btn ml-3 p-0"
                style="
                  width: 34px;
                  height: 34px;
                  background: #091a52 0% 0% no-repeat padding-box;
                  box-shadow: 0px 3px 6px #00000029;
                  border-radius: 4px;
                  opacity: 1;
                "
              >
                &gt;
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-0 m-0">
        <div
          class="col-4 img-fluid"
          style="
            background: url(assets/img/house-1.png) 0% 0% no-repeat;
            background-size: 100% 100%;
            padding: unset;
          "
        >
          <div
            class="img-fluid"
            style="
              background: #091a52 0% 0% no-repeat padding-box;
              opacity: 0.8;
              margin-top: 27rem;
              background-size: 100%;
              padding: unset;
            "
          >
            <div
              class="col-11"
              style="margin: 0px 0px 0px 5px; padding: 30px; display: block"
            >
              <p class="font-weight-bold ml-3 text-white">
                GET A NO-HASSLE LOAN FOR UP TO $697,650
              </p>
              <h5 class="font-weight-bold ml-3 text-white">
                Fast Closing FHA Loans
              </h5>
              <p class="font-weight-bold ml-3 text-white">
                Take Advantage of our FHA Elite Rates starting at…
              </p>
              <p class="font-weight-bold ml-3 text-orange">
                Read More
                <i class="text-orange fas fa-long-arrow-alt-right"></i>
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-8 img-fluid"
          style="
            background: url(assets/img/living-room.png) 0% 0% no-repeat;
            background-size: 100%;
            padding-left: 18px;
            background-origin: content-box;
            padding-right: 0px;
          "
        >
          <div
            class="img-fluid"
            style="
              background: #f47741 0% 0% no-repeat padding-box;
              opacity: 0.8;
              background-size: 100%;
              margin-top: 9.4rem;
              padding: unset;
            "
          >
            <div class="row">
              <div class="col-6" style="padding: 20px">
                <h5 class="font-weight-bold ml-3 text-white">
                  Conventional Jombo Rate
                </h5>
                <p class="text-white ml-3">
                  Save cash with a low-rate conventional loan up to…
                </p>
                <p class="font-weight-bold ml-3 text-dark-blue-3">
                  Read More
                  <i class="text-dark-blue-3 fas fa-long-arrow-alt-right"></i>
                </p>
              </div>
              <div class="col-5">
                <h5
                  class="font-weight-bold text-white"
                  style="margin-top: 63px"
                >
                  GET A NO-HASSLE LOAN FOR UP TO $697,650
                </h5>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 1rem !important">
            <div class="col-6">
              <img class="img-fluid" src="assets/img/money.png" alt="" />
              <h5 class="font-weight-bold ml-3 text-dark-blue mt-3">
                Tap Into Your Equity
              </h5>
              <p class="font-weight-bold ml-3 text-grey">
                We offer unique programs that let you refinance up…
              </p>
              <p class="font-weight-bold ml-3 text-orange">
                Read More
                <i class="text-orange fas fa-long-arrow-alt-right"></i>
              </p>
            </div>
            <div class="col-6">
              <img class="img-fluid" src="assets/img/new-home.png" alt="" />
              <h5 class="font-weight-bold ml-3 text-dark-blue mt-3">
                Purchase Your Dream Home
              </h5>
              <p class="font-weight-bold ml-3 text-grey">
                Your dream home may no longer be a dream…
              </p>
              <p class="font-weight-bold ml-3 text-orange">
                Read More
                <i class="text-orange fas fa-long-arrow-alt-right"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- KNOW ABOUT FEATURED MORTGAGE OPTION SECTION END -->

  <!-- KNOW ABOUT YOUR INDEPENDENT SECTION START -->

  <div class="bg-white">
    <div
      class="container-fluid bg-white text-right"
      style="float: right; padding-left: 53rem"
    >
      <div class="row p-0 m-0">
        <div class="col text-right mb-2">
          <img class="img-fluid mr-2" src="assets/img/Untitled-1.svg" alt="" />
          <img class="img-fluid mr-2" src="assets/img/Untitled-1.svg" alt="" />
        </div>
      </div>
      <div class="row p-0 m-0">
        <div class="col text-right mb-2">
          <img class="img-fluid mr-2" src="assets/img/Untitled-1.svg" alt="" />
          <img class="img-fluid mr-2" src="assets/img/Untitled-1.svg" alt="" />
        </div>
      </div>
    </div>

    <div
      class="container"
      style="position: relative; top: -6rem; margin-top: 6rem"
    >
      <div class="row p-0">
        <div class="col-4 pl-4 img-fluid" style="z-index: 3; top: -4rem">
          <img
            src="assets/img/Image 16.png"
            alt=""
            style="
              background: #091a52 0% 0% no-repeat padding-box;
              border-radius: 4px;
            "
          />
        </div>
        <div
          class="col-8 bg-dark-blue"
          style="
            border: 1px solid #707070;
            border-radius: 4px;
            left: -6px;
            z-index: 2;
          "
        >
          <div class="row bg-dark-blue">
            <div class="col-6 bg-dark-blue"></div>

            <div class="col-6 bg-dark-blue">
              <p class="text-orange font-weight-bold mt-5">Know About</p>
              <h3
                class="text-white font-weight-bold mt-4"
                style="line-height: 1.7; letter-spacing: 1px"
              >
                YOUR INDEPENDENT MORTGAGE BROKER IN CALIFORNIA
              </h3>
              <p class="text-white mt-4">
                To make sure all borrowers get the best mortgage rate and loan
                program with excellent customer service and satisfaction.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- KNOW ABOUT YOUR INDEPENDENT SECTION START -->

    <!-- KNOW ABOUT TIPS SECTION START -->

    <div class="bg-light-grey">
      <div class="row justify-content-center p-0 m-0">
        <div class="col">
          <div class="text-center mb-3">
            <p class="text-orange font-weight-bold know">Know About</p>
            <h4
              class="text-dark-blue font-weight-bold"
              style="letter-spacing: 1.5px; word-spacing: 1px"
            >
              Tips For Getting A Home
            </h4>
            <h4
              class="text-dark-blue font-weight-bold mb-5"
              style="letter-spacing: 1.5px; word-spacing: 1px"
            >
              Mortgage In California
            </h4>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center p-0 m-0">
          <div class="col-6">
            <div class="text-white bg-dark-blue content">
              <img
                class="img-fluid pic1"
                src="assets/img/mortgage.svg"
                alt=""
              />
              <h5 class="font-weight-bold d-inline">
                How To Apply For Your Loan
              </h5>
            </div>
            <div class="mt-5 ml-5">
              <span class="d-inline-block bg-orange" style="width: 7%">
                <img src="assets/img/calculator.svg" />
              </span>

              <h5 class="font-weight-bold d-inline ml-3 text-dark-blue">
                Calculate Loan Rate
              </h5>
            </div>

            <div class="mt-5 ml-5">
              <span class="d-inline-block bg-orange" style="width: 7%">
                <img src="assets/img/support.svg" />
              </span>

              <h5 class="font-weight-bold d-inline ml-3 text-dark-blue">
                Speak with an expert
              </h5>
            </div>
            <div class="mt-5 ml-5">
              <span class="d-inline-block bg-orange" style="width: 7%">
                <img src="assets/img/agenda.svg" />
              </span>

              <h5 class="font-weight-bold d-inline ml-3 text-dark-blue">
                Benefit of Preapproval
              </h5>
            </div>
            <div class="mt-5 ml-5">
              <span class="d-inline-block bg-orange" style="width: 7%">
                <img src="assets/img/mortgage.svg" />
              </span>

              <h5 class="font-weight-bold d-inline ml-3 text-dark-blue">
                Get A Free Quote
              </h5>
            </div>
          </div>
          <div class="col-6 pl-4">
            <div>
              <img src="assets/img/finance.png" alt="finance" />
            </div>
            <div
              class="card"
              style="
                z-index: 3;
                top: -5rem;
                box-shadow: 0px 3px 6px #091a5214;
                border-radius: 4px;
                left: 3rem;
                width: 34rem;
              "
            >
              <div
                class="card-header border-0"
                style="background: #ffffff 0% 0% no-repeat padding-box"
              >
                <h5 class="text-dark-blue font-weight-bold mt-3">
                  Work With A High-Tech Mortgage Loan Broker
                </h5>
              </div>
              <div class="card-body">
                <div class="row p-0 m-0">
                  <div class="col-1">
                    <img src="assets/img/foursquare-check-in.svg" alt="" />
                    <img
                      src="assets/img/foursquare-check-in.svg"
                      alt=""
                      style="margin-top: 46px"
                    />
                    <img
                      src="assets/img/foursquare-check-in.svg"
                      alt=""
                      style="margin-top: 46px"
                    />
                    <img
                      src="assets/img/foursquare-check-in.svg"
                      alt=""
                      style="margin-top: 46px"
                    />
                  </div>
                  <div class="col-11">
                    <p>
                      Our easy-to-use online tools streamline the mortgage
                      process.
                    </p>
                    <p>
                      Get mortgage estimates, instant rate quotes, and access to
                      our online calculators.
                    </p>
                    <p>
                      Loan applications can be done entirely online (or via fax)
                      on our secure portal.
                    </p>
                    <p>
                      Receive updates about your application – as well as
                      helpful mortgage news – on your phone, tablet or laptop
                    </p>
                    <div class="mt-3">
                      <button
                        type="button"
                        class="btn btn-orange text-white btn"
                      >
                        APPLY NOW
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- KNOW ABOUT TIPS SECTION END -->

    <!-- TESTIMONIALS SECTION START -->

    <div class="bg-dark-blue">
      <div class="container" style="height: 479px">
        <div class="row p-0 m-0">
          <div class="col-3">
            <div style="margin-top: 130px">
              <img
                class="img-fluid pic"
                src="assets/img/Untitled-2.svg"
                alt=""
              />
              <img
                class="img-fluid pic"
                src="assets/img/Untitled-2.svg"
                alt=""
              />
              <img
                class="img-fluid pic"
                src="assets/img/Untitled-2.svg"
                alt=""
              />
              <img
                class="img-fluid pic"
                src="assets/img/Untitled-2.svg"
                alt=""
              />
              <!-- <img class="img-fluid" src="assets/img/Untitled-1.svg" alt="" /> -->
            </div>
          </div>
          <div class="col-7 mt-5">
            <div class="text-center">
              <p class="text-orange font-weight-bold know mt-5 mb-3">
                TESTMIONALS
              </p>
              <h4
                class="text-white font-weight-bold"
                style="letter-spacing: 1.5px; word-spacing: 1px"
              >
                Our Customer Says
              </h4>
            </div>
            <div class="text-center mt-5">
              <img
                class="img-fluid float-left"
                src="assets/img/quote.svg"
                alt=""
              />
              <p class="text-white">
                Thanks you for all your help in making the mortgage process go
                smoothlyl my <br />
                husband and i couldn,t have done it without you
              </p>
              <img
                class="img-fluid float-right"
                src="assets/img/quote (1).svg"
                alt=""
              />
              <h5 class="text-white mt-5">Anne Davidson (San Francisco, CA)</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- TESTIMONIALS SECTION END -->

    <!-- KNOW ABOUT MORTGAGE RATA SECTION START -->

    <div class="bg-white">
      <div class="container bg-white">
        <div class="row justify-content-center p-0 m-0">
          <div class="col-9">
            <div class="card border-0 shadow-none">
              <div class="card-header border-0 bg-white text-center">
                <p class="text-orange font-weight-bold know mt-5">Know About</p>
                <h4
                  class="text-dark-blue font-weight-bold"
                  style="letter-spacing: 1.5px; word-spacing: 1px"
                >
                  Mortgage Rate updates, Featured Mortgage
                </h4>
                <h4
                  class="text-dark-blue font-weight-bold mt-1"
                  style="letter-spacing: 1.5px; word-spacing: 1px"
                >
                  Options or Request A Call Back Today
                </h4>
              </div>
              <div class="card-body p-4">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4" class="label font-weight-bold"
                        >First Name</label
                      >
                      <input type="email" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4" class="label font-weight-bold"
                        >Last Name</label
                      >
                      <input type="password" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4" class="label font-weight-bold"
                        >Email Address</label
                      >
                      <input type="password" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4" class="label font-weight-bold"
                        >Phone Number</label
                      >
                      <input type="password" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4" class="label font-weight-bold"
                        >Mortgage Purposes</label
                      >
                      <input type="password" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4" class="label font-weight-bold"
                        >How do you want to borrow`</label
                      >
                      <input type="password" class="form-control" />
                    </div>
                  </div>
                  <p class="para">
                    By completing this form, I agree that EZ Online Mortgage may
                    contact me at the phone number provided via telephone, maybe
                    prerecoreded message, artifical voice, and/or text message.
                    I understand that I do not Have to consent to receive such
                    calls or text messages in order to purchase goods or
                    services from EZ Online mortgage.
                  </p>
                  <div class="text-center">
                    <button
                      type="submit"
                      class="btn btn-orange text-center text-white btn"
                    >
                      SUBMIT
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid bg-white">
        <div class="row p-0 m-0">
          <div class="col-3 text-left mb-2">
            <img
              class="img-fluid mr-2"
              src="assets/img/Untitled-1.svg"
              alt=""
            />
            <img
              class="img-fluid mr-2"
              src="assets/img/Untitled-1.svg"
              alt=""
            />
            <!-- <img class="img-fluid" src="assets/img/Untitled-1.svg" alt="" /> -->
          </div>
        </div>
        <div class="row p-0 m-0">
          <div class="col-3 text-left mb-2">
            <img
              class="img-fluid mr-2"
              src="assets/img/Untitled-1.svg"
              alt=""
            />
            <img
              class="img-fluid mr-2"
              src="assets/img/Untitled-1.svg"
              alt=""
            />
            <!-- <img class="img-fluid" src="assets/img/Untitled-1.svg" alt="" /> -->
          </div>
        </div>
      </div>
    </div>

    <!-- KNOW ABOUT MORTGAGE RATA SECTION END -->
  </div>
</div>
