#Back {
  position: relative;
  top: 114px;
  right: 270px;
}
#icon {
  font-size: 26px;
  position: relative;
  top: 141px;
  right: 300px;
}

#button {
  border: 1px solid orange !important;
  width: 260px;
  height: 43px;
  text-align: center;
  color: #ffffff;
  background-color: #091a52;
  margin-left: 494px;
  margin-top: 33px;
}

.hrline {
  width: 100%;
}
.hrline hr {
  border-top: 1px solid white;
  width: 100%;
}
.firsticon {
  /* border-radius: 100%; */
  float: left;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
  /* background-color: white; */
}
.stepcircle {
  border-radius: 100%;
  border: 1px solid white;
  display: inline-block;
  width: 10px;
  height: 10px;
  float: left;
  margin-left: 19.1%;
  margin-top: -5px;
  background-color: white;
}

#one {
  position: relative;
  top: 11px;
  right: 15px;
}
#two {
  position: relative;
  top: 11px;
  right: 61px;
}

#three {
  position: relative;
  top: 14px;
  right: 19px;
}

#four {
  position: relative;
  top: 35px;
  right: 79px;
}

#five {
  position: relative;
  top: 12px;
  right: 26px;
}

#six {
  position: relative;
  top: 9px;
  right: 47px;
}

#seven {
  position: relative;
  top: 11px;
  right: 21px;
}

#eight {
  position: relative;
  top: 8px;
  right: 22px;
}

#nine {
  position: relative;
  top: 11px;
  right: 11px;
}

#ten {
  position: relative;
  top: 8px;
  right: 32px;
}

.card.bg_transparent:hover {
  background-color: #f47741 !important;
}
