#Back {
  position: relative;
  top: 114px;
  right: 270px;
}
#icon {
  font-size: 26px;
  position: relative;
  top: 141px;
  right: 300px;
}

#button {
  border: 1px solid #f47741 !important;
  width: 260px;
  height: 43px;
  text-align: center;
  color: #ffffff;
  background-color: #091a52;
  margin-left: 494px;
  margin-top: 33px;
}

.hrline {
  width: 100%;
}
.hrline hr {
  border-top: 1px solid white;
  width: 100%;
}
.firsticon {
  float: left;
  margin-left: -9px;
  margin-top: -10px;
  color: #f47741;
}
.firsticon span {
  position: absolute;
  margin-top: 20px;
  margin-left: -53px;
}
.stepcircle {
  border-radius: 100%;
  border: 1px solid white;
  display: inline-block;
  width: 10px;
  height: 10px;
  float: left;
  margin-left: 19.1%;
  margin-top: -5px;
  background-color: white;
}
.card.bg_transparent:hover {
  background-color: #f47741 !important;
}

.stepcircle span {
  position: absolute;
}

.secondstep {
  margin-left: -76px;
  margin-top: 13px;
}

.thirdstep {
  position: absolute;
  margin-top: 10px;
  margin-left: -30px;
}

.fourthstep {
  margin-top: 9px;
  margin-left: -40px;
}

.fivestep {
  margin-top: 10px;
  margin-left: -29px;
}

.laststep {
  margin-top: 9px;
  margin-left: -39px;
}
