<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5">What type of home are you refinancing?</h2>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="Back" (click)="proceedToPrevious()">
          <i class="fa fa-angle-left" style="font-size: 25px"></i>
          <span style="position: absolute; line-height: 25px">Back</span>
        </p>
      </div>
      <div class="col-lg-4">
        <div class="BTN">
          <br /><br />
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext('Single Family Home')"
            [class.selected]="formData.propertyType == 'Single Family Home'"
          >
            Single Family Home
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext('Multi-Family Home')"
            [class.selected]="formData.propertyType == 'Multi-Family Home'"
          >
            Multi-Family Home
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext('Townhouse / Condo')"
            [class.selected]="formData.propertyType == 'Townhouse / Condo'"
          >
            Townhouse / Condo
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext('Other')"
            [class.selected]="formData.propertyType == 'Other'"
          >
            Other
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart p11 mt-5">
      <span>11%</span>
    </div>
  </div>
</div>
