<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5 font-weight-bold" style="font-size: 40px">
      Are you currently employed?
    </h2>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="Back" (click)="proceedToPrevious()">
          <i class="fa fa-angle-left"></i>
          <span> Back</span>
        </p>
      </div>
      <div class="col-lg-4">
        <div class="BTN">
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn_mwh btn-block mt-6"
            (click)="proceedToNext('Employed')"
            [class.selected]="formData.currentEmployed == 'Employed'"
          >
            Employed
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn_mwh btn-block mb-3 mt-3"
            (click)="proceedToNext('Self-Employed')"
            [class.selected]="formData.currentEmployed == 'Self-Employed'"
          >
            Self-Employed
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn_mwh btn-block mb-3 mt-3"
            (click)="proceedToNext('Other')"
            [class.selected]="formData.currentEmployed == 'Other'"
          >
            Other
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart p68 mt-5">
      <span>68%</span>
    </div>
  </div>
</div>
