<div>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>{{ "Uniform Residential Loan Application" | localize }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <ng-wizard [config]="config">
                        <ng-wizard-step title="Step 1" description="Loan Details">
                            <app-loan-details (onDataChange)="onChange($event, 'loanDetails')"></app-loan-details>
                        </ng-wizard-step>
                        <ng-wizard-step title="Step 2" description="Personal Information">
                            <app-personal-information (onDataChange)="onChange($event, 'personalInformation')"></app-personal-information>
                        </ng-wizard-step>
                        <ng-wizard-step title="Step 3" description="Expenses">
                            <app-expenses (onDataChange)="onChange($event, 'expenses')"></app-expenses>
                        </ng-wizard-step>
                    </ng-wizard>
                </div>
            </div>
        </div>
    </section>
</div>
