<div>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>{{ "Uniform Residential Loan Application" | localize }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <ng-wizard [config]="config">
                        <ng-wizard-step title="Step 1" description="Loan Details">
                            <app-loan-details [data]="loanApplication.loanDetails"
                                              (onDataChange)="onChange($event, 'loanDetails')"></app-loan-details>
                        </ng-wizard-step>
                        <ng-wizard-step title="Step 2" description="Personal Information">
                            <app-personal-information
                                    [data]="loanApplication.personalInformation"
                                    (onDataChange)="onChange($event, 'personalInformation')"></app-personal-information>
                        </ng-wizard-step>
                        <ng-wizard-step title="Step 3" description="Expenses">
                            <app-expenses
                                    [data]="loanApplication.expenses"
                                    (onDataChange)="onChange($event, 'expenses')"></app-expenses>
                        </ng-wizard-step>
                        <ng-wizard-step title="Step 4" description="Employment and Income">
                            <app-employment-income
                                    [isApplyingWithCoBorrower]="loanApplication.personalInformation && loanApplication.personalInformation.isApplyingWithCoBorrower"
                                    [data]="loanApplication.employmentIncome"
                                    (onDataChange)="onChange($event, 'employmentIncome')"></app-employment-income>
                        </ng-wizard-step>
                        <ng-wizard-step title="Step 5" description="Order Credit">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <h4>Credit Authorization Agreement</h4>
                                    <p>
                                        You can agree, disagree or skip the eConsent agreement below.
                                    </p>
                                    <div class="econsent-wrapper">
                                        <p>
                                            During your mortgage loan application process, this institution performs a
                                            Credit Check that requires us to obtain and confirm information regarding
                                            your personal and financial background. This Credit Check includes, but is
                                            not limited to, your marital status, number of dependents, current and past
                                            employers, current deposit accounts, current and past consumer credit
                                            accounts, and your mortgage and/or rental history.
                                        </p>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="agreeCreditAuthAgreement"
                                               [(ngModel)]="loanApplication.orderCredit.agreeCreditAuthAgreement">
                                        <label class="form-check-label" for="agreeCreditAuthAgreement">
                                            I accept the Credit Authorization Agreement.
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-secondary" (click)="proceedToPrevious()">Back</button>
                                    <button class="btn btn-secondary float-right" (click)="proceedToNext()">Next</button>
                                </div>
                            </div>
                        </ng-wizard-step>
                        <ng-wizard-step title="Step 6" description="Additional Details">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <h4>Other Disclosures and Details</h4>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="nameOfIndividualsOnTitle">
                                            {{ "List names of all individuals who will be on Title" | localize }}
                                        </label>
                                        <input type="text" class="form-control" name="nameOfIndividualsOnTitle"
                                               id="nameOfIndividualsOnTitle"
                                               [(ngModel)]="loanApplication.additionalDetails.nameOfIndividualsOnTitle"/>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-secondary" (click)="proceedToPrevious()">Back</button>
                                    <button class="btn btn-secondary float-right" (click)="proceedToNext()">Next</button>
                                </div>
                            </div>
                        </ng-wizard-step>
                        <ng-wizard-step title="Step 7" description="eConsent">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <h4>eConsent</h4>
                                    <h6 *ngIf="loanApplication.personalInformation && loanApplication.personalInformation.borrower">
                                        {{loanApplication.personalInformation.borrower.firstName + ' ' + loanApplication.personalInformation.borrower.lastName}}
                                    </h6>
                                    <p>
                                        You can agree, disagree or skip the eConsent agreement below.
                                    </p>
                                    <div class="econsent-wrapper">
                                        <h5>Your Consent To Do Business Electronically (the eDisclosure Agreement)</h5>
                                        <p>The loan for which you are applying involves various
                                            disclosures, records, and documents ("Loan Documents"), including this
                                            eDisclosure Agreement. The purpose of this eDisclosure Agreement is to
                                            obtain Your consent to receive certain Loan Documents from Us in
                                            electronic form rather than in paper form. With Your consent, You will
                                            also be able to sign and authorize these Loan Documents electronically,
                                            rather than on paper.</p>
                                        <p>Before We can engage in this transaction electronically,
                                            it is important that You understand Your rights and responsibilities.
                                            Please read the following and affirm Your consent to conduct business
                                            with Us electronically. For purposes of this eDisclosure Agreement,
                                            "eDisclosures" means the Loan Documents related to this transaction that
                                            are provided electronically, "You" and "Your" mean the borrower(s) under
                                            the applicable loan to which such Loan Documents apply, and "We", "Our"
                                            and "Us" mean the applicable mortgage broker(s), loan processor(s) or
                                            mortgage banker(s) with whom You are transacting business for such
                                            loan(s).</p>
                                        <h6><b><u>YOUR CONSENT</u></b></h6>
                                        <ul>
                                            <li>Your consent to participate in this transaction electronically will
                                                apply to all Loan Documents for the applicable loans for which You
                                                are applying. If You provide Your consent by clicking the "I agree"
                                                button at the bottom of the page, We will conduct this transaction
                                                electronically, instead of providing You with the Loan Documents in
                                                paper form.
                                            </li>
                                            <li>If a document related to Your loan is not available in electronic
                                                form, a paper copy will be provided to You free of charge.
                                            </li>
                                            <li>Conducting this transaction electronically is an option. If You
                                                choose not to accept receipt of eDisclosures, paper Loan Documents
                                                will be mailed to You.
                                            </li>
                                            <li>If You do not consent to receive these Loan Documents
                                                electronically, or if You subsequently withdraw consent, You will be
                                                provided with paper copies of the Loan Documents for which You did
                                                not consent to receive electronically. Additionally:<br>You will not
                                                be required to pay a fee for receiving paper copies of the Loan
                                                Documents.
                                            </li>
                                        </ul>
                                        <h6><b><u>WITHDRAWAL OF CONSENT</u></b></h6>
                                        <ul>
                                            <li>You have the right to withdraw Your consent at any time. By
                                                declining or revoking Your consent to receive eDisclosures, We will
                                                provide You with the Loan Documents in paper form.
                                            </li>
                                            <li>If You originally consent to receive eDisclosures, but later decide
                                                to withdraw Your consent, You can do so by clicking on the "I do not
                                                agree" button, or by notifying Us at:<br>Phone: 203-929-2199<br>Address:
                                                7 Trap Falls Road, Shelton, CT 06484
                                            </li>
                                            <li>If You originally consent to receive eDisclosures, but later
                                                withdraw Your consent, You will be provided with paper copies of the
                                                Loan Documents for which You did not consent to receive
                                                electronically.<br>You will not be required to pay a fee for
                                                withdrawing consent and receiving paper copies of the Loan
                                                Documents.
                                            </li>
                                        </ul>
                                        <h6><b><u>OBTAINING PAPER COPIES</u></b></h6>
                                        <ul>
                                            <li>After Your consent is given, You may request from Us paper copies of
                                                Your Loan Documents. Please send this request to Us at:<br>Phone:
                                                203-929-2199<br>Address: 7 Trap Falls Road, Shelton, CT 06484
                                            </li>
                                            <li>If You request paper copies of the Loan Documents:<br>You will not
                                                be required to pay a fee for receiving paper copies of the Loan
                                                Documents.
                                            </li>
                                        </ul>
                                        <h6><b><u>SYSTEM REQUIREMENTS</u></b></h6>
                                        <ul>
                                            <li>In order to receive eDisclosures, You must have a computer with
                                                Internet access and an Internet email account and address; an
                                                Internet browser using 128-bit encryption or higher, Adobe Acrobat
                                                7.0 or higher, SSL encryption and access to a printer or the ability
                                                to download information in order to keep copies of Your eDisclosures
                                                for Your records.
                                            </li>
                                            <li>If the software or hardware requirements change in the future, We
                                                will notify You of the change. If You choose to withdraw Your
                                                consent upon notification of the change, You will be able to do so
                                                without penalty. Paper copies of such Loan Documents will be mailed
                                                to You if You choose to withdraw Your consent.
                                            </li>
                                        </ul>
                                        <h6><b><u>HOW WE CAN REACH YOU</u></b></h6>
                                        <ul>
                                            <li>You must promptly notify Us if there is a change in Your email
                                                address or in other information needed to contact You
                                                electronically. You can contact Us at:<br>Phone: 203-929-2199<br>Address:
                                                7 Trap Falls Road, Shelton, CT 06484
                                            </li>
                                            <li>We will not assume liability for non-receipt of notification of the
                                                availability of eDisclosures in the event Your email address on file
                                                is invalid; Your email or Internet service provider filters the
                                                notification as "spam" or "junk mail"; there is a malfunction in
                                                Your computer, browser, Internet service and/or software; or for
                                                other reasons beyond Our control.
                                            </li>
                                        </ul>
                                        <p>Please click the button at the bottom of the page to
                                            consent to do business electronically and to view Loan Documents
                                            electronically.</p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="agreeEConsent"
                                               id="agreeEConsentYes" [value]="true"
                                               [(ngModel)]="loanApplication.eConsent.agreeEConsent">
                                        <label class="form-check-label" for="agreeEConsentYes">Agree</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="agreeEConsent"
                                               id="agreeEConsentNo" [value]="false"
                                               [(ngModel)]="loanApplication.eConsent.agreeEConsent">
                                        <label class="form-check-label" for="agreeEConsentNo">Don't Agree</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-secondary" (click)="proceedToPrevious()">Back</button>
                                    <button class="btn btn-secondary float-right" (click)="proceedToNext()">Next</button>
                                </div>
                            </div>
                        </ng-wizard-step>
                        <ng-wizard-step title="Step 8" description="Declaration">
                            <app-declaration [data]="loanApplication.declaration"
                                             [isApplyingWithCoBorrower]="loanApplication.personalInformation && loanApplication.personalInformation.isApplyingWithCoBorrower"
                                             (onDataChange)="onChange($event, 'declaration')"></app-declaration>
                        </ng-wizard-step>
                        <ng-wizard-step title="Step 9" description="Summary">
                        </ng-wizard-step>
                    </ng-wizard>
                </div>
            </div>
        </div>
    </section>
</div>
