<div class="row" [formGroup]="form">
    <div class="col-12 mt-3 mb-1">
        <h5>Borrower Declarations</h5>
    </div>
    <div class="col-12">
        <table style="width:100%">
            <tr>
                <td>a. Are there any outstanding judgments against you?</td>
                <td>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="float: right" class="form-check-input" type="radio"
                                           formControlName="isOutstandingJudgmentsAgainstYou"
                                           name="isOutstandingJudgmentsAgainstYou"
                                           id="isOutstandingJudgmentsAgainstYouYes" [value]="true"
                                           [(ngModel)]="data.isOutstandingJudgmentsAgainstYou">
                                    <label class="form-check-label" for="isOutstandingJudgmentsAgainstYouYes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="padding-left: 20px;" class="form-check-input" type="radio"
                                           formControlName="isOutstandingJudgmentsAgainstYou"
                                           name="isOutstandingJudgmentsAgainstYou"
                                           id="isOutstandingJudgmentsAgainstYouNo" [value]="false"
                                           [(ngModel)]="data.isOutstandingJudgmentsAgainstYou">
                                    <label class="form-check-label" for="isOutstandingJudgmentsAgainstYouNo">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>b. Have you been declared bankrupt within the past 7 years?</td>
                <td>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="float: right" class="form-check-input" type="radio"
                                           formControlName="isDeclaredBankrupt"
                                           name="isDeclaredBankrupt" id="isDeclaredBankruptYes"
                                           [value]="true" [(ngModel)]="data.isDeclaredBankrupt">
                                    <label class="form-check-label" for="isDeclaredBankruptYes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="padding-left: 20px;" class="form-check-input" type="radio"
                                           formControlName="isDeclaredBankrupt"
                                           name="isDeclaredBankrupt" id="isDeclaredBankruptNo"
                                           [value]="false" [(ngModel)]="data.isDeclaredBankrupt">
                                    <label class="form-check-label" for="isDeclaredBankruptNo">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>c. Have you had property foreclosed upon or given title
                    or deed in lieu thereof in the last 7 years?
                </td>
                <td>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="float: right" class="form-check-input" type="radio"
                                           formControlName="isPropertyForeClosedUponOrGivenTitle"
                                           name="isPropertyForeClosedUponOrGivenTitle"
                                           id="isPropertyForeClosedUponOrGivenTitleYes" [value]="true"
                                           [(ngModel)]="data.isPropertyForeClosedUponOrGivenTitle">
                                    <label class="form-check-label" for="isPropertyForeClosedUponOrGivenTitleYes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="padding-left: 20px;" class="form-check-input" type="radio"
                                           formControlName="isPropertyForeClosedUponOrGivenTitle"
                                           name="isPropertyForeClosedUponOrGivenTitle"
                                           id="isPropertyForeClosedUponOrGivenTitleNo" [value]="false"
                                           [(ngModel)]="data.isPropertyForeClosedUponOrGivenTitle">
                                    <label class="form-check-label" for="isPropertyForeClosedUponOrGivenTitleNo">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>d. Are you a party to a lawsuit?</td>
                <td>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="float: right" class="form-check-input" type="radio"
                                           formControlName="isPartyToLawsuit"
                                           name="isPartyToLawsuit" id="isPartyToLawsuitYes" [value]="true"
                                           [(ngModel)]="data.isPartyToLawsuit">
                                    <label class="form-check-label" for="isPartyToLawsuitYes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="padding-left: 20px;" class="form-check-input" type="radio"
                                           formControlName="isPartyToLawsuit"
                                           name="isPartyToLawsuit" id="isPartyToLawsuitNo" [value]="false"
                                           [(ngModel)]="data.isPartyToLawsuit">
                                    <label class="form-check-label" for="isPartyToLawsuitNo">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>


            <tr>
                <td>e. Have you directly or indirectly been obligated on any
                    loan which resulted in foreclosure, transfer of title
                    in lieu of foreclosure, or judgment?
                </td>
                <td>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="float: right" class="form-check-input" type="radio"
                                           formControlName="isObligatedOnAnyLoanWhichResultedForeclosure"
                                           name="isObligatedOnAnyLoanWhichResultedForeclosure"
                                           id="isObligatedOnAnyLoanWhichResultedForeclosureYes" [value]="true"
                                           [(ngModel)]="data.isObligatedOnAnyLoanWhichResultedForeclosure">
                                    <label class="form-check-label"
                                           for="isObligatedOnAnyLoanWhichResultedForeclosureYes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="padding-left: 20px;" class="form-check-input" type="radio"
                                           formControlName="isObligatedOnAnyLoanWhichResultedForeclosure"
                                           name="isObligatedOnAnyLoanWhichResultedForeclosure"
                                           id="isObligatedOnAnyLoanWhichResultedForeclosureNo" [value]="false"
                                           [(ngModel)]="data.isObligatedOnAnyLoanWhichResultedForeclosure">
                                    <label class="form-check-label"
                                           for="isObligatedOnAnyLoanWhichResultedForeclosureNo">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <!-- sixth -->
            <tr>
                <!-- f -->
                <td>f. Are you presently delinquent or in default on any Federal
                    debt or any other loan, mortgage, financial obligation, bond, or
                    loan
                    guarantee?
                </td>
                <td>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="float: right" class="form-check-input" type="radio"
                                           formControlName="isPresentlyDelinquent"
                                           name="isPresentlyDelinquent"
                                           id="isPresentlyDelinquentYes" [value]="true"
                                           [(ngModel)]="data.isPresentlyDelinquent">
                                    <label class="form-check-label" for="isPresentlyDelinquentYes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="padding-left: 20px;" class="form-check-input" type="radio"
                                           formControlName="isPresentlyDelinquent"
                                           name="isPresentlyDelinquent"
                                           id="isPresentlyDelinquentNo" [value]="false"
                                           [(ngModel)]="data.isPresentlyDelinquent">
                                    <label class="form-check-label" for="isPresentlyDelinquentNo">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <!-- g -->
            <tr>
                <td>g. Are you obligated to pay alimony, child support, or
                    separate maintenance?
                </td>
                <td>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="float: right" class="form-check-input" type="radio"
                                           formControlName="isObligatedToPayAlimonyChildSupport"
                                           name="isObligatedToPayAlimonyChildSupport"
                                           id="isObligatedToPayAlimonyChildSupportYes"
                                           [value]="true" [(ngModel)]="data.isObligatedToPayAlimonyChildSupport">
                                    <label class="form-check-label" for="isObligatedToPayAlimonyChildSupportYes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="padding-left: 20px;" class="form-check-input" type="radio"
                                           formControlName="isObligatedToPayAlimonyChildSupport"
                                           name="isObligatedToPayAlimonyChildSupport"
                                           id="isObligatedToPayAlimonyChildSupportNo"
                                           [value]="false" [(ngModel)]="data.isObligatedToPayAlimonyChildSupport">
                                    <label class="form-check-label" for="isObligatedToPayAlimonyChildSupportNo">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <!-- h -->
            <tr>
                <td>h. Is any part of the down payment borrowed?</td>
                <td>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="float: right" class="form-check-input" type="radio"
                                           formControlName="isAnyPartOfTheDownPayment"
                                           name="isAnyPartOfTheDownPayment" id="isAnyPartOfTheDownPaymentYes"
                                           [value]="true"
                                           [(ngModel)]="data.isAnyPartOfTheDownPayment">
                                    <label class="form-check-label" for="isAnyPartOfTheDownPaymentYes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="padding-left: 20px;" class="form-check-input" type="radio"
                                           formControlName="isAnyPartOfTheDownPayment"
                                           name="isAnyPartOfTheDownPayment" id="isAnyPartOfTheDownPaymentNo"
                                           [value]="false"
                                           [(ngModel)]="data.isAnyPartOfTheDownPayment">
                                    <label class="form-check-label" for="isAnyPartOfTheDownPaymentNo">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <!-- i -->
            <tr>
                <td>i. Are you a co-maker or endorser on a note?</td>
                <td>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="float: right" class="form-check-input" type="radio"
                                           formControlName="isCoMakerOrEndorser"
                                           name="isCoMakerOrEndorser" id="isCoMakerOrEndorserYes"
                                           [value]="true" [(ngModel)]="data.isCoMakerOrEndorser">
                                    <label class="form-check-label" for="isCoMakerOrEndorserYes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="padding-left: 20px;" class="form-check-input" type="radio"
                                           formControlName="isCoMakerOrEndorser"
                                           name="isCoMakerOrEndorser" id="isCoMakerOrEndorserNo"
                                           [value]="false"
                                           [(ngModel)]="data.isCoMakerOrEndorser">
                                    <label class="form-check-label" for="isCoMakerOrEndorserNo">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <!-- j -->
            <tr>
                <td>j. Are you a U.S. citizen?</td>
                <td>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="float: right" class="form-check-input" type="radio"
                                           formControlName="isUSCitizen"
                                           name="isUSCitizen" id="isUSCitizenYes" [value]="true"
                                           [(ngModel)]="data.isUSCitizen">
                                    <label class="form-check-label" for="isUSCitizenYes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="padding-left: 20px;" class="form-check-input" type="radio"
                                           formControlName="isUSCitizen"
                                           name="isUSCitizen" id="isUSCitizenNo" [value]="false"
                                           [(ngModel)]="data.isUSCitizen">
                                    <label class="form-check-label" for="isUSCitizenNo">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <!-- k -->
            <tr>
                <td>k. Are you a permanent resident alien?</td>
                <td>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="float: right" class="form-check-input" type="radio"
                                           formControlName="isPermanentResidentSlien"
                                           name="isPermanentResidentSlien" id="isPermanentResidentSlienYes"
                                           [value]="true"
                                           [(ngModel)]="data.isPermanentResidentSlien">
                                    <label class="form-check-label" for="isPermanentResidentSlienYes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="padding-left: 20px;" class="form-check-input" type="radio"
                                           formControlName="isPermanentResidentSlien"
                                           name="isPermanentResidentSlien" id="isPermanentResidentSlienNo"
                                           [value]="false"
                                           [(ngModel)]="data.isPermanentResidentSlien">
                                    <label class="form-check-label" for="isPermanentResidentSlienNo">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>l. Do you intend to occupy the property as your primary
                    residence?
                </td>
                <td>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="float: right" class="form-check-input" type="radio"
                                           formControlName="isIntendToOccupyThePropertyAsYourPrimary"
                                           name="isIntendToOccupyThePropertyAsYourPrimary"
                                           id="isIntendToOccupyThePropertyAsYourPrimaryYes"
                                           [value]="true"
                                           [(ngModel)]="data.isIntendToOccupyThePropertyAsYourPrimary">
                                    <label class="form-check-label"
                                           for="isIntendToOccupyThePropertyAsYourPrimaryYes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="padding-left: 20px;" class="form-check-input" type="radio"
                                           formControlName="isIntendToOccupyThePropertyAsYourPrimary"
                                           name="isIntendToOccupyThePropertyAsYourPrimary"
                                           id="isIntendToOccupyThePropertyAsYourPrimaryNo"
                                           [value]="false"
                                           [(ngModel)]="data.isIntendToOccupyThePropertyAsYourPrimary">
                                    <label class="form-check-label"
                                           for="isIntendToOccupyThePropertyAsYourPrimaryNo">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <!-- m -->
            <tr>
                <td>m. Have you had an ownership interest in a property in the last
                    three years?
                </td>
                <td>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="float: right" class="form-check-input" type="radio"
                                           formControlName="isOwnershipInterestInPropertyInTheLastThreeYears"
                                           name="isOwnershipInterestInPropertyInTheLastThreeYears"
                                           id="isOwnershipInterestInPropertyInTheLastThreeYearsYes"
                                           [value]="true"
                                           [(ngModel)]="data.isOwnershipInterestInPropertyInTheLastThreeYears">
                                    <label class="form-check-label"
                                           for="isOwnershipInterestInPropertyInTheLastThreeYearsYes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check-inline">
                                    <input style="padding-left: 20px;" class="form-check-input" type="radio"
                                           formControlName="isOwnershipInterestInPropertyInTheLastThreeYears"
                                           name="isOwnershipInterestInPropertyInTheLastThreeYears"
                                           id="isOwnershipInterestInPropertyInTheLastThreeYearsNo"
                                           [value]="false"
                                           [(ngModel)]="data.isOwnershipInterestInPropertyInTheLastThreeYears">
                                    <label class="form-check-label"
                                           for="isOwnershipInterestInPropertyInTheLastThreeYearsNo">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="form-group mt-3">
                        <label for="declarationsSection">
                            For the Declarations section, you are required to explain any "Yes" answers to questions
                            a through i.
                        </label>
                        <div class="input-group">
                            <textarea rows="2" class="form-control" name="declarationsSection"
                                      id="declarationsSection" formControlName="declarationsSection"
                                      [(ngModel)]="data.declarationsSection"></textarea>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
