
  <div class="Content-Step-Body text-white">
    <div class="container">
  
      <h2 class="">Is this your first time buying a home?</h2>
  
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <p id="back" class="fa fa-angle-left">
  
            <span style="margin-left: 10px;">Back</span>
  
          </p>
        </div>
        <div class="col-lg-4">
          <div class="btn">
            <br /><br />
            <button type="button" class="btn  btn-lg btn-block mb-3" id="Family">
              Yes
            </button>
            <button type="button" class="btn btn-outline-primary btn-lg btn-block mb-3">
              No
            </button>
            
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
      <div class="gage-chart">
          
        <span>16%</span>
      </div>
    </div>
  </div>
