<div class="main-content" *ngIf="number == 1">
  <h2>Let’s talk about employment.</h2>
  <h6 class="narrow-padding">
    We recommend you provide two-years of employment history. Do you have
    current or past employment history to add?
  </h6>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <a
      routerLink="/app/purchase/income-info/2"
      class="btn btn-primary btn-style btn-orange"
      (click)="onEmpFirstClick(true)"
      >Yes</a
    >

    <a
      routerLink="/app/purchase/income-info/5"
      class="btn btn-primary btn-style btn-orange"
      (click)="onEmpFirstClick(false)"
      >No</a
    >

    <div class="row">
      <div class="col-md-12 margin-top">
        <a routerLink="/app/purchase/personal-info/8" class="btn" id="btn-back"
          >Back</a
        >
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>

<!-- By Clicking on Yes button it will move to section 26A -->
<!-- By clicking on No button it will move to Page 27 purchase-income-source27 -->

<!-- 26A section start -->

<div class="main-content" *ngIf="number == 2">
  <h2>Tell us about your most current employer.</h2>
  <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
    <form action="" #f="ngForm" id="employer-details">
      <div class="form-group">
        <select
          class="form-select form-style w-100"
          [(ngModel)]="_model.employeeTypeId"
          name="employeeType"
          required
          #employeeTypeRef="ngModel"
        >
          <option value="1">W-2 Employee</option>
          <option value="2">Other Employee</option>
        </select>
        <div
          *ngIf="submitted && !employeeTypeRef.valid"
          class="text-danger d-flex"
        >
          Employee type is required
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control form-style"
          placeholder="Employer Name"
          [(ngModel)]="_model.employerName"
          name="employerName"
          required
          #employerNameRef="ngModel"
        />
        <div
          *ngIf="submitted && !employerNameRef.valid"
          class="text-danger d-flex"
        >
          Employer Name is required
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control form-style"
          placeholder="Address"
          [(ngModel)]="_model.employementAddress"
          name="employementAddress"
          required
          #employementAddressRef="ngModel"
        />
        <div
          *ngIf="submitted && !employementAddressRef.valid"
          class="text-danger d-flex"
        >
          Employee Address is required
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control form-style"
          placeholder="Apt / Unit"
          [(ngModel)]="_model.employementSuite"
          name="employementSuite"
          required
          #employementSuiteRef="ngModel"
        />
        <div
          *ngIf="submitted && !employementSuiteRef.valid"
          class="text-danger d-flex"
        >
          Unit is required
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control form-style"
          placeholder="City or Town"
          [(ngModel)]="_model.employementCity"
          name="employementCity"
          required
          #employementCityRef="ngModel"
        />
        <div
          *ngIf="submitted && !employementCityRef.valid"
          class="text-danger d-flex"
        >
          City is required
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <select
              class="form-select form-style w-100"
              [(ngModel)]="_model.employementTaxeId"
              name="employementTaxeId"
              required
              #employementTaxeIdRef="ngModel"
            >
              <option *ngFor="let s of states" [value]="s.id">
                {{ s.stateName }}
              </option>
            </select>
            <div
              *ngIf="submitted && !employementTaxeIdRef.valid"
              class="text-danger d-flex"
            >
              State is required
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <input
              type="text"
              class="form-control form-style"
              placeholder="Zip Code"
              [(ngModel)]="_model.employementZip"
              name="employementZip"
              required
              #employementZipRef="ngModel"
            />
            <div
              *ngIf="submitted && !employementZipRef.valid"
              class="text-danger d-flex"
            >
              Zip Code is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control form-style"
          placeholder="Employer Phone Number"
          [(ngModel)]="_model.employerPhoneNumber"
          name="employerPhoneNumber"
          required
          #employerPhoneNumberRef="ngModel"
        />
        <div
          *ngIf="submitted && !employerPhoneNumberRef.valid"
          class="text-danger d-flex"
        >
          Employer Phone Number is required
        </div>
      </div>
      <div class="m-1 p-0 radio-input text-left">
        <div class="row">
          <div class="col-md-12">
            <input
              type="checkbox"
              class="form-style"
              placeholder=""
              [(ngModel)]="_model.isCurrentJob"
            />
            <p>This is my Current Job</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="date"
          class="form-control form-style"
          placeholder="Estimated Start date"
          [(ngModel)]="_model.estimatedStartDate"
          name="estimatedStartDate"
          required
          #estimatedStartDateRef="ngModel"
        />
        <div
          *ngIf="submitted && !estimatedStartDateRef.valid"
          class="text-danger d-flex"
        >
          Estimated Start date is required
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 offset-md-3">
          <a routerLink="/app/purchase/income-info/1" class="btn" id="btn-back"
            >Back</a
          >
        </div>
        <div class="col-md-2">
          <a (click)="onNextClick(f, 3)" class="btn" id="btn-next">Next</a>
        </div>
      </div>
    </form>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<!-- 26A section end -->
<!-- Click Next button and go to section 26B -->

<!-- 26B section start -->
<div class="main-content" *ngIf="number == 3">
  <h2>What’s your title and compensation?</h2>
  <h6>We have to ask! if you’re not exactly sure, your best guess is fine.</h6>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <form action="" #f3="ngForm" id="employer-salary">
      <div class="form-group">
        <input
          type="text"
          class="form-control form-style"
          placeholder="Job Title"
          [(ngModel)]="_model.jobTitle"
          name="jobTitle"
          required
          #jobTitleRef="ngModel"
        />
        <div *ngIf="submitted && !jobTitleRef.valid" class="text-danger d-flex">
          Job Title is required
        </div>
      </div>
      <div class="form-group">
        <input
          type="number"
          class="form-control form-style"
          placeholder="Estimated Annual Base Salery"
          [(ngModel)]="_model.estimatedAnnualBaseSalary"
          name="estimatedAnnualBaseSalary"
          required
          #estimatedAnnualBaseSalaryRef="ngModel"
        />
        <div
          *ngIf="submitted && !estimatedAnnualBaseSalaryRef.valid"
          class="text-danger d-flex"
        >
          Annual Base Salery is required
        </div>
      </div>
      <div class="form-group">
        <input
          type="number"
          class="form-control form-style"
          placeholder="Estimated Annual Bonus"
          [(ngModel)]="_model.estimatedAnnualBonus"
          name="estimatedAnnualBonus"
          required
          #estimatedAnnualBonusRef="ngModel"
        />
        <div
          *ngIf="submitted && !estimatedAnnualBonusRef.valid"
          class="text-danger d-flex"
        >
          Annual Bonus is required
        </div>
      </div>
      <div class="form-group">
        <input
          type="number"
          class="form-control form-style"
          placeholder="Estimated Annual Commission"
          [(ngModel)]="_model.estimatedAnnualCommission"
          name="estimatedAnnualCommission"
          required
          #estimatedAnnualCommissionRef="ngModel"
        />
        <div
          *ngIf="submitted && !estimatedAnnualCommissionRef.valid"
          class="text-danger d-flex"
        >
          Annual Commission is required
        </div>
      </div>
      <div class="form-group">
        <input
          type="number"
          class="form-control form-style"
          placeholder="Estimated Annual Overtime"
          [(ngModel)]="_model.estimatedAnnualOvertime"
          name="estimatedAnnualOvertime"
          required
          #estimatedAnnualOvertimeRef="ngModel"
        />
        <div
          *ngIf="submitted && !estimatedAnnualOvertimeRef.valid"
          class="text-danger d-flex"
        >
          Annual Overtime is required
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <a routerLink="/app/purchase/income-info/2" class="btn" id="btn-back"
          >Back</a
        >
      </div>
      <div class="col-md-2">
        <a (click)="saveEmpToDb(f3)" class="btn" id="btn-next">Next</a>
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<!-- 26B section end   -->

<!-- Click on next button and go to section 26C -->
<!-- Click any button in 26C section it will go to the purchase-income-source27 component -->
<!-- 26C section start -->
<div class="main-content" *ngIf="number == 4">
  <h2>Great! do you have any other forms of employment?</h2>
  <h6 class="narrow-padding">
    if you have provided two years of employment history that’s all we need.
  </h6>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <a
      routerLink="/app/purchase/income-info/2"
      class="btn"
      class="btn btn-primary btn-style btn-orange"
      >Yes, I have more to add</a
    >
    <!-- //(click)="onHaveMoreClick(true)" -->

    <a
      routerLink="/app/purchase/income-info/5"
      class="btn"
      class="btn btn-primary btn-style btn-orange"
      >No, I don’t have more to add</a
    >
    <!-- (click)="onHaveMoreClick(false)" -->

    <div class="row">
      <div class="col-md-12 margin-top">
        <a
          routerLink="/app/purchase/income-info/3"
          class="btn"
          class="btn"
          id="btn-back"
          >Back</a
        >
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<!-- 26C section end -->

<div class="main-content" *ngIf="number == 5">
  <h2>
    Do you have other sources of income? <img src="img/info.svg" alt="" />
  </h2>
  <h6 class="narrow-padding">
    Sources of income can include things like alimony, retirement, and social
    security. Click the info button to see a complete list.
  </h6>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <a
      routerLink="/app/purchase/income-info/6"
      class="btn btn-primary btn-style btn-orange"
      >Yes</a
    >

    <a
      routerLink="/app/purchase/assets-info/1"
      class="btn btn-primary btn-style btn-orange"
      >No</a
    >

    <div class="row">
      <div class="col-md-12 margin-top">
        <a routerLink="/app/purchase/income-info/4" class="btn" id="btn-back"
          >Back</a
        >
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>

<!-- Click back button to go to the purchase-income26 component -->
<!-- Click No to go to the page no 28 -->
<!-- click yes togo to the 27A -->

<!-- section 27A start -->
<div class="main-content" *ngIf="number == 6">
  <h2>Lets do a quick review of your income. Look good?</h2>
  <div class="content-area">
    <div class="row">
      <div class="col-md-8">
        <h6>Borrower Information</h6>
      </div>
      <div class="col-md-4 right-align">
        <a routerLink="/app/purchase/income-info/7" class="btn" id="btn-edit"
          >Edit</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="profile-details">
          <p>Employment type: W-2 Employment</p>
          <p>Employment Name: Goolge</p>
          <p>Address: 5500 balcones Drive</p>
          <p>City: Austin</p>
          <p>State: TX</p>
          <p>Zip Code: 78731</p>
          <p>Employer Start Date: 02/01/2015</p>
          <p>Job Title: Programer</p>
          <p>Estimated Annual Base Saleary: $125.000</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <a routerLink="/app/purchase/income-info/5" class="btn" id="btn-back"
          >Back</a
        >
      </div>
      <div class="col-md-2">
        <a
          routerLink="/app/purchase/assets-info/5"
          class="btn"
          id="btn-next"
          (click)="onIncomeComplete()"
          >Next</a
        >
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<!-- section 27A end -->

<!-- Click Edit button on 27A then it will go to below section 27B -->

<!-- 27B Starts -->
<div class="main-content" *ngIf="number == 7">
  <h2>Let's do a quick review of your income. Look good?</h2>
  <div class="content-area">
    <div class="row">
      <div class="col-md-8">
        <h6>Borrower Information</h6>
      </div>
      <div class="col-md-4 right-align">
        <a routerLink="/app/purchase/income-info/6" class="btn" id="btn-edit"
          >Done</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 margin-top">
        <form action="" #f7="ngForm" id="borrower-info">
          <select class="form-select form-style">
            <option>W-2 Employee</option>
          </select>
          <input
            type="text"
            class="form-control form-style"
            placeholder="Employer Name"
            [(ngModel)]="_model.employerName"
            name="employerName"
            required
            #employerNameRef="ngModel"
          />
          <input
            type="text"
            class="form-control form-style"
            placeholder="Address"
            [(ngModel)]="_model.employementAddress"
            name="employementAddress"
            required
            #employementAddressRef="ngModel"
          />
          <input
            type="text"
            class="form-control form-style"
            placeholder="Apt / Unit"
            [(ngModel)]="_model.employementSuite"
            name="employementSuite"
            required
            #employementSuiteRef="ngModel"
          />
          <input
            type="text"
            class="form-control form-style"
            placeholder="City or Town"
            [(ngModel)]="_model.employementCity"
            name="employementCity"
            required
            #employementCityRef="ngModel"
          />

          <div class="row">
            <div class="col-md-5">
              <select
                class="form-select form-style"
                [(ngModel)]="_model.employementTaxeId"
                name="employementTaxeId"
                required
                #employementTaxeIdRef="ngModel"
              >
                <option>State</option>
              </select>
            </div>
            <div class="col-md-7">
              <input
                type="text"
                class="form-control form-style"
                placeholder="Zip Code"
                [(ngModel)]="_model.employementZip"
                name="employementZip"
                required
                #employementZipRef="ngModel"
              />
            </div>
          </div>
          <input
            type="text"
            class="form-control form-style"
            appPhoneMask
            placeholder="Employer Phone Number"
            [(ngModel)]="_model.employerPhoneNumber"
            name="employerPhoneNumber"
            required
            #employerPhoneNumberRef="ngModel"
          />
          <div class="radio-input">
            <div class="row">
              <div class="col-md-12">
                <input type="checkbox" class="form-style" placeholder="" />
                <p>This is my Current Job</p>
              </div>
            </div>
          </div>
          <input
            type="text"
            class="form-control form-style"
            placeholder="Estimated Start date"
            [(ngModel)]="_model.estimatedStartDate"
            name="estimatedStartDate"
            required
            #estimatedStartDateRef="ngModel"
          />
          <!-- <input
          type="date"
          class="form-control form-style"
          placeholder="Estimated Start date"
          > -->
          <!-- [(ngModel)]="_model.estimatedStartDate" -->

          <input
            type="text"
            class="form-control form-style"
            placeholder="Job Title"
            [(ngModel)]="_model.jobTitle"
            name="jobTitle"
            required
            #jobTitleRef="ngModel"
          />
          <input
            type="number"
            class="form-control form-style"
            placeholder="Estimated Annual Base Salery"
            [(ngModel)]="_model.estimatedAnnualBaseSalary"
            name="estimatedAnnualBaseSalary"
            required
            #estimatedAnnualBaseSalaryRef="ngModel"
          />
          <input
            type="number"
            class="form-control form-style"
            placeholder="Estimated Annual Bonus"
            [(ngModel)]="_model.estimatedAnnualBonus"
            name="estimatedAnnualBonus"
            required
            #estimatedAnnualBonusRef="ngModel"
          />
          <input
            type="number"
            class="form-control form-style"
            placeholder="Estimated Annual Commission"
            [(ngModel)]="_model.estimatedAnnualCommission"
            name="estimatedAnnualCommission"
            required
            #estimatedAnnualCommissionRef="ngModel"
          />
          <input
            type="number"
            class="form-control form-style"
            placeholder="Estimated Annual Overtime"
            [(ngModel)]="_model.estimatedAnnualOvertime"
            name="estimatedAnnualOvertime"
            required
            #estimatedAnnualOvertimeRef="ngModel"
          />
        </form>
      </div>
    </div>
  </div>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <a routerLink="/app/purchase/income-info/6" class="btn" id="btn-back"
          >Back</a
        >
      </div>
      <div class="col-md-2">
        <a routerLink="/app/purchase/assets-info/1" class="btn" id="btn-next"
          >Next</a
        >
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a routerLink="/account/login">Log in</a></p>

    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
<!-- 27B Ends -->
