<div class="Content-Step-Body text-white">
  <div class="container">
    <h1 class="pb-5">
      Number of late mortgage payments in the
      <br />
      last 12 months?
    </h1>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="Back" (click)="proceedToPrevious()">
          <i class="fa fa-angle-left" style="font-size: 25px"></i>Back
        </p>
      </div>
      <div class="col-lg-4">
        <div class="BTN">
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mt-4"
            id="Family"
            (click)="proceedToNext()"
          >
            None
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3 mt-3"
            (click)="proceedToNext()"
          >
            One Late Payment
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3 mt-3"
            (click)="proceedToNext()"
          >
            More Than One
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart p63 mt-5">
      <span>63%</span>
    </div>
  </div>
</div>
