.btn {
  width: 100%;
}
.selected {
  background-color: #f47741;
}

#back {
  margin-top: 175px;
  margin-right: 150px;
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

#num {
  color: #0cc4d4 !important;
}
#Email {
  color: #0cc4d4 !important;
}
.gage-chart {
  margin-top: 50px !important;
}
