<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="">How will your property be used?</h2>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="back" class="fa fa-angle-left" (click)="proceedToPrevious()">
          <span style="margin-left: 10px">Back</span>
        </p>
      </div>
      <div class="col-lg-4">
        <div class="btn">
          <br /><br />
          <button
            type="button"
            class="btn btn-outline-primary btn btn-lg btn-block mb-3"
            (click)="proceedToNext('Primary Residence')"
            [class.selected]="formData.PropertyUse == 'Primary Residence'"
          >
            Primary Residence
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext('Secondary Home')"
            [class.selected]="formData.PropertyUse == 'Secondary Home'"
          >
            Secondary Home
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3"
            (click)="proceedToNext('Investment Property')"
            [class.selected]="formData.PropertyUse == 'Investment Property'"
          >
            Investment Property
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart">
      <span>11%</span>
    </div>
  </div>
</div>
