<div class="Content-Step-Body text-white">
  <div class="container">
    <h2 class="pb-5">What is your gross annual household income?</h2>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p id="Back">
          <i class="fa fa-angle-left" style="font-size: 25px"></i>Back
        </p>
      </div>
      <div class="col-lg-4">
        <div class="BTN">
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mt-4"
            id="Family"
          >
            Less than $20,000
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3 mt-3"
          >
            $20,000 - $50,000
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3 mt-3"
          >
            $50,000 - $100,000
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3 mt-3"
          >
            $100,000 - $200,000
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block mb-3 mt-3"
          >
            $200,000+
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart p74 mt-5">
      <span>74%</span>
    </div>
  </div>
</div>
