<div class="loan-application">
  <div class="row min-vh-100 flex-column flex-md-row">
    <aside class="col-3 p-0 flex-shrink-1">
      <nav
        class="navbar navbar-expand flex-md-column flex-row align-items-start px-0"
      >
        <ul
          class="flex-md-column flex-row navbar-nav w-100 justify-content-between mt-5"
        >
          <li
            class="nav-item"
            [class.active]="item.isActive"
            *ngFor="let item of menuItems; let i=index"
          >
            <a
              class="nav-link text-nowrap"
              href="#"
              *ngIf="item.route && item.route.indexOf('http') != 0"
              [routerLink]="[item.route]"
              [queryParams]="{ id : Id }"
              [class.bgcolor]="item.isBackgroundcolor"
              [class.active]="item.isActive"
            >
              <div class="circle">
                <span *ngIf="item.isBackgroundcolor && !item.isActive"
                  ><i class="fas fa-check"></i
                ></span>
              </div>
              <span class="label">{{ item.label }}</span>
              <div class="line" *ngIf="menuItems.length != (i+1)"></div>
            </a>
          </li>
        </ul>
      </nav>
    </aside>
    <main class="col-9 bg-faded flex-grow-1">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
