<div class="Content-Step-Body text-black">
  <div class="container">
    <h2 class="font-weight-bold">Can you show proof of income?</h2>

    <div class="row justify-content-center">
      <div class="col-lg-4">
        <p
          id="back"
          class="fa fa-angle-left cursor_pointer"
          (click)="proceedToPrevious()"
        >
          <span style="margin-left: 5px">Back</span>
        </p>
      </div>
      <div class="col-lg-4">
        <div class="BTN">
          <button
            type="button"
            class="btn btn-outline-blue btn-lg btn_mwh btn-block mt-8"
            (click)="proceedToNext(true)"
            [class.selected]="formData.proofOfincome == true"
          >
            Yes
          </button>
          <button
            type="button"
            class="btn btn-outline-blue btn-lg btn_mwh btn-block mb-3 mt-3"
            (click)="proceedToNext(false)"
            [class.selected]="formData.proofOfincome == false"
          >
            No
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gage-chart-blue p79 mt-5 d-lg-flex d-none">
      <span>79%</span>
    </div>
  </div>
</div>
